/*
Author: Donald L. Merand
Description: These are the standard colors that we'll use in our web sites.
*/

/* Official Explo Colors */
/* Primary Palette */
.x-orange { color: #F7921E; }
.x-hover-orange:hover {
  color: #F7921E;
  transition: color .15s ease-in;
}
/*.x-orange { color: #F68825; }*/
.x-lightorange { color: #F9A134; }
.x-hover-lightorange:hover {
  color: #F9A134;
  transition: color .15s ease-in;
}
.x-coolgray { color: #939598; }
.x-hover-coolgray:hover {
  color: #939598;
  transition: color .15s ease-in;
}

/* Secondary Palette */
.x-aquablue { color: #5BC2D0; }
.x-hover-aquablue:hover {
  color: #5BC2D0;
  transition: color .15s ease-in;
}
.x-gray { color: #192431; }
/*.x-gray { color: #413E3B; }*/
.x-hover-gray:hover {
  color: #192431;
  transition: color .15s ease-in;
}
.x-palegray { color: #F2F2F2; }
/*.x-palegray { color: #F3EFEA; }*/
.x-hover-palegray:hover {
  color: #F2F2F2;
  transition: color .15s ease-in;
}


/* Semi-Official/Old Colors */
.x-paleorange { color: #F0BC82; }
.x-hover-paleorange:hover {
  color: #F0BC82;
  transition: color .15s ease-in;
}
.x-darkorange { color: #CE6D28; }
.x-hover-darkorange:hover { 
  color: #B95827;
  transition: color .15s ease-in;
}

.x-blue { color: #1482C8; }
.x-hover-blue:hover {
  color: #1482C8;
  transition: color .15s ease-in;
}
.x-paleblue { color: #E1F2FB; }
.x-hover-paleblue:hover {
  color: #E1F2FB;
  transition: color .15s ease-in;
}
.x-lightblue { color: #22A8E0; }
.x-hover-lightblue:hover {
  color: #22A8E0;
  transition: color .15s ease-in;
}

.x-purple { color: #8661BC; }
.x-hover-purple:hover {
  color: #8661BC;
  transition: color .15s ease-in;
}
.x-palepurple { color: #EDE7F3; }
.x-hover-palepurple:hover {
  color: #EDE7F3;
  transition: color .15s ease-in;
}

.x-green { color: #87BC26; }
.x-hover-green:hover {
  color: #87BC26;
  transition: color .15s ease-in;
}
.x-palegreen { color: #E7F2D4; }
.x-hover-palegreen:hover {
  color: #E7F2D4;
  transition: color .15s ease-in;
}
.x-darkgreen { color: #68960A; }
.x-hover-darkgreen:hover {
  color: #68960A;
  transition: color .15s ease-in;
}

.x-brown { color: #786040; }
.x-hover-brown:hover {
  color: #786040;
  transition: color .15s ease-in;
}
.x-palebrown { color: #F3EFE9; }
.x-hover-palebrown:hover {
  color: #F3EFE9;
  transition: color .15s ease-in;
}
.x-red { color: #C05341; }
.x-hover-red:hover {
  color: #C05341;
  transition: color .15s ease-in;
}
.x-palered { color: #F0DDD9; }
.x-hover-palered:hover {
  color: #F0DDD9;
  transition: color .15s ease-in;
}




 /* BACKGROUND COLORS */
.x-bg-orange { background: #F7921E; }
.x-hover-bg-orange:hover { 
  background: #F7921E;
  transition: background .1s ease-in;
}
.x-bg-lightorange { background: #F9A134; }
.x-hover-bg-lightorange:hover { 
  background: #F9A134;
  transition: background .1s ease-in;
}
.x-bg-coolgray { background: #939598; }
.x-hover-bg-coolgray:hover { 
  background: #939598;
  transition: background .1s ease-in;
}

.x-bg-aquablue { background: #5BC2D0; }
.x-hover-bg-aquablue:hover { 
  background: #5BC2D0;
  transition: background .1s ease-in;
}
.x-bg-gray { background: #192431}
.x-hover-bg-gray:hover { 
  background: #192431;
  transition: background .1s ease-in;
}
.x-bg-palegray { background: #F2F2F2; }
.x-hover-bg-palegray:hover { 
  background: #F2F2F2;
  transition: background .1s ease-in;
}


.x-bg-darkorange { background: #CE6D28; }
.x-hover-bg-darkorange:hover { 
  background: #B95827;
  transition: background .1s ease-in;
}
.x-bg-paleorange { background: #F0BC82; }
.x-hover-bg-paleorange:hover {
  background: #F0BC82;
  transition: background .1s ease-in;
}
.x-bg-blue { background: #1482C8; }
.x-hover-bg-blue:hover { 
  background: #1482C8;
  transition: background .1s ease-in;
}
.x-bg-paleblue { background: #E1F2FB; }
.x-hover-bg-paleblue:hover { 
  background: #E1F2FB;
  transition: background .1s ease-in;
}
.x-bg-lightblue { background: #22A8E0; }
.x-hover-bg-lightblue:hover { 
  background: #22A8E0;
  transition: background .1s ease-in;
}
.x-bg-purple { background: #8661BC; }
.x-hover-bg-purple:hover { 
  background: #8661BC;
  transition: background .1s ease-in;
}
.x-bg-palepurple { background: #EDE7F3; }
.x-hover-bg-palepurple:hover { 
  background: #EDE7F3;
  transition: background .1s ease-in;
}
.x-bg-green { background: #87BC26; }
.x-hover-bg-green:hover { 
  background: #87BC26;
  transition: background .1s ease-in;
}
.x-bg-palegreen { background: #E7F2D4; }
.x-hover-bg-palegreen:hover { 
  background: #E7F2D4;
  transition: background .1s ease-in;
}
.x-bg-darkgreen { background: #68960A; }
.x-hover-bg-darkgreen:hover { 
  background: #68960A;
  transition: background .1s ease-in;
}
.x-bg-brown { background: #786040; }
.x-hover-bg-brown:hover { 
  background: #786040;
  transition: background .1s ease-in;
}
.x-bg-palebrown { background: #F3EFE9; }
.x-hover-bg-palebrown:hover { 
  background: #F3EFE9;
  transition: background .1s ease-in;
}
.x-bg-red { background: #C05341; }
.x-hover-bg-red:hover { 
  background: #C05341;
  transition: background .1s ease-in;
}
.x-bg-palered { background: #F0DDD9; }
.x-hover-bg-palered:hover { 
  background: #F0DDD9;
  transition: background .1s ease-in;
}


/* BORDER COLORS */
.x-b--orange { border-color: #F7921E; }
.x-hover-b--orange:hover {
  border-color: #F7921E;
  transition: border .1s ease-in;
}
.x-focus-b-orange:focus {
  border-color: #F7921E;
  transition: border .1s ease-in;
}
.x-b--lightorange { border-color: #F9A134; }
.x-hover-b--lightorange:hover {
  border-color: #F9A134;
  transition: border .1s ease-in;
}
.x-b--coolgray { border-color: #939598; }
.x-hover-b--coolgray:hover {
  border-color: #939598;
  transition: border .1s ease-in;
}

.x-b--aquablue { border-color: #5BC2D0; }
.x-hover-b--aquablue:hover {
  border-color: #5BC2D0;
  transition: border .1s ease-in;
}
.x-b--gray { border-color: #192431}
.x-hover-b--gray:hover {
  border-color: #192431;
  transition: border .1s ease-in;
}
.x-b--palegray { border-color: #F2F2F2; }
.x-hover-b--palegray:hover {
  border-color: #F2F2F2;
  transition: border .1s ease-in;
}


.x-b--darkorange { border-color: #CE6D28; }
.x-hover-b--darkorange:hover {
  border-color: #B95827;
  transition: border .1s ease-in;
}
.x-hover-b--paleorange:hover {
  border-color: #F0BC82;
  transition: border .1s ease-in;
}
.x-b--paleorange { border-color: #F0BC82; }
.x-hover-b--paleorange:hover {
  border-color: #F0BC82;
  transition: border .1s ease-in;
}
.x-b--blue { border-color: #1482C8; }
.x-hover-b--blue:hover {
  border-color: #1482C8;
  transition: border .1s ease-in;
}
.x-b--paleblue { border-color: #E1F2FB; }
.x-hover-b--paleblue:hover {
  border-color: #E1F2FB;
  transition: border .1s ease-in;
}
.x-b--lightblue { border-color: #22A8E0; }
.x-hover-b--lightblue:hover {
  border-color: #22A8E0;
  transition: border .1s ease-in;
}
.x-b--purple { border-color: #8661BC; }
.x-hover-b--purple:hover {
  border-color: #8661BC;
  transition: border .1s ease-in;
}
.x-b--palepurple { border-color: #EDE7F3; }
.x-hover-b--palepurple:hover {
  border-color: #EDE7F3;
  transition: border .1s ease-in;
}
.x-b--green { border-color: #87BC26; }
.x-hover-b--green:hover {
  border-color: #87BC26;
  transition: border .1s ease-in;
}
.x-b--palegreen { border-color: #E7F2D4; }
.x-hover-b--palegreen:hover {
  border-color: #E7F2D4;
  transition: border .1s ease-in;
}
.x-b--darkgreen { border-color: #68960A; }
.x-hover-b--darkgreen:hover {
  border-color: #68960A;
  transition: border .1s ease-in;
}
.x-b--brown { border-color: #786040; }
.x-hover-b--brown:hover {
  border-color: #786040;
  transition: border .1s ease-in;
}
.x-b--palebrown { border-color: #F3EFE9; }
.x-hover-b--palebrown:hover {
  border-color: #F3EFE9;
  transition: border .1s ease-in;
}
.x-b--red { border-color: #C05341; }
.x-hover-b--red:hover {
  border-color: #C05341;
  transition: border .1s ease-in;
}
.x-b--palered { border-color: #F0DDD9; }
.x-hover-b--palered:hover {
  border-color: #F0DDD9;
  transition: border .1s ease-in;
}
