<h1>Listing airlines</h1>

<table>
  <tr>
    <th>Icao</th>
    <th>Short name</th>
    <th>Name</th>
    <th>Callsign</th>
    <th>Country</th>
    <th>Url</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @airlines.each do |airline| %>
  <tr>
    <td><%= airline.icao %></td>
    <td><%= airline.short_name %></td>
    <td><%= airline.name %></td>
    <td><%= airline.callsign %></td>
    <td><%= airline.country %></td>
    <td><%= airline.url %></td>
    <td><%= airline.location %></td>
    <td><%= link_to 'Show', airline_path(airline) %></td>
    <td><%= link_to 'Edit', edit_airline_path(airline) %></td>
    <td><%= link_to 'Destroy', airline_path(airline), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Airline', new_airline_path %>
