<p id="notice"><%= notice %></p>

<p>
  <b>Icao:</b>
  <%= @airline.icao %>
</p>

<p>
  <b>Short name:</b>
  <%= @airline.short_name %>
</p>

<p>
  <b>Name:</b>
  <%= @airline.name %>
</p>

<p>
  <b>Callsign:</b>
  <%= @airline.callsign %>
</p>

<p>
  <b>Country:</b>
  <%= @airline.country %>
</p>

<p>
  <b>Url:</b>
  <%= @airline.url %>
</p>

<p>
  <b>Location:</b>
  <%= @airline.location %>
</p>


<%= link_to 'Edit', edit_airline_path(@airline) %> |
<%= link_to 'Back', airlines_path %>
