<div class="dn db-l">
  <%= render partial: 'common/user_info' %>
</div>

<div class="lh-solid">
  <h1 class="mt4 mb3 f4 x-museo fw7">Your <%= h @current_year %> Summer</h1>
  <% if user_info('w1_program_name') %>
    <h2 class="mt4 f5 x-museo fw7">
      WEEK 1:
      <%= h user_info('w1_arrival_date').to_date.strftime('%b %d') %>-<%= h user_info('w1_departure_date').to_date.strftime('%b %d') %>
    </h2>
    <div><%= h user_info 'w1_program_name' %></div>
  <% end %>
  
  <% if user_info('s1_program_name') && user_info('s1_arrival_date') %>
    <h2 class="mt4 f5 x-museo fw7">
      1ST SESSION:
      <%= h user_info('s1_arrival_date').to_date.strftime('%b %d') %>-<%= h user_info('s1_departure_date').to_date.strftime('%b %d') %>
    </h2>
    <div class="mt2"><%= h user_info 's1_program_name' %></div>
    <div class="mt1 f6 x-coolgray"><%= h user_info 's1_res_type' %> Program</div>

    <% if user_info 's1_course1_name' %>
      <h3 class="f5 mt3 mb0 x-museo">COURSES</h3>
      <ul class="list mt1 mb0 pa0 f6 lh-title">
        <li><%= h user_info 's1_course1_name' %></li>
        <li><%= h user_info 's1_course2_name' %></li>
      </ul>
    <% end %>
    <% if user_info 's1_workshop1_name' %>
      <h3 class='f5 mt3 mb0 x-museo'>WORKSHOPS</h3>
      <ul class="list mt1 mb0 pa0 f6 lh-title">
        <li><%= h user_info 's1_workshop1_name' %></li>
        <li><%= h user_info 's1_workshop2_name' %></li>
        <% if user_info 's1_workshop3_name' %>
          <li><%= h user_info 's1_workshop3_name' %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if user_info('w2_program_name') %>
    <h2 class="mt4 f5 x-museo fw7">
      WEEK 2:
      <%= h user_info('w2_arrival_date').to_date.strftime('%b %d') %>-<%= h user_info('w2_departure_date').to_date.strftime('%b %d') %>
    </h2>
    <div><%= h user_info 'w2_program_name' %></div>
  <% end %>
  
  <% if user_info('w3_program_name') %>
    <h2 class="mt4 f5 x-museo fw7">
      WEEK 3:
      <%= h user_info('w3_arrival_date').to_date.strftime('%b %d') %>-<%= h user_info('w3_departure_date').to_date.strftime('%b %d') %>
    </h2>
    <div><%= h user_info 'w3_program_name' %></div>
  <% end %>

  <% if user_info('s2_program_name') && user_info('s2_arrival_date') %>
    <h2 class="mt4 f5 x-museo fw7">
      2ND SESSION:
      <%= h user_info('s2_arrival_date').to_date.strftime('%b %d') %>-<%= h user_info('s2_departure_date').to_date.strftime('%b %d') %>
    </h2>
    <div class="mt2"><%= h user_info 's2_program_name' %></div>
    <div class="mt1 f6 x-coolgray"><%= h user_info 's2_res_type' %> Program</div>

    <% if user_info 's2_course1_name' %>
      <h3 class="f5 mt3 mb0 x-museo">COURSES</h3>
      <ul class="list mt1 mb0 pa0 f6 lh-title">
        <li><%= h user_info 's2_course1_name' %></li>
        <li><%= h user_info 's2_course2_name' %></li>
      </ul>
    <% end %>
    <% if user_info 's2_workshop1_name' %>
      <h3 class="f5 mt3 mb0 x-museo">WORKSHOPS</h3>
      <ul class="list mt1 mb0 pa0 f6 lh-title">
        <li><%= h user_info 's2_workshop1_name' %></li>
        <li><%= h user_info 's2_workshop2_name' %></li>
      <% if user_info 's2_workshop3_name' %>
        <li><%= h user_info 's2_workshop3_name' %></li>
      <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if user_info('w4_program_name') %>
    <h2 class="mt4 f5 x-museo fw7">
      WEEK 4:
      <%= h user_info('w4_arrival_date').to_date.strftime('%b %d') %>-<%= h user_info('w4_departure_date').to_date.strftime('%b %d') %>
    </h2>
    <div><%= h user_info 'w4_program_name' %></div>
  <% end %>
  
  <% if user_info('w5_program_name') %>
    <h2 class="mt4 f5 x-museo fw7">
      WEEK 5:
      <%= h user_info('w5_arrival_date').to_date.strftime('%b %d') %>-<%= h user_info('w5_departure_date').to_date.strftime('%b %d') %>
    </h2>
    <div><%= h user_info 'w5_program_name' %></div>
  <% end %>

  <% if user_info('w6_program_name') %>
    <h2 class="mt4 f5 x-museo fw7">
      WEEK 6:
      <%= h user_info('w6_arrival_date').to_date.strftime('%b %d') %>-<%= h user_info('w6_departure_date').to_date.strftime('%b %d') %>
    </h2>
    <div><%= h user_info 'w6_program_name' %></div>
  <% end %>
</div><!-- your-summer -->

<% if user_info('balance') != nil %>
  <div>
    <h1 class="mt5 f4 x-museo fw7">TUITION INFO</h1>
    <h2 class="mb1 f5 x-museo fw7">CURRENT BALANCE</h2>
    <% if user_match('balance','0.00') %>
      <div class="f6 x-coolgray">Balance Paid In Full</div>
    <% else %>
      <div> $<%= user_info('balance') %> </div>
    <% end %>
    <% if user_info('balance').to_f > 0 %>
      <div class="mt2 f6 x-coolgray">
        <% if Date.today < DateTime.strptime("#{@current_year}-05-01", '%Y-%m-%d') %>
          Final balance due on May 1, <%= @current_year %>
        <% else %>
          Full payment of your balance is <span class="b">due immediately</span>
        <% end %>
      </div>
    <% end %>
    <% if current_page?(dashboard_index_url) || current_page?(root_url) %>
      <div class="mv3">
        <%= link_to "Make a Payment", new_dashboard_payment_path, class: xc('btn-s', add: ["no-underline"]) %>
      </div>
    <% end %>
    <div class="f6 x-coolgray i">
      If you have any questions about your balance, please contact your registrar at 781.762.7400 or <%= mail_to user_info('registrar_email'), user_info('registrar_email'), class: xc('link') %>.
    </div>
  </div><!-- tuition-info -->

  <% if (user_match('s1_res_type','day') || user_match('s2_res_type','day') || @current_user.enrolled_sessions.map{|s|s.is_mini}) && (user_info('bus_route') || user_info('carpool_list')) %>
    <div class="mt5 pv1 ph3 ba br2 x-b--lightorange bg-white">
      <h1 class="mb3 f4 x-museo fw7">Transportation Information</h1>
      <ul class="list pl0">
        <% if user_info('bus_route') %>
          <li><%= link_to 'Bus Route List', dashboard_transportation_bus_list_index_path, class: xc('link') %></li>
        <% end %>
        <% if user_info('carpool_list') %>
          <li><%= link_to 'Carpool List', dashboard_transportation_carpool_list_index_path, class: xc('link') %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if Date.today > DateTime.strptime("#{@current_year}-06-01", '%Y-%m-%d') %>
    <% if (user_match('s1_res_type','day') || user_match('s2_res_type','day')) %>
      <% if @current_user.enrolled_in("s1","Wellesley College") || @current_user.enrolled_in("s2","Wellesley College") %>
        <div class="mt5 pv1 ph3 ba br2 x-b--lightorange bg-white">
          <h1 class="mb3 f4 x-museo fw7">Stay Late Forms</h1>
          <ul class="list pl0">
            <li><%= link_to 'Stay Late Forms', stay_late_forms_path, class: xc('link') %></li>
          </ul>
        </div>
      <% end %>
    <% end %>
  <% end %>
  
<% end %>
