<%= render 'common/html/flash' %>

<div class="mt4 pt4 pb3 ph4 ba br2 x-b--orange x-orange">
  <div class="mv0 f4 f3-ns fw7 x-museo">Dashboard Announcements</div>
  <ul class="list pl0">
    <%= render 'dashboard/_announcements/payment_info' %>
    <%= render 'dashboard/_announcements/campdoc_available' %>
    <%= render 'dashboard/_announcements/transportation_lists_available' %>
  </ul>
</div>

<% if @summer_resources_debug || (Date.today >= @current_user.session_arrival_date && Date.today <= @current_user.session_departure_date) %>
  <h1 class="<%= xc 'h2' %>">Summer Resources</h1>
  <dl>
    <%= render 'dashboard/_summer_resources/atlas' %>
    <%= render 'dashboard/_summer_resources/student_email_form' %>
    <%= render 'dashboard/_summer_resources/trip_main_event_listing' %>
    <%= render 'dashboard/_summer_resources/summer_contact_info' %>
    <%= render 'dashboard/_summer_resources/summer_faq' %>
    <%= render 'dashboard/_summer_resources/stay_late_overnight_permission' %>
  </dl>
<% end %>

<h1 class="<%= xc 'h2' %>"> Summer Forms <span class='f6 x-coolgray'> <%= render 'common/forms_due_date' %> </span> </h1>
<p>
  In this section of the portal, please submit and review additional required and optional registration forms. In addition, health profile information needs to be submitted via CampDoc. <% if Date.today < DateTime.strptime("#{@current_year}-03-10", '%Y-%m-%d') %> <%= @current_year %> CampDoc forms will be available in February, and a CampDoc informational email with further information will be delivered to you at this time. <% else %> A CampDoc informational email with further information should arrive within 5 days of notice of your enrollment at Explo. <% end %>
</p>
<p>
  <span class="b">You have completed <%= h @completed_requirements %> of <%= h @total_requirements %> required forms.</span>
</p>

<div class="pb3">
  <%= button_to "Work on Summer Forms", forms_home_path, method: :get, class: xc('btn-l') %>
  <% unless @current_user.campdoc_profile_id.nil? || @current_user.campdoc_profile_id.empty? %>
    <% if @medical_forms_complete %>
      <%= link_to "Update CampDoc Forms", campdoc_sso_path(@current_profile), method: :post, target: "campdoc", class: xc('btn') %>
    <% else %>
      <%= link_to "Work on CampDoc Forms", campdoc_sso_path(@current_profile), method: :post, target: "campdoc", class: xc('btn') %>
    <% end %>
  <% end %>
</div>

<h1 class="<%= xc('h2') %>">Additional Resources</h1>
<p>
  Below we have consolidated resource information that is helpful for the summer. This section will be updated with additional information as we get closer to the start of Explo. 
</p>
<div class="cf">
  <div class="fl w-100 w-50-ns pr1-ns">
    <div class="f5 f4-ns x-museo fw7">Downloads</div>
    <ul class="list pl0">
      <%= render 'dashboard/_additional_resources/essentials' %>
      <%= render 'dashboard/_additional_resources/rules_standards' %>
      <%= render 'dashboard/_additional_resources/packing_list_download' %>
      <%= render 'dashboard/_additional_resources/trip_description_download' %>
      <%= render 'dashboard/_additional_resources/main_event_calendar_download' %>
      <%= render 'dashboard/_additional_resources/campdoc_guide_download' %>
      <%= render 'dashboard/_additional_resources/tuition_refund_download' %>
      <%= render 'dashboard/_additional_resources/health_insurance_download' %>
    </ul>
  </div><!-- downloads -->
  <div class="fl w-100 w-50-ns">
    <div class="f5 f4-ns x-museo fw7">Links</div>
    <ul class="list pl0">
      <%= render 'dashboard/_additional_resources/arrival_departure_links' %>
    </ul>
  </div><!-- links -->
</div>
