<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @profile.email %>
</p>

<p>
  <b>Password:</b>
  <%= @profile.password %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
