<h1 class="<%= xc('h2') %>">Forgotten Password</h1>
<p class="measure mb4">
  Login information and passwords are sent to the email address of the primary contact associated with that student. Please enter the email address of the account for which you have forgotten the password. We will send instructions on how to change your password to the email address associated with that account.
</p>

<%= form_tag 'forgot_password', class: xc('form') do %>
  <fieldset class="<%= xc('fieldset') %>">
    <legend class="<%= xc('legend') %>">Forgotten Password</legend>
    <label for='email', class="<%= xc('label') %>"> Email </label>
    <%= email_field_tag :email, "", class: xc('input-text') %>
  </fieldset>

  <div class="mb3">
    <%= submit_tag 'Send Info', class: xc('btn') %>
  </div>

<% end %>
<div class="mt3 f4">
  <%= link_to 'Return to login screen', login_path, class: xc('link') %>
</div>
