<h1 class="<%= xc 'h2' %>">Please Log in</h1>

<%= form_tag sessions_path, class: xc('form', add: ["mt3"]) do %>
  <fieldset class="<%= xc 'fieldset', replace: {"pv3" => "mv0 pv1"} %>">
    <div class="mt0">
      <%= label_tag :email, 'Email', class: xc('label') %>
      <%= text_field_tag :email, params[:email], class: xc('input-text') %>
    </div>
    <div class="mt3">
      <%= label_tag :password, 'Password', class: xc('label') %>
      <%= password_field_tag :password, "", class: xc('input-text') %>
    </div>
    <div class="mt2 f6 x-coolgray">
      <span class="b i">Please Note:</span> Password is case-sensitive.
    </div>
  </fieldset>
  <div class="mt3 mb2">
    <%= submit_tag "Log in", class: xc('btn') %>
  </div>
<% end %>

<div class="mt4 ml2 f4">
  <%= link_to 'I forgot my password', forgot_password_path, class: xc('link') %>
</div>
