<h1 class="<%= xc('h2') %>">
  Change Password for <%= h @current_profile.email %>
</h1>

<%= form_for @current_profile, html: {class: xc('form')} do |f| %>
  <fieldset class="<%= xc('fieldset') %>">
    <legend class="<%= xc('legend') %>">Reset Password</legend>
    <div>
      <%= f.label :full_name, raw("Full Name Associated with #{@current_profile.email}<br>(Your Name)"), class: xc('label') %>
      <%= f.text_field :full_name, class: xc('input-text') %>
    </div>
    <div class="mt3">
      <%= f.label :password, 'Password', class: xc('label') %>
      <%= f.password_field :password, class: xc('input-text') %>
    </div>
    <div class="mt3">
      <%= f.label :password_confirmation, 'Please Confirm Password', class: xc('label') %>
      <%= f.password_field :password_confirmation, class: xc('input-text') %>
    </div>
  </fieldset>

  <div class="mt3 mb3">
    <%= f.submit 'Save Info', class: xc('btn') %>
  </div>
<% end %>

<div class="mt4 ml2 f4">
  <%= link_to 'Return to Portal', root_path, class: xc('link') %>
</div>
