<h1 class="<%= xc 'h2' %>">Select Student</h1>

<div class="w-100 cf">
  <% @users.each do |u| %>
    <div class="fl dib w-100 w-50-m w-25-l mt2 f4">
      <%= link_to "#{u.get_key 'first_name'} #{u.get_key 'last_name'}", select_user_path(user_id: u.id), class: xc('link') %>
    </div>
  <% end %>
</div>
