<%
  # DESCRIPTION
  # Renders a circular button, in the Explo style
  # INPUTS
  # label: The text displayed in the center of the button
  # size: (optional) How big, in pixels, is the button. Expects a number
  #       string eg. "200". Defaults to "120"
%>
<% size ||= 120 %>
<div class="dt ba br-100 bw3 x-b--palegray x-bg-orange x-hover-bg-darkorange white tc pointer" style="width:<%= size %>px;height:<%= size %>px;">
  <div class="dtc v-mid"><%= label %></div>
</div>
