<h1 class="<%= xc('h2') %>">Residential Arrival Form</h1>

<%= render :partial => 'common/form_errors', :locals => { :object => @arrival_form } %>

<%= form_for @arrival_form, html: {class: xc('form-wide', add: ["mt4"])} do |f| %>
  <input type="hidden" id="current-user-id" value="<%= @current_user.id %>">


  <% if user_match('s1_res_type', 'Residential') %>
    <p class="mt3 b i">
      First session residential ARRIVAL date is <%= h user_info('s1_arrival_date').to_date.strftime('%A, %B %d, %Y') %>.<br>
      <%= render :partial => 'common/arrival_departure_inline_link_s1', :locals => {:open_tag => '', :close_tag => ''} %>for information about arrival day for <%= h user_info 's1_program_name' %>.
    </p>
  <% end %>
  <% if user_match('s2_res_type', 'Residential') && !user_match('s1_res_type','Residential') %>
    <p class='mt3 b i'>
        Second session residential ARRIVAL date is <%= h user_info('s2_arrival_date').to_date.strftime('%A, %B %d, %Y') %>.<br>
      <%= render :partial => 'common/arrival_departure_inline_link_s2', :locals => {:open_tag => '', :close_tag => ''} %>for information about arrival day for <%= h user_info 's2_program_name' %>.
    </p>
  <% end %>


  <div class='mt3 mb2 b'>
    Please select how you will arrive at Explo<span class='x-red'>*</span>
  </div>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :arrival_type, 'car', :disabled => @disabled %>
    By Car (Drop off at Explo)
   </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :arrival_type, 'plane', :disabled => @disabled %>
    By Plane (Shuttle Service from <%= @airport_name %>)
  </label>
  <% if (user_match('s1_campus', 'Yale University') || (user_match('s2_campus', 'Yale University') && !user_match('s1_campus','Wellesley College'))) %>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :arrival_type, 'train', :disabled => @disabled %>
      By Train (Shuttle Service from Union Station)
    </label>
  <% end %>



  <div id="arrive-by-car" class="dn">
    <hr class="mt4">
    <h2 class="<%= xc('h3') %>">ARRIVAL BY CAR</h2>
    <p class="i">Arrival Day: <%= render :partial => 'common/arrival_date' %></p>
    <p>
      Upon submission of this form, our records will indicate that <%= "#{h(user_info('first_name'))}" %> will arrive at Explo (on the campus of <%= @current_user.get_first_key(['s1_campus','s2_campus']) %>) by car between 1pm and 5pm on Arrival Day.<% if (user_match('s1_campus', 'Yale University') || (user_match('s2_campus', 'Yale University') && !user_match('s1_campus','Wellesley College'))) %> Please note that the drop off address is 358 College Street, New Haven, CT 06511.<% end %>
    </p>

    <div class='mt3 mb2 b'>
      Please indicate how <%= h user_info 'first_name' %> will arrive at <%= h @current_user.get_first_key(['s1_campus','s2_campus']) %>:
    </div>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :car_how, 'family member', :disabled => @disabled %>
        Family Member will drive <%= h user_info 'first_name' %> to campus
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :car_how, 'private car', :disabled => @disabled %>
        Private Car Service/Taxi will transport <%= h user_info 'first_name' %> to campus
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :car_how, 'other', :disabled => @disabled %>
        Other:
        <%= f.text_field :car_how_other, :disabled => @disabled, class: xc('input-text-narrow') %>
      </label>

    <div id="arrival-car-service-name" class="dn">
      <div class='mt3 mb2 b'>Please indicate the name of the car service you will be using</div>
      <label class="<%= xc('label') %>">
        Car Service Name:
        <%= f.text_field :car_service_name, :disabled => @disabled, class: xc('input-text-narrow') %>
      </label>
    </div>

    <div class='mt3 mb2 b'>
      Below, please share contact information for the student while they are traveling to Explo and any other details of their arrival.
    </div>
    <div class='f6 x-coolgray i'>
      This may include a student cell phone number,  the phone number of the private car service/taxi or family member that will be bringing <%= h user_info 'first_name' %> to campus, or anticipated arrival time, if arriving outside of the 1pm to 5pm Arrival Day time frame.
    </div>
    <%= f.text_area :car_comment, :disabled => @disabled, class: xc('textarea') %>
  </div><!-- arrive-by-car -->



  <div id="arrive-by-plane" class="dn">
    <hr class="mt4">
    <h2 class="<%= xc('h3') %>">ARRIVAL BY PLANE</h2>
    <p class="i">Arrival Day: <%= render :partial => 'common/arrival_date' %></p>
    <p>
      Your flight should arrive at <span class="b"><%= @airport_name %></span> on <span class="b"><%= render :partial => 'common/arrival_date' %></span> between <span class="b">12 noon and 5pm</span>. If you arrive outside of these arrival parameters, you will need to make special arrangements to get to Explo.
    </p>
    <% if (user_match('s1_campus', 'Yale University') || (user_match('s2_campus', 'Yale University') && !user_match('s1_campus','Wellesley College'))) %>
      <p>
        Students taking advantage of our shuttle bus service to the campus will be met at the airport by Explo staff wearing bright orange shirts. Buses pick students up at the baggage claim area of each terminal between 12 noon and 5pm on arrival Sundays only.
      </p>
      <p class="b">
        Please note that we charge a $75 fee each way to use the Explo shuttle bus service.
      </p>
    <% else %>
      <p>
        Students taking advantage of our free shuttle bus service to the campus will be met at the airport by Explo staff wearing bright orange shirts. Buses pick students up at the baggage claim area of each terminal between 12 noon and 5pm on arrival Sundays only.
      </p>
    <% end %>

    <h3 class="<%= xc('h4') %>">Arrival Flight Information</h3>
    <p>
      Please enter your arrival flight information below. If you have a connecting flight, enter information for the flight arriving at <%= @airport_name %>.
    </p>
    <%= f.hidden_field :plane_arrival_time %>
    <%= f.hidden_field :plane_arrival_time_am_pm %>
    <%= f.hidden_field :plane_arrival_time_status %>
    <label class="<%= xc('label') %>">
      Arrival Date:
      <%= f.date_select :plane_arrival_date, :default => @current_user.session_arrival_date, :disabled => @disabled, class: xc('select-narrow'), style: xs('select') %>
    </label>
    <%= f.hidden_field :plane_flight_destination_airport, :disabled => @disabled %>
    <label class="<%= xc('label') %>">
      Airline:
      <%= f.autocomplete_field :plane_flight_airline_name, autocomplete_airline_name_airlines_path, :update_elements => {:icao => '#arrival_form_plane_flight_airline'}, :disabled => @disabled, class: xc('input-text-narrow') %>
    </label>
    <%= f.hidden_field :plane_flight_airline, :disabled => @disabled %>
    <label class="<%= xc('label') %>">
      Flight #: <span class="f7">(remove all letters)</span>
    </label>
    <%= f.text_field :plane_flight_number, :disabled => @disabled, class: xc('input-text-narrow') %>
    <div id="arrival-flight-search-button" class="mb2 <%= xc('link') %>">Refresh Flight List</div>
    <label class="<%= xc('label') %>">
      Full Name of Student <span class="f7">(as listed on ticket)</span>:
      <%= f.text_field :plane_ticket_full_name, :disabled => @disabled, class: xc('input-text-narrow') %>
    </label>

    <p id="flight-schedule-results-pending" class="dn <%= xc('flash-notice') %>">
      Looking Up Flight Info...
    </p>
    <div id="flight-schedule-lookup-results"></div>

    <div id="selected-arrival-looks-good" class="dn mt3 <%= xc('flash-notice') %>">
      <p>Thank you for validating your flight.</p>
      <p>
        Please answer the remaining questions on this form and click submit to confirm your arrival information.
      </p>
    </div>

    <div id="selected-arrival-barely-allowed" class="dn mt3 <%= xc('flash-notice') %>">
      <p>Thank you for validating your flight.</p>
      <p>
        Although your flight arrives outside of our preferred arrival times, our shuttle service from the airport to Explo will still be available for <%= user_info 'first_name' %>.
      </p>
      <p>
        Please answer the remaining questions on this form and click submit to confirm your arrival information.
      </p>
    </div>

    <div id="selected-arrival-outside-allowed-times" class="dn mt3">
      <div class="<%= xc('flash-alert') %>">
        <p>Thank you for validating your flight.</p>
        <p>
          Please be aware that you have selected a flight that does not arrive at <%= @airport_name %> within our travel parameters. You will need to make private arrangements to get <%= user_info 'first_name' %> to Explo from the airport.
        </p>
        <p>
          Below, please indicate the private travel arrangements for <%= user_info 'first_name' %>.
        </p>
      </div>
      <p class='i'>
        Families interested in scheduling livery service from the airport can reach Carey Transportation at 800.223.9817. Please use Explo account number #112491 with Carey Transportation to receive a discounted rate.
      </p>
    </div><!-- selected-flight-outside-allowed-times -->

    <div id="arrival-plane-standard-method" class="dn">
      <div class="mt3 mb2 b">
        Please indicate how <%= user_info 'first_name' %> will get to Explo from the airport:<span class="x-red">*</span>
      </div>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_how_get_to_explo, 'shuttle student', :disabled => @disabled %>
        <%= user_info('first_name') %> will take the shuttle bus to Explo.
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_how_get_to_explo, 'shuttle family', :disabled => @disabled %>
        <%= user_info('first_name') %> AND FAMILY will take the shuttle bus to Explo.
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_how_get_to_explo, 'arrange own transport', :disabled => @disabled %>
        Family will arrange own transportation to Explo.
      </label>

      <p id="arrival-plane-standard-shuttle-family" class="dn <%= xc('flash-alert') %>">
        Please be advised that children traveling alone receive priority placement on our shuttle buses. Also, families transported to Explo via shuttle will have to make their own travel arrangements from the Explo campus.
      </p>

      <div id='arrival-plane-standard-arrange-own-transport-comments' class="dn">
        <div class="mt3 mb2 b">
          Below, please share the travel and contact information for the student while they are traveling to Explo and any other details of their arrival.
        </div>
        <div class="f6 x-coolgray i">
          This may include a student cell phone number, the name and phone number of the private car service/taxi or family member that will be bringing <%= h user_info 'first_name' %> to campus, or anticipated arrival time, if arriving outside of the 1pm to 5pm Arrival Day time frame.
        </div>
        <%= f.text_area :plane_how_get_to_explo_comments, :disabled => @disabled, class: xc('textarea') %>
      </div><!-- arrival-plane-standard-arrange-own-transport-comments -->
    </div><!-- arrival-plane-standard-method -->

    <div id="arrival-plane-force-arrange-own-transport" class="dn">
      <div class="mt3 mb2 b">
        Our family will arrange our own transportation to Explo by way of:
      </div>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_arrange_own_to_explo, 'private car', :disabled => @disabled %>
        Private Car Service/Taxi
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_arrange_own_to_explo, 'family member', :disabled => @disabled %>
        Family Member
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_arrange_own_to_explo, 'other', :disabled => @disabled %>
        Other:
        <%= f.text_field :plane_arrange_own_to_explo_other, :disabled => @disabled, class: xc('input-text-narrow') %>
      </label>

      <div id="arrival-plane-force-arrange-own-car-service-name" class="dn">
        <div class='mt3 mb2 b'>
          Please indicate the name of the car service you will be using
        </div>
        <label class="<%= xc('label') %>">
          Car Service Name:
          <%= f.text_field :plane_arrange_own_car_service_name, :disabled => @disabled, class: xc('input-text-narrow') %>
        </label>
      </div><!-- arrival-plane-force-arrange-own-car-service-name -->

      <div class="mt3 mb2 b">
        Below, please share contact information for the student while they are traveling to Explo and any other details of their arrival.
      </div>
      <div class="f6 x-coolgray i">
        This may include a student cell phone number and/or the phone number of the private car service/taxi or family member that will be bringing <%= user_info('first_name') %> to campus:
      </div>
      <%= f.text_area :plane_arrange_own_car_service_contact_information, :disabled => @disabled, class: xc('textarea') %>
    </div><!-- arrival-plane-force-arrange-own-transport -->


    <div class='mt3 mb2 b'>
      Please indicate how <%= user_info('first_name') %> will be flying:<span class="x-red">*</span>
    </div>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :plane_with_guardian, false, :disabled => @disabled %>
      <%= user_info('first_name') %> will arrive at <%= @airport_name %> WITHOUT a Parent/Guardian.
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :plane_with_guardian, true, :disabled => @disabled %>
      <%= user_info('first_name') %> will arrive at <%= @airport_name %> WITH a Parent/Guardian.
    </label>

    <div id="arrival-plane-unaccompanied-minor-question" class="dn">
      <div class="mt4 <%= xc('flash-alert') %>">
        <h3 class="<%= xc('h4') %>">IMPORTANT: UNACCOMPANIED MINOR STATUS</h3>
        <% if (user_match('s1_campus', 'Yale University') || (user_match('s2_campus', 'Yale University') && !user_match('s1_campus','Wellesley College'))) %>
          <%= f.hidden_field :is_yale, value: true %>
          <p>
            Because of the number of Explo at Yale students using JFK airport, Explo staff will be unable to assist with unaccompanied minor services. We urge you to not have your child fly with unaccompanied minor services from your airline. If you still elect to fly with these additional services, you will need to make your own arrangements to have your child signed out from the airline.
          </p>
        <% elsif(user_match('s1_campus', 'Wellesley College') || user_match('s2_campus', 'Wellesley College')) %>
          <p>
            Depending on the requirements of the airline you have chosen, <%= user_info('first_name') %> may be flying as an Unaccompanied Minor. The name of the Explo faculty member who will meet your child will be provided at least 36 hours prior to your child's departure for Explo. If the airline requires a name before that time, please give them "Sean McCarthy, the Assistant to the Head of Explo at Wellesley."
          </p>
        <% elsif(user_match('s1_campus', 'Wheaton College') || user_match('s2_campus', 'Wheaton College')) %>
          <p>
            If <%= user_info('first_name') %> will be flying as an Unaccompanied Minor, the name of the Explo faculty member who will meet your child will be provided at least 36 hours prior to your child's departure for Explo. If the airline requires a name before that time, please give them "Tandy Bryant, the Assistant to the Head of Explo at Wheaton."
          </p>
        <% end %>
      </div>

      <div class="mt3 mb2 b">
        Will <%= user_info('first_name') %> be using the airline's unaccompanied minor service?
      </div>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_is_um, true, :disabled => @disabled %>
        Yes
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_is_um, false, :disabled => @disabled %>
        No
      </label>

      <% unless (user_match('s1_campus', 'Yale University') || (user_match('s2_campus', 'Yale University') && !user_match('s1_campus','Wellesley College'))) %>
        <div id="arrival-plane-um-fee-question" class="dn">
          <div class='mt3 mb2 b'>
            If there are Unaccompanied Minor fees for your airline, have you already paid these fees?
          </div>
          <label class="<%= xc('label') %>">
            <%= f.radio_button :plane_um_fee, true, :disabled => @disabled %>
            Yes
          </label>
          <label class="<%= xc('label') %>">
            <%= f.radio_button :plane_um_fee, false, :disabled => @disabled %>
            No
          </label>
          <p id="arrival-plane-um-fee-notice" class="dn <%= xc('flash-alert') %>">
            Please contact Explo when you have paid your Unaccompanied Minor fees so that we can update your arrival information.
          </p>
        </div>
      <% end %>
    </div>



  </div><!--arrive-by-plane-->



  <% if (user_match('s1_campus', 'Yale University') || (user_match('s2_campus', 'Yale University') && !user_match('s1_campus','Wellesley College'))) %>
    <div id="arrive-by-train" class="dn">
      <hr class="mt4">
      <h2 class="<%= xc('h3') %>">ARRIVAL BY TRAIN</h2>
      <p class="i">Arrival Day: <%= render :partial => 'common/arrival_date' %></p>
      <p>
        On Arrival Day, <%= user_info('first_name') %> should arrive at Union Station in New Haven, CT between 1pm and 5pm. <%= user_info('first_name') %> will be met at Union Station by Explo staff wearing bright orange shirts. Our staff will direct students to our shuttle bus service to campus. Shuttle service is available from 1pm to 5pm on arrival Sundays only.
      </p>

      <label class="<%= xc('label') %>">
        Train #:
        <%= f.text_field :train_number, :disabled => @disabled, class: xc('input-text-narrow') %>
      </label>
      <label class="<%= xc('label') %>">
        Arriving at Union Station at
        <%= f.text_field :train_arrival_time, :size => 6, :disabled => @disabled, class: xc('input-text-narrow') %>
        o'clock
      </label>
      <label class="<%= xc('label', replace: {"db" => "dib"}) %>">
        <%= f.radio_button :train_arrival_am_pm, "AM", :disabled => @disabled %>
        AM
      </label>
      or
      <label class="<%= xc('label', replace: {"db" => "dib"}) %>">
        <%= f.radio_button :train_arrival_am_pm, "PM", :disabled => @disabled %>
        PM
      </label class="<%= xc('label') %>">
      <div class='mt3 mb2'>
        <label class="<%= xc('label') %>">
          Origination Station
          <%= f.text_field :train_origination_station, :disabled => @disabled, class: xc('input-text-narrow') %>
        </label>
        <label class="<%= xc('label') %>">
          in
          <%= f.text_field :train_origination_town, :disabled => @disabled, class: xc('input-text-narrow') %>
          (town/city).
        </label>
      </div>
      <div class='mt3 mb2'>
        <label class="<%= xc('label') %>">
          Ticket Confirmation #
          <%= f.text_field :train_ticket_confirmation, :disabled => @disabled, class: xc('input-text-narrow') %>
        </label>
      </div>
    </div><!-- arrive by train -->
  <% end %>

  <% if (user_match('s1_campus', 'Yale University') || (user_match('s2_campus', 'Yale University') && !user_match('s1_campus','Wellesley College'))) %>
    <hr class="mt4">
    <p>
      If you have questions or special circumstances surrounding your travel arrangements, please contact our Admissions Office at yale@explo.org or 781.762.7400.
    </p>
  <% end %>

  <%= render :partial => 'common/form_submit', :locals => { :f => f, :disabled => @disabled } %>
<% end %>
