<h1 class="<%= xc('h2') %>">Carpool List - <%= @current_user.get_key 'first_name' %> <%= @current_user.get_key 'last_name' %></h1>
<p>
  Below, please find a list of other students attending your program whose families have asked to be included in our carpool list.
</p>

<table>
  <% @sessions.each do |session| %>
    <tr><td colspan=4><h2><%= session.name %></h2></td></tr>
    <tr class="header">
      <td>Student Name</td>
      <td>Parent Name</td>
      <td>Parent Phone</td>
      <td>City</td>
      <td>ZIP</td>
    </tr>
    <% session.user_array.each do |user| %>
      <tr>
        <td><%= user.get_key 'first_name' %></td>
        <td><%= user.get_key('parent_1_name') %></td>
        <td><%= user.get_key 'parent_1_phone' %></td>
        <td><%= user.get_key 'city' %></td>
        <td><%= user.get_key 'zip' %></td>
      </tr>
    <% end %>
  <% end %>
</table>
