<!--
<% unless @current_user.campdoc_profile_id.nil? || @current_user.campdoc_profile_id.empty? %>
  <li>
  <% if @medical_forms_complete %>
    Thank you for completing your health profile on CampDoc! We will review your profile within 3 weeks of completion and contact you if we have any questions.
  <% else %>
    <div class="b">Health Forms now available on CampDoc!</div>
    You can now access your CampDoc medical forms right from the portal. 
  <% end %>
  </li>
<% end %>
-->
