<li>
  <div class="b">Payment Options</div>
  Payments to student accounts can now be made through our portal. Payment options can be accessed in the right-hand sidebar.
</li>
<% if user_match 'final_payment_received', '1' %>
  <li class="b">
    Final payment has been received for <%= user_info 'first_name' %> <%=user_info 'last_name' %>. Please note it may take a few days to clear and process, which would delay updating your final balance on the student portal.
  </li>
<% end %>
