<!--
<% if (user_match('s1_res_type','day') || user_match('s2_res_type','day')) && (user_info('bus_route') || user_info('carpool_list')) %>
  <li>
    <div class="b">Bus Route and Carpool Lists Available</div>
    You can now access your bus route and carpool lists. For more information, see the "Transportation Information" panel in the lower-right corner of this page.
  </li> 
<% end %>
-->
