<h1 class="<%= xc('h2') %>">Residential Departure Form</h1>

<%= render :partial => 'common/form_errors', :locals => { :object => @departure_form } %>

<%= form_for @departure_form, html: {class: xc('form-wide', add: ["mt4"])} do |f| %>
  <input type="hidden" id="current-user-id" value="<%= @current_user.id %>">

  <% if user_match('s1_res_type', 'Residential') and !user_match('s2_res_type','Residential') %>
    <div class="mt3 mb3">
      <div class="b i">
        First session residential DEPARTURE date is <%= h user_info('s1_departure_date').to_date.strftime('%A, %B %d, %Y') %>.
      </div>
      <%= render :partial => 'common/arrival_departure_inline_link_s1', :locals => {:open_tag => '', :close_tag => ''} %>for information about departure day for <%= h user_info 's1_program_name' %>.
    </div>
  <% end %>
  <% if user_match('s2_res_type', 'Residential') %>
    <div class="mt3 mb3">
      <div class="b i">
        Second session residential DEPARTURE date is <%= h user_info('s2_departure_date').to_date.strftime('%A, %B %d, %Y') %>.
      </div>
      <%= render :partial => 'common/arrival_departure_inline_link_s2', :locals => {:open_tag => '', :close_tag => ''} %>for information about departure day for <%= h user_info 's2_program_name' %>.
    </div>
  <% end %>

  <div class="mt3 mb2 b">
    Please select how you will depart from Explo<span class="x-red">*</span>
  </div>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :departure_type, 'car', :disabled => @disabled %>
    By Car (Pickup at Explo)
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :departure_type, 'plane', :disabled => @disabled %>
    By Plane (Shuttle Service to <%= @airport_name %>)
  </label>
  <% if(user_match('s1_campus', 'Yale University') || user_match('s2_campus', 'Yale University')) %>
    <%= f.hidden_field :is_yale, value: true %>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :departure_type, 'train', :disabled => @disabled %>
      By Train (Shuttle Service to Union Station)
    </label>
  <% end %>


  <div id="depart-by-car" class="dn">
    <hr class="mt4">
    <h2 class="<%= xc('h3') %>">Departure by Car</h2>
    <p class="i">Departure Day: <%= render :partial => 'common/departure_date' %></p>
    <p>
      You have selected "DEPARTURE BY CAR."
    </p>
    <p>
      Upon submission of this form, our records will indicate that <span class="b"><%= "#{h(user_info('first_name'))}" %> intends to be picked up at Explo by 12 noon on Departure Day.</span>
    </p>
  </div><!-- depart-by-car -->


  <div id="depart-by-plane" class="dn">
    <hr class="mt3">
    <h2 class="<%= xc('h3') %>">DEPARTURE BY PLANE</h2>
    <p class="i">Departure Day: <%= render :partial => 'common/departure_date' %></p>

    <% if(user_match('s1_campus', 'Yale University') || user_match('s2_campus', 'Yale University')) %>
      <p>
        Shuttle buses leave Explo on Departure Day throughout the morning to coordinate with flights departing JFK INTERNATIONAL AIRPORT between 8am and 1pm. For flights leaving before 8am, students will need to arrange private transportation.  For flights leaving later in the afternoon, students will be able to take our last shuttle and wait at the airport until their flight boards. Explo staff will stay in the vicinity of the airport until all students flights have departed. A phone number will be available for waiting students to call as needed for assistance.
      </p>
      <p class="b">
        Please note that there is a $75 fee to take the Explo shuttle to the airport.
      </p>
    <% else %>
      <p>
        Shuttle buses leave Explo on Departure Day throughout the morning to coordinate with flights departing BOSTON LOGAN AIRPORT between 8am and 1pm. For flights leaving before 8am, students will need to arrange private transportation.  For flights leaving later in the afternoon, students will be able to take our last shuttle and wait at the airport until their flight boards.
      </p>
    <% end %>

    <div class="mt3 mb2 b">
      DEPARTURE FLIGHT INFORMATION<span class="x-red">*</span>
    </div>

    <p>
      Please enter your departure flight information below. If you have a connecting flight, enter information for the flight departing from <%= @airport_name %>.
    </p>
      
    <label class="<%= xc('label') %>">
      Departure Date: 
      <%= f.date_select :plane_departure_date, :default => @current_user.session_departure_date, :disabled => @disabled %>
    </label>

    <div>
      <%= f.hidden_field :plane_non_standard_airport_code, :disabled => @disabled %>
      <label class="<%= xc('label') %>">
        Airport: 
        <%= f.autocomplete_field :plane_non_standard_airport_name, autocomplete_airport_name_airports_path, :update_elements => {:icao => '#departure_form_plane_non_standard_airport_code'}, :disabled => @disabled, class: xc('input-text-narrow') %>
      </label>
    </div>

    <div>
      <label class="<%= xc('label') %>">
        Airline: 
        <%= f.autocomplete_field :plane_airline, autocomplete_airline_name_airlines_path, :update_elements => {:icao => '#departure_form_plane_airline_code'}, :disabled => @disabled, class: xc('input-text-narrow') %>
        
        <%= f.hidden_field :plane_airline_code, :disabled => @disabled %>
      </label>
    </div>
    <div>
      <label class="<%= xc('label') %>">
        Flight # <span class="f7">(remove all letters):</span>
        <%= f.text_field :plane_flight_number, :disabled => @disabled, class: xc('input-text-narrow') %>
      </label>
      <div id="flight-search-button" class="<%= xc('link') %>">Refresh Flight List</div>
    </div>

    <%= f.hidden_field :plane_departure_time %>
    <%= f.hidden_field :plane_departure_time_am_pm %>
    <%= f.hidden_field :plane_departure_time_status %>

    <div class="mt3">
      <label class="<%= xc('label') %>">
        Full Name of Student <span class="f7">(as listed on ticket)</span>: 
        <%= f.text_field :plane_ticket_full_name, :disabled => @disabled, class: xc('input-text-narrow') %>
      </label>
    </div>

    <p id="flight-schedule-results-pending" class="dn <%= xc('flash-notice') %>">Looking Up Flight Info...</p>

    <div id="flight-schedule-lookup-results" class="mt3"></div>

    <div id="selected-departure-looks-good" class="dn mt3 <%= xc('flash-alert') %>">
      <p>Thank you for validating your flight.</p>
      <p>
        Please answer the remaining questions on this form and click submit to confirm your arrival information.
      </p>
    </div>

    <div id="selected-departure-early" class="dn mt3 <%= xc('flash-alert') %>">
      <p>Thank you for validating your flight.</p>
      <p>
        The flight you have selected leaves before 8am on departure day. You will need to arrange private transportation to <%= @airport_name %>.
      </p>
      <p>
        Families interested in livery service from the airport can reach Carey Transportation at 800.223.9817. Please use Explo account number #112491 with Carey Transportation to receive a discounted rate.
      </p>
    </div>

    <div id="selected-departure-late" class="dn mt3 <%= xc('flash-alert') %>">
      <p>Thank you for validating your flight.</p>
      <p>
        The flight you have selected leaves after 1pm on departure day. <%= user_info 'first_name' %> will be able to take our last shuttle and wait at the airport until their flight boards.
      </p>
    </div>

    <div id='selected-departure-bad-airport' class='dn mt3 <%= xc('flash-alert') %>'>
      <p>
        The flight you have selected departs from an airport other than <%= @airport_name %>. You will need to make private arrangements to get <%= user_info 'first_name' %> from Explo to the airport.  
      </p>
      <p>
        Families interested in livery service from the airport can reach Carey Transportation at 800.223.9817. Please use Explo account number #112491 with Carey Transportation to receive a discounted rate.
      </p>
    </div>

    <div id='selected-departure-date-late' class='dn mt3 <%= xc('flash-alert') %>'>
      <p>
        All students must leave campus by 12noon on Departure Day. Your flight departs on a day after <%= user_info 'first_name' %>’s Explo session has ended. <%= @current_user.gendered_text "He", "She", "They" %> will need to leave campus by 12noon on Departure Day.  
      </p>
      <p>
        Below, please indicate the private travel arrangements for <%= user_info 'first_name' %> that will take <%= @current_user.gendered_text "him", "her", "them" %> off-campus by 12noon on Departure Day.
      </p>
    </div>

    <div id='selected-departure-date-early' class='dn mt3 <%= xc('flash-alert') %>'>
      <p>
        Your flight departs before the program is finished. All students planning to leave Explo early must have their early departure approved by a Program Head. If you have not yet received approval for early departure, please contact our Admission Office at 781.762.7400. 
      </p>
      <p>
        Due to your early departure, you will need to make private arrangements to get <%= user_info 'first_name' %> from Explo to the airport. 
      </p>
    </div>


   <div id="departure-plane-method" class="">
      <div class="mt4 mb2 b">
        How will <%= user_info('first_name') %> be getting to the airport?
      </div>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_how_getting_to_airport, 'shuttle', :disabled => @disabled %>
        <%= "#{h(user_info('first_name'))}" %> will take the shuttle bus to <%= @airport_name %> and meet parent/guardian at the terminal.
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_how_getting_to_airport, 'meet at explo', :disabled => @disabled %>
        Parent/Guardian will meet student at Explo and arrange own transportation to the airport.
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_how_getting_to_airport, 'accompany to security, continue solo', :disabled => @disabled %>
        <%= "#{h(user_info('first_name'))}" %> will take the shuttle bus to <%= @airport_name %> and will be brought to security by Explo, but then continue to their flight on their own <% if(user_match('s1_campus', 'Wheaton College') || user_match('s2_campus', 'Wheaton College') || user_match('s1_campus', 'Wellesley College') || user_match('s2_campus', 'Wellesley College')) %>(or as an Unaccompanied Minor).<% end %>
      </label>

      <div id="departure-plane-meet-at-explo-arrange-own-transport" class="dn">
        <p class="<%= xc('flash-alert') %>">
          All students must be picked up from campus by 12 Noon on Departure Day.
        </p>
        <div class="mt3 mb2 b">
          Below, please share the travel and contact information for the student while they are traveling to the airport from Explo.
        </div>
        <div class="f6 x-coolgray i">
          This may include, for example, a student cell phone number or the name and phone number of the private car service/taxi or family member that will be bringing <%= h user_info 'first_name' %> to campus..
        </div>
        <%= f.text_area :plane_how_getting_to_airport_comments, :disabled => @disabled, class: xc('textarea') %>
      </div>
    </div>

    <div id="departure-plane-method-force-arrange-own-transport" class="dn">
      <div class="mt3 mb2 b">
          Our family will arrange our own transportation to the airport by way of:
      </div>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_force_how_getting_to_airport, 'private car', :disabled => @disabled %>
        Private Car Service/Taxi (departing from campus no later than 12 noon)
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_force_how_getting_to_airport, 'family member', :disabled => @disabled %>
        Family Member (departing from campus no later than 12 noon)
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :plane_force_how_getting_to_airport, 'other', :disabled => @disabled %>
        Other:
      </label>
      <%= f.text_field :plane_force_how_getting_to_airport_other, :disabled => @disabled, class: xc('input-text-narrow') %>
      <div class="mt3 mb2 b">
        Below, please share the travel and contact information for the student while they are traveling to the airport from Explo.
      </div>
      <div class="f6 x-coolgray i">
        This may include, for example, a student cell phone number or the name and phone number of the private car service/taxi or family member that will be bringing <%= h user_info 'first_name' %> to campus..
      </div>
      <%= f.text_area :plane_force_how_getting_to_airport_comments, :disabled => @disabled, class: xc('textarea') %>
    </div><!-- force-arrange-own-transportation -->




    <div class="mt4 mb2 b">
      Please indicate how <%= "#{h(user_info('first_name'))}" %> will be flying:<span class='x-red'>*</span>
    </div>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :plane_with_guardian, false, :disabled => @disabled %>
      <%= "#{h(user_info('first_name'))}" %> will fly WITHOUT a Parent/Guardian
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :plane_with_guardian, true, :disabled => @disabled %>
      <%= "#{h(user_info('first_name'))}" %> will fly WITH a Parent/Guardian
    </label>


    <div id="departure-plane-unaccompanied-minor-question" class="dn">
    <% if (user_match('s1_campus', 'Yale University') || user_match('s2_campus', 'Yale University')) %>
      <div class="<%= xc('flash-alert') %>">
        <h3>IMPORTANT: UNACCOMPANIED MINOR STATUS</h3>
        <p>
          Because of the number of Explo at Yale students using JFK airport, Explo staff will be unable to assist with unaccompanied minor services. We urge you to not have your child fly with unaccompanied minor services from your airline. If you still elect to fly with these additional services, you will need to make your own arrangements to have your child signed in to the airline.
        </p>
      </div>
    <% end %>

    <div class="mt3 mb2 b">
      Will <%= user_info('first_name') %> be using the airline's unaccompanied minor service?
    </div>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :plane_um, true, :disabled => @disabled %>
      Yes
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :plane_um, false, :disabled => @disabled %>
      No
    </label>
  </div>

    <% unless (user_match('s1_campus', 'Yale University') || (user_match('s2_campus', 'Yale University') && !user_match('s1_campus','Wellesley College'))) %>
      <div id="departure-plane-unaccompanied-minor-yes-followup-questions" class="dn">
        <div class="mt3 mb2 b">
          Please indicate the name of the person who will meet <%= "#{h(user_info('first_name'))}" %> at the destination airport. If you do not know who this person will be at this time, please leave the space blank.
        </div>
        <label class="<%= xc('label') %>">
          Name:
          <%= f.text_field :plane_um_name, :disabled => @disabled, class: xc('input-text-narrow') %>
        </label>

        <div class="mt3 mb2 b">
          If there are Unaccompanied Minor fees for your airline, have you already paid these fees?
        </div>
        <label class="<%= xc('label') %>">
          <%= f.radio_button :plane_um_fee, true, :disabled => @disabled %>
          Yes
        </label>
        <label class="<%= xc('label') %>">
          <%= f.radio_button :plane_um_fee, false, :disabled => @disabled %>
          No
        </label>

        <p id="departure-plane-um-fee" class="dn <%= xc('flash-alert') %>">
          Please contact Explo when you have paid your Unaccompanied Minor fees so that we can update your arrival information.
        </p>
      </div><!-- departure-unaccompanied-minor-yes-followup-questions -->
    <% end %>
    
   </div><!--depart-by-plane-->

  
  <% if(user_match('s1_campus', 'Yale University') || user_match('s2_campus', 'Yale University')) %>
    <div id="depart-by-train" class="dn">
      <hr class="mt4">
      <h2 class="<%= xc('h3') %>">DEPARTURE BY TRAIN</h2>
      <p class="i">Departure Day: <%= render :partial => 'common/departure_date' %></p>
      <p>
        Shuttle buses leave Explo on Departure Day for the train stations between 8am and 12 noon only. Please note: Explo buses will not transport students to train terminals other than Union Station in New Haven.
      </p>
        
      <label class="<%= xc('label') %>">
        Train #: 
        <%= f.text_field :train_number, :disabled => @disabled, class: xc('input-text-narrow') %>
      </label>

      <label class="<%= xc('label') %>">
        Departing Union Station at 
        <%= f.text_field :train_departure_time, :disabled => @disabled, class: xc('input-text-narrow') %>
        o'clock 
      </label class="<%= xc('label') %>">
      <label class="<%= xc('label', replace: {"db" => "dib"}) %>">
        <%= f.radio_button :train_departure_time_am_pm, 'AM', :disabled => @disabled %>
        AM
      </label> 
      or
      <label class="<%= xc('label', replace: {"db" => "dib"}) %>">
        <%= f.radio_button :train_departure_time_am_pm, 'AM', :disabled => @disabled %>
        PM
      </label>

      <label class="<%= xc('label') %>">
        Destination Station
        <%= f.text_field :train_destination_station, :disabled => @disabled, class: xc('input-text-narrow') %>
      </label>
      <label class="<%= xc('label') %>">
        In (Town/City)
        <%= f.text_field :train_destination_town, :disabled => @disabled, class: xc('input-text-narrow') %>
      </label>
    </div><!-- depart by train -->
  <% end %>

  <% if (user_match('s1_campus', 'Yale University') || (user_match('s2_campus', 'Yale University') && !user_match('s1_campus','Wellesley College'))) %>
    <hr class="mt4">
    <p>
      If you have questions or special circumstances surrounding your travel arrangements, please contact our Admissions Office at yale@explo.org or 781.762.7400.
    </p>
  <% end %>

  <%= render :partial => 'common/form_submit', :locals => { :f => f, :disabled => @disabled } %>
<% end %>
