<% if user_match('language_level','2') || user_match('language_level','3') %>
  <h2 class="<%= xc('h3') %>">English for Speakers of Other Languages (ESOL)</h2>
    
  <p>
    As a non-fluent English speaker, <%= h user_info('first_name') %> has been enrolled in our English for Speakers of Other Languages (ESOL) program. The goal of this program is to improve students' oral English and comprehension skills.
  </p>
  <p>
    We offer different levels of ESOL instruction based on students' English aptitude. When <%= h user_info('first_name') %> arrives at Explo at Wellesley this summer, <%= @current_user.gendered_text 'his', 'her', 'their' %> English abilities will be reassessed by our on-campus staff and <%= @current_user.gendered_text 'he', 'she', 'they' %> will be placed in an ESOL grouping with peers who have similar language abilities.
  </p>
  <p>
    <%= h user_info('first_name') %> will choose a second academic course when <%= @current_user.gendered_text 'he arrives', 'she arrives', 'they arrive' %> on campus.
  </p>
  <!-- course number is hard-coded here -->
  <%= f.hidden_field :p1_c1, :value => '370' %>
  <%= f.hidden_field :p2_c1, :value => '470' %>
<% else %>
  <%= f.hidden_field :is_fluent, :value => true %>
  <h2 class="<%= xc('h3') %>">Morning Course Selection</h2>
  <p>
    Students are enrolled in two courses each session at Explo at Wellesley. Each course meets in the morning from Monday through Friday for all three weeks of the session. Explo at Wellesley courses are numbered in the 300s and 400s; 300s meet first period and 400s meet second period.
  </p>
  <p>
    Courses are assigned on a first-come, first-served basis. Class size, in most cases, is limited to 16 students. The registrar will make every effort to assign you to your first choice. If a class is full, you will be assigned to another one of your choices.
  </p>
  <p>
    Before making your selections, please review our <%= link_to "#{@current_year} course descriptions",'http://www.explo.org/360/wellesley/courses', :target => 'wellesleycourses', class: xc('link') %>.
  </p>
        
  <div class="cf">
    <div class="fl w-100 w-50-l">
      <h2 class="<%= xc('h3') %>"><%= h @period1 %>00 Preferences</h2>
      <p>
        Make <span id='period1-count'>six</span> different choices below.
      </p>
      <p class='b'>
        You will be assigned one <%= h @period1 %>00-numbered course.
      </p>
      <% 6.times do |i| %>
        <label class="<%= xc('label') %>">
          Choice <%= h i+1 %>
        </label>
        <%= f.select :"p1_c#{i+1}", @period1_courses, {:include_blank => "Select One"}, {:disabled => @disabled, class: xc('select-narrow'), style: xs('select')} %>
      <% end %>
    </div>

    <div class="fl w-100 w-50-l">
      <h2 class="<%= xc('h3') %>"><%= h @period2 %>00 Preferences</h2>
      <p>
        Make <span id='period2-count'>six</span> different choices below.
      </p>
      <p class='b'>
        You will be assigned one <%= h @period2 %>00-numbered course.
      </p>
      <% 6.times do |i| %>
        <label class="<%= xc('label') %>">
          Choice <%= h i+1 %>
        </label>
        <%= f.select :"p2_c#{i+1}", @period2_courses, {:include_blank => "Select One"}, {:disabled => @disabled, class: xc('select-narrow'), style: xs('select')} %>
      <% end %>
    </div>
  </div>

  <p class='i'>
    Please Note: You must make unique course choices for each period. No duplicate choices are allowed for the same period. If a course is offered in both periods, you may select it once in each period, though it will only be assigned once.
  </p>

  <hr class="mt4">

<% end %>

<h2 class="<%= xc('h3') %>">Afternoon Workshop Selection</h2>
<p>
  Explo at Wellesley workshops are numbered in the <%= h @workshop_period %>00s.  Workshops are assigned on a first-come, first-served basis. Class size, in most cases, is limited to 16 students. The registrar will make every effort to assign you to your top choices. If a workshop is full, you will be assigned to another one of your choices.      
</p>
<p>
  Students are enrolled in three workshops each session. Each workshop meets in the afternoon for five (one-hour) periods each week.
</p>
<p class='i'>
  Note: the Sailing Workshop is an extended period workshop and uses part of the afternoon recreational activity period for additional time on Lake Waban.
</p>
<p class='b'>
  Please Note: No duplicate workshop choices are allowed.
</p>
<p>
  Before making your selections, please review our <%= link_to "#{@current_year} workshop descriptions", 'http://www.explo.org/360/wellesley/workshops', :target => 'wellesleyworkshops', class: xc('link') %>.
</p>

<h2 class="<%= xc('h3') %>">Workshop Preferences</h2>
<p> Make six different choices below.  </p>
<p class='b'>
  You will be assigned three workshops.
</p>
<% 6.times do |i| %>
  <label class="<%= xc('label') %>">
    Choice <%= h i+1 %>
  </label>
  <%= f.select :"w_c#{i+1}", @workshops, {:include_blank => "Select One"}, {:disabled => @disabled, class: xc('select-narrow'), style: xs('select')} %>
<% end %>

<hr class="mt4">

<h2 class="<%= xc('h3') %>">Special Weekend Events</h2>
<p>
  Optional weekend sports clinics and special overnight trips take the place of our regular weekend trips and require advance sign up. Please note: on each weekend day there will be 10-12 additional trip offerings (not listed here) that do not require advance sign-up. These trips range from cultural excursions into Boston (art museums, baseball games, harbor tours) to adventures throughout New England (rock climbing, indoor skydiving, Six Flags).
</p>
<p>
  For details about the Berkshires Adventure or 9th Grade NYC Weekend trips, please visit: <%= link_to 'www.explo.org/360/wellesley/trips','http://www.explo.org/360/wellesley/trips', :target => 'wellesleytrips', class: xc('link') %>.
</p>
<p>
  For more details about our Sports Clinics, please visit: <%= link_to 'www.explo.org/360/wellesley/athletics','http://www.explo.org/360/wellesley/athletics', :target => 'wellesleyathletics', class: xc('link') %>.
</p>
<p class='b'>
  Below, please mark your trip preference for each weekend:
</p>

<% if(user_match('s1_program_type','360')) %>
  <div class='mb2 b'>
    First Session, Weekend 1 (July 1 - 2)
  </div>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_1_weekend_1, '', :disabled => @disabled %>
    <span class="pl1">I will sign up for regular trip offerings while at the program</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_1_weekend_1, 'BER', :disabled => @disabled %>
    <span class="pl1">Berkshires Adventure Weekend ($340, Overnight)</span>
  </label>
    
  <div class="mt3 mb2 b">
    First Session, Weekend 2 (July 8 - 9)
  </div>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_1_weekend_2, '', :disabled => @disabled %>
    <span class="pl1">I will sign up for regular trip offerings while at the program</span>
  </label>
  <% if user_match('grade','9') %>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :session_1_weekend_2, 'NYC', :disabled => @disabled %>
      <span class="pl1">NYC Weekend ($340, Overnight)</span>
    </label>
  <% end %>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_1_weekend_1, 'SOC', :disabled => @disabled %>
    <span class="pl1">Soccer Clinic ($60, Saturday)</span>
  </label>
<% end %>

<% if(user_match('s2_program_type','360')) %>
  <div class='mb2 b'>
    Second Session, Weekend 1 (July 22 - 23)
  </div>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_weekend_1, '', :disabled => @disabled %>
    <span class="pl1">I will sign up for regular trip offerings while at the program</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_weekend_1, 'BER', :disabled => @disabled %>
    <span class="pl1">Berkshires Adventure Weekend ($340, Overnight)</span>
  </label>
    
  <div class='mt3 mb2 b'>
    Second Session, Weekend 2 (July 29 - 30)
  </div>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_weekend_2, '', :disabled => @disabled %>
    <span class="pl1">I will sign up for regular trip offerings while at the program</span>
  </label>
  <% if user_match 'grade', '9' %>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :session_2_weekend_2, 'NYC', :disabled => @disabled %>
      <span class="pl1">NYC Weekend ($340, Overnight)</span>
    </label>
  <% end %>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_weekend_1, 'SOC', :disabled => @disabled %>
    <span class="pl1">Soccer Clinic ($60, Saturday)</span>
  </label>
<% end %>
