<div id="course-selection">
  <h2 class="<%= xc('h3') %>">Course Selection</h2>
  <p>
    Explo at Yale courses are numbered in the <%= h @period1 %>00s and <%= h @period2%>00s.  Courses are assigned on a first-come, first-served basis. Class size, in most cases, is limited to 16 students. The registrar will make every effort to assign you to your preferred choices. If a class is full, you will be assigned to another one of your choices.
  </p>
    
  <p>
    Before making your selections, please review our <%= link_to "#{@current_year} course descriptions", "http://www.explo.org/360/yale/courses", :target => 'yalecourses', class: xc('link') %>.
  </p>

  <p class="i">
    To sign up for <%= link_to 'The Filmmaking Concentration', 'http://www.explo.org/360/yale/film', target: '_fmc', class: xc('link') %>, please select 100+ and +200 as your first choice for each period. Students enrolled in Filmmaking take this full-morning concentration in lieu of two regular morning courses.
  </p>

  <% if(user_match('language_level','2') || user_match('language_level','3')) %>
    <p>
      <span class="b">Note for ESOL Students:</span> You will be placed in one section of ESOL and one regular Explo course that is suitable for intermediate-level English speakers. Select choices for your additional course below.
    </p>
  <% end %>

  <div class="cf">
    <div class="fl w-100 w-50-l">
      <h2 class="<%= xc('h3') %>"><%= h @period1 %>00 Preferences</h2>
      <p>
        Make <span id='period1-count'>six</span> different choices below.
      </p>
      <p class='b'>
        You will be assigned one <%= h @period1 %>00-numbered course.
      </p>
      <% if @has_esol == 1 %>
        <label class="<%= xc('label') %>">
          Choice 1: <%= f.select :p1_c1, @p1_c1_esol, {}, class: xc('select-narrow'), style: xs('select') %>
        </label>
      <% end %>
      <% @period_count.times do |i| %>
        <label class="<%= xc('label') %>">
          Choice <%= h i+1+@has_esol %>:
        </label>
        <%= f.select :"p1_c#{i+1+@has_esol}", @period1_courses, {:include_blank => "Select One"}, {:disabled => @disabled, class: xc('select-narrow'), style: xs('select')} %>
      <% end %>
    </div>

    <div class="fl w-100 w-50-l">
      <h2 class="<%= xc('h3') %>"><%= h @period2 %>00 Preferences</h2>
      <p>
        Make <span id='period2-count'>six</span> different choices below.
      </p>
      <p class='b'>
        You will be assigned one <%= h @period2 %>00-numbered course.
      </p>
      <% if @has_esol == 1 %>
        <label class="<%= xc('label') %>">
          Choice 1: <%= f.select :p2_c1, @p2_c1_esol, {}, class: xc('select-narrow'), style: xs('select') %>
        </label>
      <% end %>
      <% @period_count.times do |i| %>
        <label class="<%= xc('label') %>">
          Choice <%= h i+1+@has_esol %>:
        </label>
        <%= f.select :"p2_c#{i+1+@has_esol}", @period2_courses, {:include_blank => "Select One"}, {:disabled => @disabled, class: xc('select-narrow'), style: xs('select')} %>
      <% end %>
    </div>
  </div>

  <p class='i'>
    Please Note: You must make unique course choices for each period. No duplicate choices are allowed for the same period. If a course is offered in both periods, you may select it once in each period, though it will only be assigned once.
  </p>

</div><!-- course-selection-courses -->

<hr class="mt4">


<h2 class="<%= xc('h3') %>">Afternoon Academics</h2>
<p>
  For your afternoon academic block, you have the option of enrolling in two Explo workshops or one Princeton Review course.
</p>
<p class='i'>
  Please note: Princeton Review courses are available at an additional cost ($575). 
</p>

<div class="b mb2">
  Select an option for your afternoon block:<span class='x-red'>*</span>
</div>
<% if @current_user.match('s1_program_type', '360') && @current_user.match('s2_program_type','360') %>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :workshop_or_princeton_review, 'workshops', :disabled => @disabled %>
    <span class="pl1">
      Explo Workshops (Both Sessions)
    </span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :workshop_or_princeton_review, 'princeton_review', :disabled => @disabled %>
    <span class="pl1">
      Princeton Review (Both Sessions)
    </span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :workshop_or_princeton_review, 'both', :disabled => @disabled %>
    <span class="pl1">
      Explo Workshops (One Session) and Princeton Review (One Session)
    </span>
  </label>
<% else %>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :workshop_or_princeton_review, 'workshops', :disabled => @disabled %>
    <span class="pl1">
      Explo Workshops
    </span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :workshop_or_princeton_review, 'princeton_review', :disabled => @disabled %>
    <span class="pl1">
      Princeton Review
    </span>
  </label>
<% end %>

<hr class="mt4">

<div id="workshop-selection" class="dn">
  <h2 class="<%= xc('h3') %>">Workshop Selection</h2>

  <p>
    Workshops are week-and-a-half-long investigations into a variety of subjects, which allow you to sample a breadth of academic, athletic, and cultural disciplines. Our goal is to create workshops that are both stimulating and fun, and we encourage you to try something new.
  </p>
    
  <p>
    Before making selections, please review our <%= link_to "#{@current_year} workshop descriptions", "http://www.explo.org/360/yale/workshops_#{@current_year}_0", :target => 'yaleworkshops', class: xc('link') %>.
  </p>

  <% if(user_match('language_level','2') || user_match('language_level','3')) %>
    <p>
      <span class="b">Note for ESOL Students:</span> The workshop options listed below have been vetted, and are suitable for intermediate-level English speakers.
    </p>
  <% end %>

  <div class="cf">
    <div class="fl w-100 w-50-l">
      <h2 class="<%= xc('h3') %>"><%= h @period3 %>00 Preferences</h2>
      <p>
        Make six different choices below.
      </p>
      <p class='b'>
        You will be assigned one <%= h @period3 %>00 numbered workshop.
      </p>
      <% 6.times do |i| %>
        <div class='field'>
          <label class="<%= xc('label') %>">
            Choice <%= h i+1 %>
          </label>
            <%= f.select :"p3_c#{i+1}", @period3_workshops, {:include_blank => "Select One"}, {:disabled => @disabled, class: xc('select-narrow'), style: xs('select')} %>
        </div>
      <% end %>
    </div>
    <div class="fl w-100 w-50-l">
      <h2 class="<%= xc('h3') %>"><%= h @period4 %>00 Preferences</h2>
      <p>
        Make six different choices below.
      </p>
      <p class='b'>
        You will be assigned one <%= h @period4 %>00 numbered workshop.
      </p>
      <% 6.times do |i| %>
        <label class="<%= xc('label') %>">
          Choice <%= h i+1 %>
        </label>
        <%= f.select :"p4_c#{i+1}", @period4_workshops, {:include_blank => "Select One"}, {:disabled => @disabled, class: xc('select-narrow'), style: xs('select')} %>
      <% end %>
    </div>
  </div>

  <hr class="mt4">

  <h2 class="<%= xc('h3') %>">Afternoon Activity Period Option</h2>
  <p>
    Every afternoon, Explo students have an open hour and a late-afternoon activity period during which a variety of athletic, artistic, and discussion-based activities are offered and chosen at the program. In addition to our regularly programmed options, we also offer a special 4-day crew sports clinic that operates during the open hour and late-afternoon activity period:
  </p>

  <h3 class="<%= xc('h4') %>">Special 4-Day Afternoon Crew Sports Clinic ($175)</h3>
  <p>
    Our afternoon crew sports clinic will introduce you to rowing in Yale's championship-quality training tanks. Join us and learn how to simultaneously keep your oar in the oarlock, move up and down your slides, and pull together as a team to keep your boat moving through the water. You will spend the last day of this clinic at Yale's boathouse, putting your practice to work on a rowing barge in the Housatonic River. Cost: $175.
  </p>

  <p>
    The crew sports clinic requires advance sign-up. For the 4 days they are enrolled in crew, students take part in the clinic in lieu of the open hour and afternoon activity period .
  </p>

  <label class="<%= xc 'label' %>">
    <%= f.check_box :wants_crew, :disabled => @disabled %>
    <span class="pl1">
      I would like to sign up in advance for a 4-Day Afternoon Crew Sports Clinic ($175).
    </span>
  </label>

  <hr class="mt4">
</div><!-- workshop-selection -->

<div id="princeton-review-block" class="dn">
  <h2 class="<%= xc('h3') %>">Princeton Review Selection</h2>
  <p>
    You may sign up for one Princeton Review option per session.
  </p>
  <p>
    Before making your selections, please review our description of <%= link_to 'Princeton Review courses', 'http://www.explo.org/360/yale/princeton_review', :target => 'princeton', class: xc('link') %>.
  </p>

  <div>Select a Princeton Review option: <span class="x-red">*</span></div>

  <div class="mt2">
    <label class="<%= xc('label') %>">
      <%= f.radio_button :princeton_review_selection, 'SAT', :disabled => @disabled %>
      <span class="pl1">
        SAT Essentials Course: Math, Critical Reading + Writing ($575)
      </span>
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :princeton_review_selection, 'ACT', :disabled => @disabled %>
      <span class="pl1">
        ACT Essentials Course:  English, Math, Science, Reading ($575)
      </span>
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :princeton_review_selection, 'PSAT', :disabled => @disabled %>
      <span class="pl1">
        PSAT Introduction Course ($575)
      </span>
    </label>
  </div>

  <hr class="mt4">
</div><!-- princeton-review-block -->



<h2 class="<%= xc('h3') %>">Second Wednesdays</h2>
<p>
  The second Wednesday of each session you have the opportunity to work on a community service project, attend a college admissions seminar, or participate in a day-long college trip.
</p>

<h3 class="<%= xc('h4') %>">Community Service Project</h3>
<p>
  Whether it's shoreline cleanup, rebuilding homes, helping at a food pantry, or making care packages for service members, our focus on this special day goes beyond Explo and Yale to the New Haven and world communities.
</p>

<h3 class="<%= xc('h4') %>">College Admissions Seminar ($110)</h3>
<p>
  Logan Powell, Director of Undergraduate Admissions at Princeton University, leads the College Admissions Seminar — a daylong seminar that gives you insider access into the college admissions process. <span id="college-admissions-read-more-link" class="<%= xc('link') %>">[Read More]</span>
</p>
<div id="college-admissions-read-more" class="dn ph4 fw3">
  <p>
    There are a lot of rumors and half-truths about what works in college admissions and what doesn’t. Join us in this seminar and we will set the record straight.
  </p>
  <p>
    Find out which guidebooks are the most reliable. Estimate your chances of admission and how to put together a list of schools. Understand the anatomy of a typical college application. In the seminar, we’ll demystify what happens behind the closed door of an admissions panel — answering your questions and providing you with sample student applications that you will learn to evaluate from an admissions perspective.
  </p>
  <p>
    <span class="b i">Logan Powell</span> is Director of Undergraduate Admission at Princeton University after serving as Senior Associate Dean of Admission at Bowdoin and spending five years as a member of Harvard’s admissions staff. Powell is a graduate of Bowdoin and earned his M.Ed. at Harvard’s Graduate School of Education.</em>
  </p>
</div>

<h3 class="<%= xc('h4') %>">Wednesday College Trips ($65)</h3>
<p>
  Tour nearby colleges and universities with our day-long college trips. Whenever possible, these trips include a campus tour and a visit to the admissions department.
</p>
<p class='i'>
  In order to have enough time at each school, many of our trips may leave Yale as early as 5am. If you sign up for a college trip, it is your responsibility to get on the bus regardless of departure time. No refunds will be given for students who sleep through or miss their bus.
</p>

<div class="b">
  Please select an option for your Second Wednesday:
</div>

<% if(user_match('s1_program_type','360')) %>
  <div class="mt2">
    <%= f.hidden_field :is_session_one, :value => true %>
    <div class="mb2">First Session, Second Wednesday Options (July 5)</div>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :session_1_wednesday_workshop, "CSP", :disabled => @disabled %>
      <span class="pl1">Community Service Project</span>
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :session_1_wednesday_workshop, "CAS", :disabled => @disabled %>
      <span class="pl1">College Admissions Seminar ($110)</span>
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :session_1_wednesday_workshop, "BRO", :disabled => @disabled %>
      <span class="pl1">College Trip: Brown University ($65)</span>
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :session_1_wednesday_workshop, "COL", :disabled => @disabled %>
      <span class="pl1">College Trip: Columbia University ($65)</span>
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :session_1_wednesday_workshop, "HAR", :disabled => @disabled %>
      <span class="pl1">College Trip: Harvard University ($65)</span>
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :session_1_wednesday_workshop, "MIT", :disabled => @disabled %>
      <span class="pl1">College Trip: MIT ($65)</span>
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :session_1_wednesday_workshop, "PRI", :disabled => @disabled %>
      <span class="pl1">College Trip: Princeton University ($65)</span>
    </label>
  </div>
<% end %>
    
<% if(user_match('s2_program_type','360')) %>
  <%= f.hidden_field :is_session_two, :value => true %>
  <div class='mb2'> Second Session, Second Wednesday Options (July 26) </div>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_wednesday_workshop, 'CSP', :disabled => @disabled %>
    <span class="pl1">Community Service Project</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_wednesday_workshop, 'CAS', :disabled => @disabled %>
    <span class="pl1">College Admissions Seminar ($110)</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_wednesday_workshop, 'BRO', :disabled => @disabled %>
    <span class="pl1">College Trip: Brown University ($65)</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_wednesday_workshop, 'COL', :disabled => @disabled %>
    <span class="pl1">College Trip: Columbia University ($65)</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_wednesday_workshop, 'HAR', :disabled => @disabled %>
    <span class="pl1">College Trip: Harvard University ($65)</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_wednesday_workshop, 'MIT', :disabled => @disabled %>
    <span class="pl1">College Trip: MIT ($65)</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_wednesday_workshop, 'PRI', :disabled => @disabled %>
    <span class="pl1">College Trip: Princeton University ($65)</span>
  </label>
<% end %>

<hr>

<h2 class="<%= xc('h3') %>">Special Weekend Events</h2>
<p>
  Special Weekend Events take the place of our regular weekend trips and require advance sign up. Please note: on each weekend day there will be 10-12 additional trip offerings (not listed here) that do not require advance sign-up. These trips range from cultural excursions into New York City (art museums, baseball games, Broadway shows) to outdoor adventures (rock climbing, white water rafting, Six Flags).
</p>
<p>
  For more details about our regular weekend trips and our Special Weekend Events, please visit: <%= link_to 'www.explo.org/360/yale/trips','http://www.explo.org/360/yale/trips', :target => 'yaletrips', class: xc('link') %>
</p>
<p class='b'>
  Below, please mark your trip preference for each weekend:
</p>

<% if(user_match('s1_program_type','360')) %>
  <div class="mb2"> First Session, Weekend 1 (July 1 - 2) </div>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_1_weekend_1, '', :disabled => @disabled %>
    <span class="pl1">I will sign up for regular trip offerings while at the program</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_1_weekend_1, 'BOS', :disabled => @disabled %>
    Boston, MA ($360, Overnight)</span>
  </label>

  <div class="mt3 mb2"> First Session, Weekend 2 (July 8 - 9) </div>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_1_weekend_2, '', :disabled => @disabled %>
    <span class="pl1">I will sign up for regular trip offerings while at the program</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_1_weekend_2, 'WAS', :disabled => @disabled %>
    <span class="pl1">Washington, DC ($455, Friday Departure, Two-Night Overnight)</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_1_weekend_2, 'SAI', :disabled => @disabled %>
    <span class="pl1">Sailing Clinic ($250, Saturday + Sunday)</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_1_weekend_2, 'GOL', :disabled => @disabled %>
    <span class="pl1">Golf Clinic ($65, Sunday Only)</span>
  </label>
<% end %>

<% if user_match('s2_program_type','360') %>
  <div class="mb2"> Second Session, Weekend 1 (July 22 - 23) </div>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_weekend_1, '', :disabled => @disabled %>
    <span class="pl1">I will sign up for regular trip offerings while at the program</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_weekend_1, 'BOS', :disabled => @disabled %>
    <span class="pl1">Boston, MA ($360, Overnight)</span>
  </label>

  <div class="mt3 mb2"> Second Session, Weekend 2 (July 29 - 30) </div>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_weekend_2, '', :disabled => @disabled %>
    <span class="pl1">I will sign up for regular trip offerings while at the program</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_weekend_2, 'WAS', :disabled => @disabled %>
    <span class="pl1">Washington, DC ($455, Friday Departure, Two-Night Overnight)</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_weekend_2, 'SAI', :disabled => @disabled %>
    <span class="pl1">Sailing Clinic ($250, Saturday + Sunday)</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :session_2_weekend_2, 'GOL', :disabled => @disabled %>
    Golf Clinic ($65, Sunday Only)
  </label>
<% end %>
