<% if user_match('language_level', '4') || !user_info('language_level') %>
  <%= f.hidden_field :is_fluent, :value => true %>
  <h2 class="<%= xc('h3') %>">Course Selection</h2>
  <p>
    Courses are assigned on a first-come, first-served basis. Class size, in most cases, is limited to 16 students. The registrar will make every effort to assign you to your first choice. If a class is full, you will be assigned to another one of your choices.
  </p>
  <p class='b'>
    Please Note: You must make unique course choices for each period. No duplicate choices are allowed for the same period. If a course is offered in both periods, you may select it once in each period, though it will only be assigned once.
  </p>
  <p>
    Before making your selections, please review our <%= link_to "#{@current_year} course descriptions",'http://www.explo.org/360/wheaton/courses', :target => 'stmarkscourses', class: xc('link') %>.
  </p>
    
  <div class="cf">
    <div class="w-100">
      <h2 class="<%= xc('h3') %>">Week 1 Preferences</h2>
      <p>
        Make <span id='period1-count'>three</span> different choices below.
      </p>
      <p class='b'> You will be assigned one week 1 course.  </p>
      <% 3.times do |i| %>
        <label class="<%= xc('label') %>">
          Choice <%= h i+1 %>
        </label>
        <%= f.select :"p1_c#{i+1}", @period1_courses, {:include_blank => "Select One"}, {:disabled => @disabled, class: xc('select-narrow'), style: xs('select')} %>
      <% end %>
    </div>

    <div class="w-100 mt4">
      <h2 class="<%= xc('h3') %>">Week 2 Preferences</h2>
      <p>
        Make <span id='period2-count'>three</span> different choices below.
      </p>
      <p class='b'> You will be assigned one week 2 course.  </p>
      <% 3.times do |i| %>
        <label class="<%= xc('label') %>">
          Choice <%= h i+1 %>
        </label>
        <%= f.select :"p2_c#{i+1}", @period2_courses, {:include_blank => "Select One"}, {:disabled => @disabled, class: xc('select-narrow'), style: xs('select')} %>
      <% end %>
    </div>

    <div class="w-100 mt4">
      <h2 class="<%= xc('h3') %>">Week 3 Preferences</h2>
      <p>
        Make <span id='period3-count'>three</span> different choices below.
      </p>
      <p class='b'> You will be assigned one week 3 course.  </p>
      <% 3.times do |i| %>
        <label class="<%= xc('label') %>">
          Choice <%= h i+1 %>
        </label>
        <%= f.select :"p3_c#{i+1}", @period3_courses, {:include_blank => "Select One"}, {:disabled => @disabled, class: xc('select-narrow'), style: xs('select')} %>
      <% end %>
    </div>
  </div>

  <hr class="mt4">

<% else %>

  <h2 class="<%= xc('h3') %>">English for Speakers of Other Languages (ESOL)</h2>
  <p>
    As a non-fluent English speaker, <%= h user_info('first_name') %> has been enrolled in our English for Speakers of Other Languages (ESOL) program. The goal of this program is to improve students' oral English and comprehension skills.
  </p>
  <p>
    We offer different levels of ESOL instruction based on students' English aptitude. When <%= h user_info('first_name') %> arrives at Explo at Wheaton this summer, <%= @current_user.gendered_text 'his', 'her', 'their' %> English abilities will be reassessed by our on-campus staff and <%= @current_user.gendered_text 'he', 'she', 'they' %> will be placed in an ESOL grouping with peers who have similar language abilities.
  </p>
  <%= f.hidden_field :p1_c1, :value => @p1_c1_esol %>

<% end %>


<h2 class="<%= xc('h3') %>">Workshop Selection</h2>
<p>
  Explo at Wheaton workshops are numbered in the W100s.  Workshops are assigned on a first-come, first-served basis. Class size, in most cases, is limited to 14 students. The registrar will make every effort to assign you to your top choices. If a workshop is full, you will be assigned to another one of your choices.
</p>

<p class='b'>
  Please Note: No duplicate workshop choices are allowed.
</p>

<% if user_match('language_level', '1') || user_match('language_level','2') || user_match('language_level','3') %>
  <p class='b'>
    Please Note: some English-intensive workshop offerings are not available for <%= h user_info('first_name') %>.
  </p>
<% end %>

<p>
  Before making your selections, please review our <%= link_to "#{@current_year} workshop descriptions",'http://www.explo.org/360/wheaton/workshops', :target => :stmarksworkshops, class: xc('link') %>.
</p>

<h2 class="<%= xc('h3') %>">Workshop Preferences</h2>
<p>
  Make six different choices below.
</p>
<% if user_match('language_level', '1') || user_match('language_level','2') || user_match('language_level','3') %>
  <p class='b'>
    You will be assigned two workshops.
  </p>
<% else %>
  <p class='b'>
    You will be assigned three workshops.
  </p>
<% end %>
<% 6.times do |i| %>
  <label class="<%= xc('label') %>">
    Choice <%= h i+1 %>
  </label>
    <%= f.select :"w_c#{i+1}", @workshops, {:include_blank => "Select One"}, {:disabled => @disabled, class: xc('select-narrow'), style: xs('select')} %>
<% end %>
