<h1 class="<%= xc('h2') %>">Course Sign-Up Form</h1>

<%= render :partial => 'common/form_errors', :locals => { :object => @course_form } %>

<%= form_for @course_form, html: {class: xc('form-wide', add: ["mt4"])} do |f| %>
  
  <% if user_match('s1_program_name','Explo at Yale') || user_match('s2_program_name','Explo at Yale') %>
    <%= f.hidden_field :campus, :value => 'Yale University' %>
    <%= render :partial => 'explo_at_yale', :locals => { :f => f, :disabled => @disabled } %>
  <% end %>

  <% if user_match('s1_program_name','Explo at Wellesley') || user_match('s2_program_name','Explo at Wellesley') %>
    <%= f.hidden_field :campus, :value => 'Wellesley College' %>
    <%= render :partial => 'explo_at_wellesley', :locals => { :f => f, :disabled => @disabled } %>
  <% end %>

  <% if user_match('s1_program_name','Explo at Wheaton') || user_match('s2_program_name','Explo at Wheaton') || user_info('w1_program_name') || user_info('w2_program_name') || user_info('w3_program_name') || user_info('w4_program_name') || user_info('w5_program_name') || user_info('w6_program_name') %>
    <%= f.hidden_field :campus, :value => 'Wheaton College' %>
    <%= render :partial => 'explo_at_wheaton', :locals => { :f => f, :disabled => @disabled } %>
  <% end %>
  
<%= render :partial => 'common/form_submit', :locals => { :f => f, :disabled => @disabled } %>
<% end %>
