Hello,

This email account has been added to <%= @user.get_key('first_name') %> <%= @user.get_key('last_name') %>’s Explo Portal! This action was performed by <%= @originating_name %>. 

Our records indicate that you are already a member of the Explo Portal. To log in to the Explo portal, please visit https://portal.explo.org

If you think this email has happened in error, or if you have any questions about accessing or completing the forms in the Explo Portal — please contact the Explo Admission Office directly at <%= @user.get_key('program_email') %> or 781.762.7400.


Crystal Garneier and Tim Watson
Directors of Admission

---
This is an automated email. If you believe that you have received this email in error, please contact Explo directly at <%= @user.get_key('program_email') %> or 781.762.7400.
