You have requested to reset your Explo Portal password associated with this email address. This email is associated with the following Explo Portal students:

<% @profile.users.each do |u| %>
<%= u.get_key 'first_name' %> <%= u.get_key 'last_name' %>
<% end %>

Click (or copy and paste) the following link to reset the password:
https://portal.explo.org/reset_password/<%= @token %>

If you did not request a password reset, please disregard this message. The above link will expire in 72 hours.

Crystal Garneier and Tim Watson
Directors of Admission

----
This is an automated email. If you believe that you have received this email in error, please contact Explo directly at <%= @program_email %> or 781.762.7400.
