Welcome to the Explo Portal!

You are receiving this email because <%= @user.get_key("first_name") %> <%= @user.get_key("last_name") %> was recently enrolled at Explo for the coming summer.

The Explo Portal is an online resource for families to submit and keep track of additional registration materials required for enrollment at Explo. Access to the Explo Portal is initially restricted to the primary adult contact associated with each student. Additional emails can be added to the account after you log in by clicking "Add Email" on the Portal Dashboard.

Please note, many of the forms in the Portal require parent/guardian approval, and Explo will be operating with the understanding that forms submitted on the Explo Portal have been properly reviewed by a parent/guardian. 

Please use the information below to log in and review the forms and information needed to complete <%= @user.get_key("first_name") %>’s registration:


---

To access <%= @user.get_key("first_name") %>'s account in the Explo Portal for the first time, please click (or copy and paste) the following link:
https://portal.explo.org/login/<%= @token %>

When you first log in, you will be asked to set a password.

The above link will expire in 72 hours. For future visits to the Explo Portal, please go directly to portal.explo.org or click the “Student Portal” link at the top of the Explo website. 

---

If you have any questions about accessing or completing the forms in the Explo Portal — please contact our Admission Office directly at <%= @user.get_key('program_email') %> or 781.762.7400.


Sincerely,

Crystal Garneier and Tim Watson
Directors of Admission

---
Explo
932 Washington Street
Norwood, MA 02062

<%= @user.get_key('program_email') %>
781.762.7400
