<div<%= ' class="x-coolgray"' if requirement.is_complete %>>

  <% if requirement.is_complete && is_admin %>
    <%= link_to image_tag('box-checked.png', :class => 'h1'), requirement_path(requirement, toggle: true), method: :put, confirm: 'Toggle the status of this requirement?', class: xc('link') %>
  <% elsif requirement.is_complete %>
    <%= image_tag('box-checked.png', :class => 'h1') %>
  <% elsif is_admin %>
    <%= link_to image_tag('box.png', :class => 'h1'), requirement_path(requirement, toggle: true), method: :put, confirm: 'Toggle the status of this requirement?', class: xc('link') %>
  <% else %>
    <%= image_tag('box.png', :class => 'h1') %>
  <% end %>

  <% if requirement.requirement_def.requirement_type == 'pdf' %>
    <span class='ml1 relative <%= 'x-coolgray' if requirement.is_complete %>' style="bottom: 1px;">
      <% unless requirement.requirement_def.action == 'noupload' %>
        <%= link_to(raw(requirement.requirement_def.name), docusign_requirement_path(requirement.id), target: 'docusign', class: xc('link')) %>
        <% if is_admin %>
          <span class="f6"><%= link_to 'reset', docusign_requirement_path(requirement), method: :delete, class: xc('link', replace:{"x-orange" => "x-aquablue"}, add: ["pl4 pl3-l"]), confirm: 'Do you really want to reset this DocuSign form permanently?' %></small>
        <% end %>
      <% end %>
    </span>
  <% end %>

  <% if requirement.requirement_def.requirement_type == 'online' %>
    <span class='ml1 relative <%= 'x-coolgray' if requirement.is_complete %>' style="bottom: 1px;">
      <%= link_to raw(requirement.requirement_def.name), "/#{requirement.requirement_def.action}/#{requirement.id}/edit", class: xc('link') %>
    </span>
  <% end %>

  <% if requirement.requirement_def.requirement_type == 'link' %>
    <span class='ml1 relative <%= 'x-coolgray' if requirement.is_complete %>' style="bottom: 1px;">
      <%= link_to raw(requirement.requirement_def.name), requirement.requirement_def.action, :target => 'link', class: xc('link') %>
    </span>
  <% end %>

  <% if requirement.requirement_def.requirement_type == 'information' %>
    <div><%= raw(requirement.requirement_def.name) %></div>
  <% end %>

</div>
