<%= render 'common/html/flash' %>

<% if @required_forms && (user_info('s1_program_name') || user_info('s2_program_name')) %>
  <h1 class="<%= xc('h2') %>">
    SUMMER FORMS CHECKLIST
    <div class='f6 x-coolgray'><%= render 'common/forms_due_date' %></div>
  </h1>
  <p>
    In the column to the right, select and view the status of additional required and optional registration forms. If you click on a form link, the form will pop up on the screen. When you submit a form or PDF, the status will indicate that the form has been successfully submitted.
  </p>
  <p>
    <span class="b">Please Note:</span> Once you submit a form, you may not make changes to the form or PDF in the portal. If you need to make changes, please email the changes to <%= user_info 'first_name' %>'s program registrar at <%= mail_to(user_info('registrar_email'), user_info('registrar_email'), class: xc('link')) %> or contact our Admission Office at 781.762.7400.
  </p>
<% end %>

<% if user_match("s1_res_type","residential") || user_match("s2_res_type","residential") %>
  <div class="mv4 pa3 br1 x-bg-palebrown x-coolgray">
    <h2 class="<%= xc('h3') %>">Book Your Travel to Explo</h2>
    <p>
      <div class="b">Free Booking Service with Colpitts World Travel</div>
      In order to help families make travel arrangements for their children, Explo has partnered with Colpitts World Travel, an industry leader in helping families plan safe, full-service travel. Families that have booked arrangements to and from Explo with Colpitts in the past have loved the ease of service and travel research that Colpitts provides.
    </p>
    <p>
       <span id="colpitts-show-more-information" class="<%= xc('link') %>">— Click here for more info about the advantages of Colpitts World Travel —</span>
    </p>
    <div id="colpitts-more-information" class="dn">
      <p>
        <span class="b">Colpitts World Travel will help you:</span>
      </p>
      <ul>
        <li>Book students on flights with other Explo students whenever possible.</li>
        <li>Book the most direct flight or, if it differs, the most inexpensive one — your choice.</li>
        <li>Schedule travel between the airport and our campus through Carey Transportation, Explo's preferred car service, if your flight doesn't arrive during our airport pick-up hours.</li>
        <li>Save you time by handling all of the paperwork once you've paid for your reservation.</li>
        <li>For a small fee, Colpitts can arrange all of the appropriate steps for Unaccompanied Minors if your child falls into this category on the airline you select.</li>
      </ul>
      <p>
        For more information, or to book your travel, here's a direct link to the <%= link_to 'Explo page of the Colpitts website', 'https://colpittseventmanager.com/eventmanager/onlineregistration.asp?D=d&EventCode=91P', :target => 'blank', class: xc('link') %>. Or you can call Colpitts directly at 781.326.7800, ext. 460, and mention that you're calling for an Explo student.
      </p>
    </div>
  </div>
<% end %>

<h1 class="<%= xc('h2') %>">
  HEALTH PROFILE AT CAMPDOC
  <div class='f6 x-coolgray'><%= render 'common/forms_due_date' %></div>
</h1>
<% if @medical_forms_complete %>
  <p>
    Thank you for completing your health profile on CampDoc! We will review your profile within 3 weeks of completion and contact you if we have any questions.
  </p>
  <p>
    <%= link_to "Update CampDoc Forms", campdoc_sso_path(@current_profile), method: :post, target: "campdoc", class: xc('btn-l') %>
  </p>
<% else %>
  <p>
    <div class="b x-orange"> Required health forms are to be completed at CampDoc.</div>
    <% unless @current_user.campdoc_profile_id.nil? || @current_user.campdoc_profile_id.empty? %>
        Please click the button below to be logged into <%= user_info('first_name') %>’s health profile at CampDoc.
    <% end %>
  </p>
  <p>
    <% unless @current_user.campdoc_profile_id.nil? || @current_user.campdoc_profile_id.empty? %>
      <div class="mb2">
        <%= link_to "Work on CampDoc Forms", campdoc_sso_path(@current_profile), method: :post, target: "campdoc", class: xc('btn-l') %>
      </div>
    <% else %>
      <% if Date.today < DateTime.strptime("#{@current_year}-03-10", '%Y-%m-%d') %>
        <span class="b"><%= @current_year %> CampDoc forms will be available in February.</span> A CampDoc informational email with more information will be delivered to you at this time. You will be able to access CampDoc via a link from this student portal.
      <% else %>
        You will receive an informational email when your health profile is available for editing at CampDoc. In addition, a link to access the health profile will appear below.
      <% end %>
    <% end %>
  </p>
  <div class="<%= xc('flash-alert') %>">
    <%= image_tag 'warning.png', class: 'h1' %>
    <span class="b">Physician Signature May Be Required</span>
    <div>
      You should be able to complete most of the health profile without leaving your home; however, some pieces — including the Physician’s Evaluation Form and the Medication Confirmation Form (for students who take medications regularly) — will require the physical signature of your child’s healthcare provider.
      <% unless @current_user.campdoc_profile_id.nil? || @current_user.campdoc_profile_id.empty? %>
        To assist in your health profile preparation, please download our <a href="http://www.explo.org/files/pdf/explo_campdoc_guide.pdf" target="blank">1-page Guide to CampDoc PDF</a>.
      <% end %>
    </div>
  </div>
  <% if Date.today >= DateTime.strptime("#{@current_year}-03-10", '%Y-%m-%d') %>
    <p>
      If you have any issues with your login, please contact CampDoc directly at 734.636.1000 or <%= mail_to 'support@campdoc.com' %>.
    </p>
  <% end %>
<% end %>

<% unless @trip_waivers.empty? %>
  <h1 class="<%= xc('h2') %>">
    TRIP WAIVERS
  </h1>
  <p>
    During the summer, <%= user_info 'first_name' %> will have the option of choosing between 10-12 trip options each weekend day. Most of these trips are available to all students; however, some of these trips (listed at the right) require a waiver signed by a parent or guardian. 
  </p>
  <p>
    We ask that you sign and submit the appropriate waivers for any and all of the trips listed at the right that you would like <%= user_info 'first_name' %> to be able to attend this summer. <span class="b">If a waiver asks for a specific date for use of the waiver, please leave the date blank, but fill in the parent signature and student name.</span> We will update the waiver with the appropriate date if your child attends the trip.

  </p>
  <p class="i">
    Please Note: submitting a signed waiver means that your child has permission to go on the waiver trip; it does not sign your child up for the trip. During the summer, students will rank their top three choices for each trip day and will be assigned accordingly. See 'Trip Policy' in the Student Handbook for more details on trip sign-up.
  </p>

<% end %>
