<h1>Bus List - <%= @current_user.get_key 'first_name' %> <%= @current_user.get_key 'last_name' %></h1>
<ul>
  <li>Your bus route is: <strong><%= h @bus_route %></strong>.</li>
  <li>
    Your bus stop is: <strong><%= h @bus_stop %></strong>.
    <% if @bus_stop_notes %><em><strong>(<%= @bus_stop_notes %>)</em></strong><% end %>
  </li>
  <% unless @bus_driver.nil? %>
    <li>Your bus driver is: <strong><%= h @bus_driver %></strong>.</li>
  <% end %>
</ul>

<p>
  Below, please find a list of of additional students who are on <%= @current_user.get_key 'first_name' %>’s bus route. <strong>Please note: the list of students below only includes students on the bus route who are attending the same Explo program as <%= @current_user.get_key 'first_name' %>.</strong> There are likely additional students on the route who are attending other Explo programs. 
</p>

<table>
  <% @sessions.each do |session| %>
    <tr>
      <td colspan=4">
        <h2><%= @bus_route %> - <%= session.name %></h2>
      </td>
    </tr>
    <tr>
      <td colspan=4>
        <% if session.is_mini %>
          <em>
            This is a list of other students attending Explo Mini on your bus route. This list will be updated if additional students sign up for the route.
            <br>
Please note: there will be additional students attending Explo 360 on the bus. 
          </em>
          <br>
          <br>
        <% end %>
      </td>
    </tr>
    <tr class="header">
      <td>First Name</td>
      <td>Morning Pickup / Afternoon Drop-Off</td>
      <td>Parent Name</td>
      <td>Parent Phone</td>
    </tr>
    <% session.user_array.each do |user| %>
      <tr <% if user == @current_user %> style="background-color: #F3EFEA;"<% end %>>
        <td><%= user.get_key 'first_name' %></td>
        <td>
          <%= user.get_key 'bus_number' %>
          <% if (user == @current_user) %><br><em><%= @bus_stop_notes %></em><% end %>
        </td>
        <td><%= user.get_key 'parent_1_name' %></td>
        <td><%= user.get_key 'parent_1_phone' %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<br>

<!-- MAP DISABLED
<% if (@current_user.match('s1_campus', 'Wheaton College') || @current_user.match('s2_campus', 'Wheaton College')) %>
<h2>Wheaton Bus Route Map</h2>
<p>Below we have embedded a Google Map with our bus route stops. Click the pin on your stop to see an image of the approximate location of the bus stop.</p>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=zf851Cj_kdig.kQ1mpJwBXLWw" width="640" height="480"></iframe>
<% elsif (@current_user.match('s1_campus', 'Wellesley College') || @current_user.match('s2_campus', 'Wellesley College')) %>
<h2>Wellesley Bus Route Map</h2>
<p>Below we have embedded a Google Map with our bus route stops. Click the pin on your stop to see an image of the approximate location of the bus stop.</p>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=zf851Cj_kdig.kiiSX17NHnw4" width="640" height="480"></iframe>
<% end %>
-->
