<h1 class="<%= xc('h2') %>">Explo Ambassador Application<br>Due February 10, <%= @current_year %></h1>

<%= render :partial => 'common/form_errors', :locals => { :object => @ambassador_form } %>

<%= form_for @ambassador_form, html: {class: xc('form-wide', add: ["mt4"])} do |f| %>
  <p>
    The Explo Ambassador Program is a leadership and campus spirit training initiative made up of groups of enthusiastic Explo alumni. Explo Ambassadors arrive at Explo a day early for training and activities (and spend the night too, both day and residential students) and participate meaningfully in welcoming families to campus on Arrival Day. Throughout the session, Explo Ambassadors meet as a group and with faculty members and administrators to work on campus-wide initiatives.
  </p>
  <p>
    Explo alumni who are currently enrolled as day or residential students at an Explo 360 program for the summer of <%= @current_year %> are eligible to apply to the Ambassador Program. We look forward to reviewing your application and expect to make decisions by March 11.
  </p>
  <p>
    To learn more about the Ambassador Program, take a look at the <%= link_to('Ambassador PDF', "http://www.explo.org/files/pdf/#{@current_year}_ambassador_program.pdf", target: "ambassador_pdf", class: xc('link')) %>.
  </p>
  <label class="<%= xc('label') %>">
    Describe your interest in leadership. Feel free to include any relevant experience (but it is OK if you don’t have any!) 
    <span id="interest-in-leadership-count" class="fr pv1 pr1 f7 x-paleorange"></span>
  </label>
  <%= f.text_area :interest_in_leadership, :disabled => @disabled, class: xc('textarea') %>
  <div class="mt3">
    <label class="<%= xc('label') %>">
      Highlight a favorite moment from your time at Explo.
      <span id="favorite-moment-count" class="fr pv1 pr1 f7 x-paleorange"></span>
    </label>
    <%= f.text_area :favorite_moment , :disabled => @disabled, class: xc('textarea') %>
  </div>
  <div class="mt3">
    <label class="<%= xc('label') %>">
      What three words would you use to describe yourself?
      <%= f.text_field :three_words_self, :disabled => @disabled, class: xc('input-text-narrow') %>
    </label>
  </div>
  <div class="mt3">
    <label class="<%= xc('label') %>">
      What three words do you hope others would use to describe you?
      <%= f.text_field :three_words_others, :disabled => @disabled, class: xc('input-text-narrow') %>
    </label>
  </div>
  <div class="mt3">
    <label class="<%= xc('label') %>">
      What three words describe the ideal Explo community to you?
      <%= f.text_field :three_words_community, :disabled => @disabled, class: xc('input-text-narrow') %>
    </label>
  </div>

  <hr class="mt3">

  <div class="mt3">
    <label class="<%= xc('label') %>">
      Beyond welcoming students and families on the first day of Explo, how do you think Explo Ambassadors can contribute this summer?
      <span id="how-contribute-count" class="fr pv1 pr1 f7 x-paleorange"></span>
    </label>
    <%= f.text_area :how_contribute, :disabled => @disabled, class: xc('textarea') %>
  </div>
  <div class="mt3">
    <label class="<%= xc('label') %>">
      What do you hope to gain from the Ambassador experience?
      <span id="hope-to-gain-count" class="fr pv1 pr1 f7 x-paleorange"></span>
    </label>
    <%= f.text_area :hope_to_gain, :disabled => @disabled, class: xc('textarea') %>
  </div>

  <hr class="mt3">

  <div class="mt3">
    <label class="<%= xc('label') %>">
      Present one idea for an activity you would like to lead at Explo this summer. Assume you would have staff and student assistance and provide as many details as possible.
    </label>
    <%= f.text_area :activity_idea, :disabled => @disabled, class: xc('textarea') %>
  </div>
  <div class="mt3">
    <label class="<%= xc('label') %>">
      Present one idea for a discussion group or campus club you would like to host at Explo this summer.
    </label>
    <%= f.text_area :discussion_club_idea, :disabled => @disabled, class: xc('textarea') %>
  </div>
  <div class="mt3">
    <label class="<%= xc('label') %>">
      Present one idea for a Main Event you would like to run at Explo this summer.
    </label>
    <%= f.text_area :main_event_idea, :disabled => @disabled, class: xc('textarea') %>
  </div>

  <hr class="mt3">

  <h2 class="<%= xc('h3') %>">Explo Ambassador Agreement</h2>
  <p>Every Ambassador Applicant and their parent or guardian must agree to the following to be considered as a candidate for the Explo Ambassador Program.</p>

  <p class="b">As an Explo Ambassador, I agree to abide by the rules and regulations of Explo at all times, as articulated by the student handbook for my program. I agree to approach my role as an Explo Ambassador with a seriousness of purpose. I will be a positive role model for my peers, demonstrating inclusiveness, kindness, and enthusiasm. I will work cooperatively and collaboratively with the other members of my Ambassador team and with the entire Explo community.</p>

  <div class="mt3">
    <div>
      Student Agreement
    </div>
    <label class="<%= xc('label', replace: {"db" => "dib"}) %>"> 
      <%= f.radio_button :student_agreement, true, :disabled => @disabled %>
      Yes
    </label>
    <label class="<%= xc('label', replace: {"db" => "dib"}, add: ["ml2"]) %>"> 
      <%= f.radio_button :student_agreement, false, :disabled => @disabled %>
      No
    </label>
  </div>
  <div class="mt3">
    <div>
      Parent Agreement
    </div>
    <label class="<%= xc('label', replace: {"db" => "dib"}) %>"> 
      <%= f.radio_button :parent_agreement, true, :disabled => @disabled %>
      Yes
    </label>
    <label class="<%= xc('label', replace: {"db" => "dib"}, add: ["ml2"]) %>"> 
      <%= f.radio_button :parent_agreement, false, :disabled => @disabled %>
      No
    </label>
  </div>

  <%= render :partial => 'common/form_submit', :locals => { :f => f, :disabled => @disabled } %>
<% end %>
