<% if Date.today > DateTime.strptime("#{@current_year}-02-02", '%Y-%m-%d') %>
  <li>
    <%= image_tag 'download.png', :class => 'h1' %>
    <%= link_to 'Guide to CampDoc', 'http://www.explo.org/files/pdf/explo_campdoc_guide.pdf', :target => 'blank', class: xc('link') %>
  </li>
<% end %>
