<% if Date.today > DateTime.strptime("#{@current_year}-05-15", '%Y-%m-%d') #Active on June 1 %>
  <% if user_match('s1_campus','Yale University') || user_match('s2_campus','Yale University') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Explo at Yale Essentials', "http://www.explo.org/files/pdf/Explo_Yale_Essentials_16.pdf", target: 'yale_essentials', class: xc('link') %>
    </li> 
  <% end %>
  <% if user_match('s1_campus','Wellesley College') || user_match('s2_campus','Wellesley College') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Explo at Wellesley Essentials', "http://www.explo.org/files/pdf/Explo_Wellesley_Essentials_16.pdf", target: 'wellesley_essentials', class: xc('link') %>
    </li> 
  <% end %>
  <% if user_match('s1_campus','Wheaton College') || user_match('s2_campus','Wheaton College') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Explo at Wheaton Essentials', "http://www.explo.org/files/pdf/Explo_Wheaton_Essentials_16.pdf", target: 'wheaton_essentials', class: xc('link') %>
    </li> 
  <% end %>
  <% if @current_user.enrolled_in('w1') || @current_user.enrolled_in('w2') || @current_user.enrolled_in('w3') || @current_user.enrolled_in('w4') || @current_user.enrolled_in('w5') || @current_user.enrolled_in('w6') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Explo Mini Handbook', "http://www.explo.org/files/pdf/Explo_Mini_Handbook_16.pdf", target: 'mini_essentials', class: xc('link') %>
    </li> 
  <% end %>
<% end %>
