<% if Date.today > DateTime.strptime("#{@current_year}-04-01", '%Y-%m-%d') #Active on February 1 %>
  <% if user_match('is_insurance','1') && (user_info('s1_program_name') || user_info('s2_program_name')) %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Explo Health Insurance Plan', "http://www.explo.org/files/pdf/explo__health_insurance.pdf", :target => 'health_insurance', class: xc('link') %>
    </li>
  <% end %>
<% end %>
