<!--
<% if Date.today > DateTime.strptime("#{@current_year}-06-01", '%Y-%m-%d') #Active on June 1 %>
  <% if user_match('s1_campus','Yale University') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Main Event Calendar (Yale, First Session', "", target: 'me_calendar', class: xc('link') %>
    </li> 
  <% end %>
  <% if user_match('s2_campus','Yale University') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Main Event Calendar (Yale, Second Session', "", target: 'me_calendar', class: xc('link') %>
    </li> 
  <% end %>
  <% if user_match('s1_campus','Wellesley College') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Main Event Calendar (Wellesley, First Session', "", target: 'me_calendar', class: xc('link') %>
    </li> 
  <% end %>
  <% if user_match('s2_campus','Wellesley College') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Main Event Calendar (Wellesley, Second Session', "", target: 'me_calendar', class: xc('link') %>
    </li> 
  <% end %>
  <% if user_match('s1_campus','Wheaton College') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Main Event Calendar (Wheaton, First Session', "", target: 'me_calendar', class: xc('link') %>
    </li> 
  <% end %>
  <% if user_match('s2_campus','Wheaton College') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Main Event Calendar (Wheaton, Second Session', "", target: 'me_calendar', class: xc('link') %>
    </li> 
  <% end %>
<% end %>
-->
