<% if user_match('s1_campus','Yale University') || user_match('s2_campus','Yale University') %>
  <li>
    <%= image_tag 'download.png', :class => 'h1' %>
    <%= link_to 'Packing List (Yale)', "http://www.explo.org/files/pdf/explo_packing_list_yale.pdf", target: 'yale_packing', class: xc('link') %>
  </li> 
<% end %>
<% if user_match('s1_campus','Wellesley College') || user_match('s2_campus','Wellesley College') %>
  <li>
    <%= image_tag 'download.png', :class => 'h1' %>
    <%= link_to 'Packing List (Wellesley)', "http://www.explo.org/files/pdf/explo_packing_list_wells.pdf", target: 'wellesley_packing', class: xc('link') %>
  </li> 
<% end %>
<% if user_match('s1_campus','Wheaton College') || user_match('s2_campus','Wheaton College') %>
  <li>
    <%= image_tag 'download.png', :class => 'h1' %>
    <%= link_to 'Packing List (Wheaton)', "http://www.explo.org/files/pdf/explo_packing_list_wheaton.pdf", target: 'wheaton_packing', class: xc('link') %>
  </li> 
<% end %>
