<% if Date.today > DateTime.strptime("#{@current_year}-05-15", '%Y-%m-%d') #Active on June 1 %>
  <% if user_match('s1_campus','Yale University') || user_match('s2_campus','Yale University') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Explo at Yale Rules & Standards', "http://www.explo.org/files/pdf/Explo_Yale_Rules_16.pdf", target: 'yale_rules', class: xc('link') %>
    </li> 
  <% end %>
  <% if user_match('s1_campus','Wellesley College') || user_match('s2_campus','Wellesley College') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Explo at Wellesley Rules & Standards', "http://www.explo.org/files/pdf/Explo_Wellesley_Rules_16.pdf", target: 'wellesley_rules', class: xc('link') %>
    </li> 
  <% end %>
  <% if user_match('s1_campus','Wheaton College') || user_match('s2_campus','Wheaton College') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Explo at Wheaton Rules & Standards', "http://www.explo.org/files/pdf/Explo_Wheaton_Rules_16.pdf", target: 'wheaton_rules', class: xc('link') %>
    </li> 
  <% end %>
<% end %>
