<!--
<% if Date.today > DateTime.strptime("#{@current_year}-06-01", '%Y-%m-%d') #Active on June 1 %>
  <% if user_match('s1_campus','Yale University') || user_match('s2_campus','Yale University') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Trip Descriptions (Yale)', "", target: 'yale_packing', class: xc('link') %>
    </li> 
  <% end %>
  <% if user_match('s1_campus','Wellesley College') || user_match('s2_campus','Wellesley College') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Trip Descriptions (Wellesley)', "", target: 'wellesley_packing', class: xc('link') %>
    </li> 
  <% end %>
  <% if user_match('s1_campus','Wheaton College') || user_match('s2_campus','Wheaton College') %>
    <li>
      <%= image_tag 'download.png', :class => 'h1' %>
      <%= link_to 'Trip Descriptions (Wheaton)', "", target: 'wheaton_packing', class: xc('link') %>
    </li> 
  <% end %>
<% end %>
-->
