<% if user_info('s1_program_name') || user_info('s2_program_name') #non-mini students %>
  <li>
    <%= image_tag 'download.png', :class => 'h1' %>
    <%= link_to 'Explo Tuition Refund Plan', 'http://www.explo.org/files/pdf/explo_tuition_insurance.pdf', :target => 'blank', class: xc('link') %>
  </li>
<% end %>
