<h1>Reset Email Address for <%= h @user.get_key 'first_name' %> <%= h @user.get_key 'last_name' %></h1>

<%= form_tag do %>
<%= hidden_field_tag :user_id, @user.id %>
<p>
  Current Email Address: <%= h @user.email %>
</p>
<div class='field'>
  <%= label_tag :email, 'New Email: ' %>
  <br>
  <%= text_field_tag :email %>
</div>

<p>
  <%= submit_tag 'Submit' %>
</p>
<p>
  <%= link_to 'Cancel', :users %>
</p>
<% end %>
