<div class="atlas-blurb" style="display:none">
  <dt class="mt2">
    <span class="b">Daily Atlas PDF</span>
    <span class="atlas-pdf-links" data-grade="<%= @current_user.get_key('grade') %>" data-campus-name="<%= @current_user.enrolled_sessions.map{|s|s.campus}.uniq.first %>"></span>
  </dt>
  <dd class="ml0">
    The Daily Atlas is the Explo Newspaper, a listing of activities and events going on each day at Explo. It is distributed daily, and the latest two versions will be available for download here.
  </dd>
</div>
