<% if user_match('s1_campus','Wheaton College') || user_match('s2_campus','Wheaton College') %>
  <% if user_match('s1_res_type','Day') || user_match('s2_restype','Day') %>
    <dt class="mt2">
      <span class="b">Stay Late / Overnight Permission PDF Form</span>
      (<%= link_to @current_user.enrolled_sessions.map{|s|s.campus}.uniq.join(", "), 
           'http://www.explo.org/files/pdf/wheaton_latestay_overnight_permission_2016.pdf', 
           target: 'wheaton_stay_late',
           class: xc('link') %>)
    </dt>
    <dd class="ml0">
      Fill out a copy of this form for each day you plan to have <%= user_info('first_name') %> stay late or overnight, and bring it with you to student drop-off.
    </dd>
  <% end %>
<% end %>
