<% if user_match('s1_res_type', 'residential') || user_match('s2_res_type','residential') %>
  <dt class="mt2">
    <span class="b">Student Email Form</span>
    (<%= link_to "#{user_info('first_name')} #{user_info('last_name')}", "http://summer-email.explo.org/message?sender-name=#{u @current_profile.full_name}&sender-email=#{u @current_profile.email}&student-name=#{user_info('first_name')} #{user_info('last_name')}", target: 'summer-email', class: xc('link')%>)
  </dt>
  <dd class="ml0">
    Send a message to your residential student that will be printed out and delivered at their next living group check-in.
  </dd>
<% end %>
