<dt class="mt2">
  <span class="b">Summer FAQ</span>
  (<%= link_to @current_user.enrolled_sessions.map{|s|s.campus}.uniq.join(", "), 
               dashboard_summer_faq_index_path,
               class: xc('link') %>)
</dt>
<dd class="ml0">
  Frequently asked questions about Explo.
</dd>
