<dt class="mt2">
  <span class="b">Summer Contact Info</span>
  (<%= link_to @current_user.enrolled_sessions.map{|s|s.campus}.uniq.join(", "), 
               dashboard_summer_contact_index_path, class: xc('link') %>)
</dt>
<dd class="ml0">
  Summer Program Address and Contact Information
</dd>
