<% if user_info('s1_campus') || user_info('s2_campus') %>
  <dt class="mt2">
    <span class="b">Trip + Main Event Listing PDF</span>
    (<%=
      case user_info('s1_campus')
        when "Yale University"
          link_to('Session 1', 'http://www.explo.org/files/pdf/yale_S1_trip_me_listings_2016.pdf', target: 'trip_me', class: xc('link'))
        when "Wellesley College"
          link_to('Session 1', 'http://www.explo.org/files/pdf/wellesley_S1_trip_me_listings_2016.pdf', target: 'trip_me', class: xc('link'))
        when "Wheaton College"
          link_to('Session 1', 'http://www.explo.org/files/pdf/wheaton_S1_trip_me_listings_2016.pdf', target: 'trip_me', class: xc('link'))
      end %><% 
      if user_info('s1_campus') && user_info('s2_campus') %> | <% end %><%= 
      case user_info('s2_campus')
        when "Yale University"
          link_to('Session 2', 'http://www.explo.org/files/pdf/yale_S2_trip_me_listings_2016.pdf', target: 'trip_me', class: xc('link'))
        when "Wellesley College"
          link_to('Session 2', 'http://www.explo.org/files/pdf/wellesley_S2_trip_me_listings_2016.pdf', target: 'trip_me', class: xc('link'))
        when "Wheaton College"
          link_to('Session 2', 'http://www.explo.org/files/pdf/wheaton_S2_trip_me_listings_2016.pdf', target: 'trip_me', class: xc('link'))
      end
    %>)
  </dt>
  <dd class="ml0">
    A schedule and description of trips and main events offered at Explo.
  </dd>
<% end %>
