<p>
  <%= user_info('first_name') %> has permission for the following days:
</p>
<table class="w-100 w-80-m w-40-l">
  <thead>
    <tr class="striped--near-white pa2 fw7">
      <td class="pa2">Date</td>
      <td class="pa2">Stay Late?</td>
      <td class="pa2">Overnight?</td>
    </tr>
  </thead>
  <tbody>
    <% @stay_late_forms.try(:each) do |form| %>
      <% if form.try(:overnight) || form.try(:stay_late) %>
        <tr class="striped--near-white">
          <td class="pa2"><%= form.try(:day).try(:strftime,"%A, %B %e") %></td>
          <td class="pa2"><% if form.try(:stay_late) %>YES<% end %></td>
          <td class="pa2"><% if form.try(:overnight) %>YES<% end %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
