<h1 class="<%= xc('h2') %>">Day Student Stay Late + Overnight Permission Form</h1>
<p>
  A normal Day Student day runs from 8:30AM to 4:15 PM. Day students have the option to stay late and be picked up at 9:15pm every weeknight (8:45pm on Saturday and Sunday, $13 charge for dinner) or spend the night up to three nights a week at the program ($28 charge for dinner and breakfast). Friday or Saturday overnights include dinner, breakfast, and a lunch for trip days ($33). All fees will be deducted from your child’s miscellaneous account.
</p>
<p>
  To submit permission to stay late or overnight, simply indicate below the dates for which you give permission for <%= user_info 'first_name' %> to stay late, or stay overnight. <span class="b">The information is submitted to Explo automatically when you click a check-box.</span>
</p>

<table class="stay-late-form">
  <thead>
    <td>Date</td>
    <td>Stay Late</td>
    <td>Stay Overnight</td>
  </thead>
  <tbody>
  <% @current_user.stay_late_forms.each do |form| %>
    <tr>
      <td><%= form.try(:day).try(:strftime,"%A, %B %e") %></td> 
      <td class="stay-late" data-form-id="<%= form.id %>" data-form-value=<%= form.stay_late %>><input type="checkbox"<%= form.stay_late ? " checked" : "" %> <% if Time.now > Time.new(form.try(:day).try(:year), form.try(:day).try(:month), form.try(:day).try(:day), 12, 0) %>disabled<% end %>></td>
      <td class="overnight" data-form-id="<%= form.id %>" data-form-value=<%= form.overnight %>><input type="checkbox"<%= form.overnight ? " checked" : "" %> <% if Time.now > Time.new(form.try(:day).try(:year), form.try(:day).try(:month), form.try(:day).try(:day), 12, 0) %>disabled<% end %>></td>
    </tr>
  <% end %>
  </tbody>
</table>
