<h1 class="<%= xc('h2') %>">
  Add Email to <%= @current_user.get_key('first_name') %> <%= @current_user.get_key('last_name') %>
</h1>

<p class="measure mb4">
  This will allow you to associate a new email address with <%= @current_user.get_key('first_name') %> <%= @current_user.get_key('last_name') %>'s Explo Portal account. Fill out this information if you would like to have another person fill out Explo Portal forms on <%= @current_user.get_key('first_name') %>'s behalf.
</p>

<%= form_tag users_profile_associations_path, class: xc('form') do %>
  <fieldset class="<%= xc('fieldset') %>">
    <legend class="<%= xc('legend') %>">Account Information</legend>
    <div class="mt2">
      <%= label_tag :full_name, 'Full Name', class: xc('label') %>
      <%= text_field_tag :full_name, params[:full_name], class: xc('input-text') %>
    </div>
    <div class="mt3">
      <%= label_tag :email, 'Email', class: xc('label') %>
      <%= text_field_tag :email, params[:email], class: xc('input-text') %>
    </div>
  </fieldset>

  <div class="mt3 mb3">
    <%= submit_tag "Add Email", class: xc('btn') %>
  </div>
<% end %>
