<% invoice_param = Base64.encode64({
  "es" => @current_user.enrolled_sessions.map{|s|{"s" => s.name, "pt" => s.program}},
  "nm" => "#{user_info('first_name')} #{user_info('last_name')}",
  "fn" => user_info('first_name'),
  "pd" => Date.today.to_s,
  "tc" => user_info('total_credits'),
  "td" => user_info('total_debits'),
  "bd" => user_info('balance')
}.to_json) %>

<% unless user_match('is_international','1') %>
  <h1 class="<%= xc 'h2' %>">Final Payments</h1>
  <p>
    <% if Date.today > DateTime.strptime("#{@current_year}-06-01", '%Y-%m-%d') %>
      Final payments made after June 1 must be paid via certified bank check or debit/credit card.
    <% else %>
      Final payments can be made by check, ACH, or debit/credit card.
    <% end %>
  </p>

  <h2 class="<%= xc 'h3' %>">Payment via Check</h2>
  <p>
    Checks must be drawn on U.S. banks in U.S. funds. Explo will not accept checks drawn on a foreign bank.
  </p>
  <p>Click here for <strong><%= link_to 'INSTRUCTIONS ON HOW TO MAKE A PAYMENT VIA CHECK', "http://print.explo.org/invoice?t=fa2a9fc1042f318cdc19c9f4149a6bf9&info=#{invoice_param}", target: 'invoice', class: xc('link') %></strong>.</p>

  <% if Date.today < DateTime.strptime("#{@current_year}-06-01", '%Y-%m-%d') %>
    <h2 class="<%= xc 'h3' %>">Instructions For Payment via ACH (Electronic Check)</h2>
    <p>
      ACH payments must be drawn on U.S. banks in U.S. funds. Explo will not accept ACH payments drawn on a foreign bank.
    </p>

    <p>
      Click here to <strong><%= link_to 'MAKE AN ACH PAYMENT', "https://explo.diamondmindinc.com/?StudentFirst=#{u user_info('first_name')}&StudentLast=#{u user_info('last_name')}&Amount=#{user_info('balance')}&AccountID=#{u @current_user.portico_id}&dob=#{u user_info('dob')}", target: 'diamondmind', class: xc('link') %></strong>
    </p>
  <% end %>

  <h2 class="<%= xc 'h3' %>">Instructions For Payment via Debit/Credit Card</h2>
  <p>
    Please note: families wishing to make final payments via debit/credit card will incur a percentage processing fee assessed by Diamond Mind, the third party administrator Explo uses to process these forms of payment.
  </p>

  <p>
    Click here to <strong><%= link_to 'MAKE A DEBIT/CREDIT CARD PAYMENT', "https://explo.diamondmindinc.com/?StudentFirst=#{u user_info('first_name')}&StudentLast=#{u user_info('last_name')}&Amount=#{user_info('balance')}&AccountID=#{u @current_user.portico_id}&dob=#{u user_info('dob')}", target: 'diamondmind', class: xc('link') %></strong>
  </p>
<% else %>
  <h1 class="<%= xc 'h2' %>">Final Payments</h1>
  <p>
    <% if Date.today > DateTime.strptime("#{@current_year}-06-01", '%Y-%m-%d') %>
      Final payments made after June 1 must be paid via wire, credit card, or certified bank check.
    <% else %>
      Final payments can be made by wire, credit card, or check.
    <% end %>
  </p>

  <h2 class="<%= xc 'h3' %>">Wire or Credit Card Payments (via FlyWire)</h2>
  <p>
    Explo has partnered with FlyWire to provide you with an easy and secure method of sending international payments. FlyWire allows you to:
    <ul>
      <li>Pay via wire or international credit card</li>
      <li>Pay from any country and any bank (outside the U.S.)</li>
      <li>Save on bank fees and exchange rates</li>
      <li>Track your payment from start to finish</li>
    </ul>
  </p>

  <p>
    Click here to <strong><%= link_to 'START A WIRE OR CREDIT CARD PAYMENT WITH FLYWIRE', "https://api.flywire.com/v1/transfers?provider=explo&payment_destination=explo&student_id=#{u user_info('infosnap_id')}&amount=#{u(sprintf("%.2f", user_info('balance')).gsub(".",""))}&student_first_name=#{u user_info('first_name')}&student_last_name=#{u user_info('last_name')}&country=#{u user_info('country')}", target: 'flywire', class: xc('link') %></strong>
  </p>

  <p>
    For reference, <%= user_info 'first_name' %>’s Application ID number is: <%= user_info 'infosnap_id' %>
  </p>
        
      
  <h2>Payments via Check</h2>
  <p>
    Alternatively, you may make your final payment via check. Please note that checks must be drawn on U.S. banks in U.S. funds. Explo will not accept checks drawn on a foreign bank. 
    <% if Date.today > DateTime.strptime("#{@current_year}-06-01", '%Y-%m-%d') %>
      Final payments made after June 1 must be paid via certified bank check or through FlyWire.
    <% end %>
  </p>

  <p>Click here for <strong><%= link_to 'INSTRUCTIONS ON HOW TO MAKE A PAYMENT VIA CHECK', "http://print.explo.org/invoice?t=fa2a9fc1042f318cdc19c9f4149a6bf9&info=#{invoice_param}", target: 'invoice' %></strong>.</p>
<% end %>
