<h1 class="<%= xc('h2') %>">Parent Evaluation Form</h1>

<%= render :partial => 'common/form_errors', :locals => { :object => @parent_eval_form } %>

<%= form_for @parent_eval_form, html: {class: xc('form-wide', add: ["mt4"])} do |f| %>

  <% if (user_info('s1_program_name') || user_info('s2_program_name')) %>

    <%= f.hidden_field :form_type, :value => 'non_mini' %>
    <div class="mt3 mb2">
      Question 1: General <span class="x-red">*</span>
    </div>
    <label class="<%= xc('label') %>">To help us get to know your child better, please tell us a little about them.</label>
    <%= f.text_area :general_information, :disabled => @disabled, class: xc('textarea') %>

    <div class="mt3 mb2">
      Question 2: Being Away From Home <span class="x-red">*</span>
    </div>
    <label class="<%= xc('label') %>">
      <% if(user_match('s1_campus', 'Yale University') || user_match('s2_campus', 'Yale University')) %>
        Has your child experienced difficulty in adjusting to being away from home? If so, is there anything that has been particularly helpful in the past?
      <% else %>
        Is your child prone to homesickness? If so, are there things that we should know to help your child make the transition from home to the program?
      <% end %>
    </label>
    <%= f.text_area :adjusting_homesickness, :disabled => @disabled, class: xc('textarea') %>

    <div class="mt3 mb2">
      Question 3: Social Characteristics <span class="x-red">*</span>
    </div>
    <label class="<%= xc('label') %>">
      <% if(user_match('s1_campus', 'Yale University') || user_match('s2_campus', 'Yale University')) %>
        Please describe your child socially (emotions, initiative, sense of humor, ability to mix, shyness, responsiveness to adults, etc.):
      <% else %>
        Please describe your child's initiative, responsiveness, control of emotions, sense of humor, ability to mix, interest in others, shyness, etc.
      <% end %>
    </label>
    <%= f.text_area :describe_socially, :disabled => @disabled, class: xc('textarea') %>
  
    <div class="mt3 mb2">
      Question 4: Special Interests <span class="x-red">*</span>
    </div>
    <label class="<%= xc('label') %>">
      <% if(user_match('s1_campus', 'Yale University') || user_match('s2_campus', 'Yale University')) %>
        Does your child have any special interests, hobbies, or skills that you would like us to know about?
      <% else %>
        Please describe your child's use of leisure time, hobbies, artistic aptitudes, reading interests, athletics, etc.
      <% end %>
    </label>
    <%= f.text_area :interests, :disabled => @disabled, class: xc('textarea') %>
        
    <div class="mt3 mb2">
      Question 5: Learning <span class="x-red">*</span>
    </div>
    <label class="<%= xc('label') %>">
      <% if(user_match('s1_campus', 'Yale University') || user_match('s2_campus', 'Yale University')) %>
        Please describe your child's learning style (i.e. academic interests, particular techniques with which teachers have had success):
      <% else %>
        Please describe your child's scholastic interests and aversions, learning differences, learning style, particular techniques with which teachers have had success, etc.
      <% end %>
    </label>
    <%= f.text_area :learning_style, :disabled => @disabled, class: xc('textarea') %>
      
    <div class="mt3 mb2">
      Question 6: Summer Experiences <span class="x-red">*</span>
    </div>
    <label class="<%= xc('label') %>">
      Has your child attended a day or overnight program/camp before? If so, how was the experience?
      </br>
    </label>
    <%= f.text_area :attend_before, :disabled => @disabled, class: xc('textarea') %>
        
    <div class="mt3 mb2">
      Question 7: Expectations <span class="x-red">*</span>
    </div>
    <label class="<%= xc('label') %>">
      Why are you sending your child to Explo? <br>
      What are you hoping your child will get out of the program?
    </label>
    <%= f.text_area :expectations, :disabled => @disabled, class: xc('textarea') %>

    <div class="mt3 mb2">
      Question 8: Medications <span class="x-red">*</span>
    </div>
    <div class="<%= xc('label')%>">
      Does your child regularly take medication or have a prescription to standing medication (such as EpiPens and inhalers)?  
    </div>
    <div>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :takes_medications, true, :disabled => @disabled %>
        <span class="ml1">Yes</span>
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :takes_medications, false, :disabled => @disabled %>
        <span class="ml1">No</span>
      </label>
    </div>
    
    <div class="mt3 mb2">
      Question 9: Additional Comments
    </div>
    <label class="<%= xc('label') %>">
      We welcome any additional comments or concerns you may have regarding your child's Explo experience.
      <div class="i">
        Please do not use this form for questions. You may call us with any questions at 781-762-7400.
      </div>
    </label>
    <%= f.text_area :concerns, :disabled => @disabled, class: xc('textarea') %>
    
    <div class="mt3 mb2">
      Question 10: Optional Information
    </div>
    <div class='i f6'>
      The following information helps us to maintain a diverse student body through better understanding our admissions patterns regarding diversity. This information is optional and will not be used in a discriminatory manner.
    </div>
    <label class="<%= xc('label', add: ["mt2"]) %>">
      Please indicate your child's racial/ethnic affiliation: 
    </label>
    <div>
      <%= f.select(:ethnicity_drop_down, {
        "" => "",
        "African American" => "African American",
        "Asian American" => "Asian American",
        "Asian, including the Indian Subcontinent" => "Asian",
        "Biracial/Multiracial" => "Biracial/Multiracial",
        "Hispanic, Latino" => "Hispanic, Latino",
        "Mexican American, Chicano" => "Mexican American, Chicano",
        "Native American, Alaskan Native" => "Native American, Alaskan Native",
        "Native Hawaiian, Pacific Islander" => "Native Hawaiian, Pacific Islander",
        "Puerto Rican" => "Puerto Rican",
        "White or Caucasian" => "White or Caucasian",
        "Other" => "Other"
      }, {}, {:disabled => @disabled, class: xc("select-narrow"), style: xs("select")}) %>
    </div>
      
    <div>
      <label class="<%= xc('label', add: ["mt2"]) %>">
        If applicable, please list tribal affiliation, country of family's origin, or other details of student's racial/ethnic affiliation:
      </label>
      <%= f.text_field :ethnic_affiliation, :disabled => @disabled, class: xc('input-text-narrow') %>
    </div>

  <% else %>

    <%= f.hidden_field :form_type, :value => 'mini' %>
    <div class="mt3 mb2">
      <label class="<%= xc('label') %>">
        What are the important things we should know about your child?
      </label>
      <%= f.text_area :general_information, :disabled => @disabled, class: xc('textarea') %>
    </div>
    <div class="mt3 mb2">
      <label class="<%= xc('label') %>">
        How does your child interact with other children of a similar age?
      </label>
      <%= f.text_area :describe_socially, :disabled => @disabled, class: xc('textarea') %>
    </div>
    <div class="mt3 mb2">
      <label class="<%= xc('label') %>">
        Why are you sending your child to Explo Mini? <br>
        What are you hoping your child will get out of the program?
      </label>
      <%= f.text_area :expectations, :disabled => @disabled, class: xc('textarea') %>
    </div>

  <% end %>

  <%= render :partial => 'common/form_submit', :locals => { :f => f, :disabled => @disabled } %>
<% end %>
