<h1>Listing airports</h1>

<table>
  <tr>
    <th>Icao</th>
    <th>Latitude</th>
    <th>Location</th>
    <th>Longitude</th>
    <th>Name</th>
    <th>Timezone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @airports.each do |airport| %>
  <tr>
    <td><%= airport.icao %></td>
    <td><%= airport.latitude %></td>
    <td><%= airport.location %></td>
    <td><%= airport.longitude %></td>
    <td><%= airport.name %></td>
    <td><%= airport.timezone %></td>
    <td><%= link_to 'Show', airport_path(airport) %></td>
    <td><%= link_to 'Edit', edit_airport_path(airport) %></td>
    <td><%= link_to 'Destroy', airport_path(airport), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Airport', new_airport_path %>
