<p id="notice"><%= notice %></p>

<p>
  <b>Icao:</b>
  <%= @airport.icao %>
</p>

<p>
  <b>Latitude:</b>
  <%= @airport.latitude %>
</p>

<p>
  <b>Location:</b>
  <%= @airport.location %>
</p>

<p>
  <b>Longitude:</b>
  <%= @airport.longitude %>
</p>

<p>
  <b>Name:</b>
  <%= @airport.name %>
</p>

<p>
  <b>Timezone:</b>
  <%= @airport.timezone %>
</p>


<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', airports_path %>
