#arrival-arrange-own-transport-comments { display: none; }
#arrival-method-force-arrange-own-transport { display:none; }
#arrival-method { display: none; }
#colpitts-more-information { display: none; }
#colpitts-show-more-information {
  cursor: pointer;
  text-decoration: none;
}
#unaccompanied-minor-departure { display: none; }
