<table id="user-search-list">
  <thead>
    <tr class="tl">
      <th class="pl2">Name</th>
      <th class="pl2">Profiles</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => 'admin/user_search/user', :collection => @users %>
  </tbody>
</table>
