<tr class='striped--near-white'>
  <td class="pv1 ph2">
    <%= h user.get_key 'first_name' %> <%= h user.get_key 'last_name' %>
  </td>
  <td class="pv1 ph2 f6">
    <% user.profiles.each_with_index do |p, i| %>
      <% if i > 0 %><br><% end %>
      <%= link_to p.email, login_as_profile_path(id: p.id, user_id: user.id), class: xc('link') %>
      • <%= link_to "change pass", reset_password_profile_path(id: p.id), class: xc('link') %>
      • <%= link_to "resend welcome", resend_welcome_profile_path(id: p.id, user_id: user.id), class: xc('link') %>
    <% end %>
  </td>
</tr>
