<h1 class="<%= xc('h2') %>">Portal Users Search</h1>

<%= form_tag '/admin/user_search', method: :post, remote: true, class: xc('form', replace: {"w5" => "w-100"}) do %>
  <div class="dib">
    <%= label_tag 'query', "Search Name or Email", class: xc('label') %>
    <%= text_field_tag 'query', '', placeholder: "search", class: xc('input-text') %>
  </div>
  <div class="dib mt2 mt0-ns ml3-ns ">
    <%= submit_tag 'search', class: xc('btn') %>
  </div>
<% end %>

<div class="mt3">
  <%= render :partial => 'users', :object => @users %>
</div>
