<% if(user_match('s1_res_type', 'Residential') || user_match('s2_res_type', 'Residential')) %>
  <h1 class="<%= xc('h2') %>">Housing Form</h1>
<% else %>
  <h1 class="<%= xc('h2') %>">Day Group Form</h1>
<% end %>


<%= render :partial => 'common/form_errors', :locals => { :object => @housing_form } %>

<%= form_for @housing_form, html: {class: xc('form-wide', add: ["mt4"])} do |f| %>
  <% if(user_match('s1_res_type', 'Residential') || user_match('s2_res_type', 'Residential')) %>
    <%= f.hidden_field :is_residential, value: true %>

    <p class="i">Please note: Due to the complex logistics of assigning students, housing requests submitted after June 1, 2017 may not be honored.</p>
    <p>
      Residential students often report that meeting new people from around the world is a highlight of their Explo experience. As such, we strive to cultivate new friendships by maintaining geographically diverse living groups and balancing the number of new and returning students.
    </p>
    <% if(user_match('s1_campus', 'Wellesley College') || user_match('s2_campus', 'Wellesley College') ) %>
      <p>
        Explo students sleep in the same dorm rooms that Wellesley College students occupy during the year. Our dormitories are divided into "living groups" of approximately twenty students of the same grade and gender. Living groups function like an Explo family, meeting together regularly throughout the day. While most of our dorm rooms are doubles (meaning a student would have one roommate), several of our living groups include singles. We are unable to take requests for the number of roommates a student will have.
      </p>
    <% end %>
    <% if(user_match('s1_campus', 'Yale University') || user_match('s2_campus', 'Yale University') ) %>
      <%= f.hidden_field :is_yale, value: true %>
      <p>
        Students sleep in the same dorm rooms that students at Yale use during the year, and our students are divided into “living groups” of approximately 18-24 students of the same gender and grade. Yale dorms are generally, though not always, suite-style with 4-8 students housed in multiple bedrooms around a common room. While most of our dorm rooms are doubles (meaning a student would have one roommate), there are also a number of single rooms on some halls.
      </p>

      <h2 class="<%= xc('h3') %>">ROOM SIZE</h2>
      <div class="mt3">
        <div class="b">
          Do you have a preference for room size?
        </div>
        <div class="mt2">
          <label class="<%= xc('label') %>">
            <%= f.radio_button :res_room_size, 'single', :disabled => @disabled, class: 'mr1' %>
            Single
          </label>
        </div>
        <div>
          <label class="<%= xc('label') %>">
            <%= f.radio_button :res_room_size, 'double', :disabled => @disabled, class: 'mr1' %>
            Double
          </label>
        </div>
		</div>
    <% end %>

    <h2 class="<%= xc('h3') %>">PERSONAL INFORMATION <span class='x-red'>*</span></h2>
    <div class="<%= xc('label') %>">
        Is there anything else you would like us to know as we make roommate assignments?
    </div>
    <div class=''>
      <%= f.text_area :res_other_information, :disabled => @disabled, class: xc('textarea') %>
		</div>

    <h2 class="<%= xc('h3') %>">HOUSING REQUEST (optional)</h2>
    <p>
      Most students do not attend Explo with a friend. In fact, we encourage students who are attending with friends to seriously consider not rooming together so that they can be more open to meeting new people. Another possibility is to assign friends to the same living group, but not as roommates. Please think carefully before requesting a friend as a roommate.
    </p>
    <p>
      Housing requests will only be honored if both students request each other on their respective housing forms, so friends should coordinate before requesting each other. Students must be in the same grade and be of the same gender. <span class="underline">Due to the complexity of creating balanced living groups, we will not process forms that contain multiple names in the field below.</span>
    </p>
    <div class="mt4 mb2 b">
        Select One of the Following Request Options:
    </div>
    <div>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :res_roommate_request_preference, 'no request', :disabled => @disabled, class: 'mr1' %>
        I do not wish to make a housing request.
      </label>

    </div>
    <div>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :res_roommate_request_preference, 'roommate', :disabled => @disabled, class: 'mr1' %>
        I would like to request the following student as my roommate.
      </label>
    </div>
    <div>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :res_roommate_request_preference, 'living group', :disabled => @disabled, class: 'mr1' %>
        I would like to request the following student be in my living group.
      </label>
    </div>
    <div id='res-name-of-student-requested' class='dn mt3'>
      <label class="<%= xc('label') %>">
        Name of Student Requested
        <%= f.text_field :res_roommate_request_name, :disabled => @disabled, class: xc('input-text-narrow') %>
      </label>
    </div>

  <% else %>

    <%= f.hidden_field :is_day, value: true %>

    <h2 class="<%= xc('h3') %>">PERSONAL INFORMATION<span class='x-red'>*</span></h2>
    <div class="mt2">
			<label class="<%= xc('label') %>">
        When we make day group assignments, we take into account answers on the Parent/Guardian Form and other students' home towns, ages, etc. Is there anything else you would like us to know as we make group assignments?
      </label>
      <%= f.text_area :day_other_information, :disabled => @disabled, class: xc('textarea') %>
		</div>

    <h2 class="<%= xc('h3') %>">DAY GROUP REQUEST (optional)</h2>
    <p>
      Please note: most students are <span class="b">not</span> attending Explo with a friend. We encourage students who <span class="b">are</span> attending the program with friends to seriously consider not being in the same day group so that they can get to know new people.
    </p>
    <p>
      We will try to honor day group requests only if <span class="b">both</span> students request each other, <%= (user_match('s1_campus', 'Wellesley College') || user_match('s2_campus', 'Wellesley College')) ? "are in the same grade, and of the same gender" : "and are in the same grade" %>. While we attempt to honor all day group requests, we cannot guarantee that we will be able to accommodate them.
    </p>

		<div class="mt3 mb2">
      Select one of the following request options:
    </div>
    <div>
      <label class="<%= xc('label') %>">

        <%= f.radio_button :day_group_request_preference, 'no request', :disabled => @disabled, class: 'mr1' %>
        I do not wish to make a day group request.
      </label>
    </div>
    <div>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :day_group_request_preference, 'day group', :disabled => @disabled, class: 'mr1' %>
        I would like to request the following student be in my day group.
      </label>
    </div>
    <div id="day-name-of-student-requested" class="dn mt3">
        <label class="<%= xc('label') %>">
          Name of Student Requested
          <%= f.text_field :day_group_request_name, :disabled => @disabled, class: xc('input-text-narrow') %>
        </label>
  </div>
  <% end %>
  <%= render :partial => 'common/form_submit', :locals => { :f => f, :disabled => @disabled } %>
<% end %>
