<% if @enrolled_campuses.include? "Wellesley College" %>

<!-- content last modified 2016.06.17 -->
<h1 class="<%= xc 'h2' %>" id="wellesley-2016-summer-faq">Wellesley 2016 Summer FAQ</h1>
<h2 class="<%= xc 'h3' %>" id="how-can-i-check-on-my-child">How can I check on my child?</h2>
<p>We recommend leaving a message for your student to give you a call. Sometimes our students get so wrapped up in their Explo lives that they forget to call home. A gentle reminder via our email form, a fax, or a phone message can spur your student to action; see <%= link_to 'Contacting Students', dashboard_summer_contact_index_path, class: xc('link') %> for more information on getting in touch.</p>
<p>If you would like to speak to someone at the program about how your child is doing, feel free to contact our Dean's Office at 781.283.3781. One of our Residence or Day Directors will be able to fill you in on how your student is doing. (They are also very good at nudging students to call home!)</p>
<h2 class="<%= xc 'h3' %>" id="when-does-my-student-have-access-to-on-campus-phones">When does my student have access to on-campus phones?</h2>
<p>We have phones situated throughout our residence halls beginning the first Friday of the program. Students are free to use these phones whenever they are not involved in a required activity such as a course, workshop, or main event beginning the first Friday of the program. (Students may not access personal cell phones until the final Wednesday of the program.)</p>
<p>Good times for students to make calls include the late afternoon Independent Time and in the late evening following the evening event. Students are not allowed to make phone calls after room curfew, which is at 10:00 p.m. Local and domestic long distance are covered by Explo. We encourage international students to bring calling cards from home, but also have them available for sale through the Main Office. We can also deduct the cost of the card from the student’s Miscellaneous Account.</p>
<h2 class="<%= xc 'h3' %>" id="can-i-send-care-packages">Can I send care packages?</h2>
<p>Yes. Feel free to send toiletries, books, magazines or other items. Be creative. We have found that students enjoy receiving personalized care packages. Some ideas include newspaper articles featuring local news, clippings of favorite comic strips, stories about favorite sports teams, and special local food treats. Packages should be shipped to our mailing address found under <%= link_to 'Contacting Students', dashboard_summer_contact_index_path, class: xc('link') %>.</p>
<h2 class="<%= xc 'h3' %>" id="how-long-does-it-take-for-a-package-to-reach-my-child">How long does it take for a package to reach my child?</h2>
<p>All packages and letters will be delivered as efficiently as possible. However, we cannot guarantee an arrival day or time, as all mail must be sorted through the Wellesley College Distribution Center. The Wellesley College mailroom does not sort mail on weekends. Because of this process, it will take at least one to two additional days for students to receive notification that it is time to pick up a package, even after a tracked package's status is &quot;delivered.&quot;</p>
<h2 class="<%= xc 'h3' %>" id="is-mail-delivered-on-saturdays-or-sundays">Is mail delivered on Saturdays or Sundays?</h2>
<p>No. All mail and packages must go through the Wellesley College Distribution Center, which is closed on the weekend.</p>
<h2 class="<%= xc 'h3' %>" id="can-i-ship-my-students-luggage">Can I ship my student's luggage?</h2>
<p>We strongly discourage families from shipping luggage to the program and we cannot be responsible for shipping luggage home.</p>
<h2 class="<%= xc 'h3' %>" id="can-my-child-withdraw-spending-money-from-hisher-miscellaneous-account">Can my child withdraw spending money from his/her Miscellaneous Account?</h2>
<p>No. Students may not withdraw cash for spending money from their Miscellaneous Accounts. Students are strongly discouraged from bringing large amounts of cash to the program. Debit cards and prepaid credit cards designed for teens are a better option.</p>
<h2 class="<%= xc 'h3' %>" id="is-the-miscellaneous-account-sufficient-to-cover-my-childs-expenses">Is the Miscellaneous Account sufficient to cover my child's expenses?</h2>
<p>Each student is required to have a Miscellaneous Account at the program which is used to cover the costs of weekend trips, extra meal charges for Day Students staying late or overnight, and student incidentals such as lost keys. The Miscellaneous Account may NOT be used for student spending money. Each student begins the program with a standard Miscellaneous Account balance ($300) that we have found allows most students to take advantage of everything they wish to do at the program. If funds are low in this account, the Banker may call you to request an additional deposit.</p>
<h2 class="<%= xc 'h3' %>" id="what-happens-to-money-left-over-in-the-miscellaneous-account">What happens to money left over in the Miscellaneous Account?</h2>
<p>Any money that is left over in a student's Miscellaneous Account will be refunded to the person responsible for billing in late September.</p>
<h2 class="<%= xc 'h3' %>" id="can-i-visit-my-child-at-the-program">Can I visit my child at the program?</h2>
<p>Due to the short length of an Explo session and a packed schedule, most students do not have visitors during their time at Explo. However, if you’d like to visit, the best times to schedule a visit is during the weekday afternoon Independent Time, between 5:15pm and 6:45pm. Weekend daytime visits may require a student to miss a field trip, so we strongly discourage visitors during these times. We cannot receive students after 9:00pm on any evening.</p>
<p>Students may only have visitors who are over the age of 21 and who are specifically named on an Authorized Visitor list by parents or guardians. All visitors are required to show photo ID. Please make arrangements several days in advance. You can arrange details with our Main Office by calling 781. 283.3781. Visitors must meet children at the Main Office and may not enter the Explo quad or dormitories.</p>
<h2 class="<%= xc 'h3' %>" id="may-i-or-a-friend-or-relative-of-mine-sign-out-my-child-to-go-off-campus">May I or a friend or relative of mine sign out my child to go off campus?</h2>
<p>A student may sign out for an evening or weekend visit with anyone on his/her Authorized Visitors List by going through our sign-out procedure.</p>
<ol style="list-style-type: decimal">
  <li>Students may not sign out during course periods.</li>
  <li>Students not staying out overnight must be signed back in by 9:00 p.m.</li>
  <li>Only guests age 21 or over will be permitted to sign a student out.</li>
  <li>Students who are signing out must leave complete information about intended destination, temporary guardian, and time of return.</li>
  <li>Visitors must be present at the sign out and have a valid photo ID.</li>
  <li>Please remember that students cannot have visitors until 5:15 p.m. on the first Friday of each session.</li>
</ol>
<p>You should schedule a pick-up time with the student and should meet the student at this time at the Main Office to complete the sign-out process.</p>
<p>We do not recommend overnight visits for a variety of reasons. If you feel you must take your child out of the program overnight, please contact our Dean's Office.</p>
<h2 class="<%= xc 'h3' %>" id="where-is-the-main-office">Where is the Main Office?</h2>
<p>Explo at Wellesley is located in the Tower Quad complex that consists of four residence halls: Lake House, Severance, Tower Court, and Claflin. Adjacent to Claflin (across the rotary) is the Cervantes House where the Main Office is located on the first floor. You'll see a &quot;Welcome to Explo&quot; sign hanging above the porch.</p>
<h2 class="<%= xc 'h3' %>" id="what-are-the-check-out-procedures-for-day-students-where-should-i-pick-up-my-day-student">What are the check-out procedures for day students? Where should I pick up my day student?</h2>
<p>All day students are required to check out prior to leaving campus at the end of the day, regardless of time or method of departure. Students leaving by bus will check out with their day group, before meeting their bus. Students leaving on foot or by bike will also check out with their day group, and must depart the program at 4:30 p.m. Students leaving by car at 4:15 p.m. or 9:15 p.m. will check out with their day group, before proceeding to the Alumnae Hall Traffic Circle, where they will be picked up. Students who are not getting picked up at these times must check out at the Main Office prior to leaving. Parents or guardians picking students up should NOT park near the dormitory complex, as this area is a tow zone. Parents or guardians should park in the parking garage across from the Campus Center and walk up the pedestrian route to the Quad.</p>
<p>There is a $13 fee for any day student staying after 4:15 PM on weekdays. This amount is deducted automatically from the student's miscellaneous account.</p>
<h2 class="<%= xc 'h3' %>" id="how-does-my-day-student-sign-up-to-stay-overnight">How does my day student sign up to stay overnight?</h2>
<p>Day students may stay overnight up to three nights per week. (A week runs from Sunday to Saturday.) There is a $28 fee per overnight. (If students are attending a weekend trip, the fee is $33, which includes lunch for the next day.) The fee is automatically deducted from students' Miscellaneous Accounts. Students may begin staying overnight the first Monday of the session. Students are not permitted to stay over the final Friday of the session. Students need to sign up to stay overnight the morning they would like to stay. They should bring a &quot;Staying Overnight&quot; form, signed by their parents, on the morning before the overnight, or on Friday morning for Saturday overnights. Students will be informed as to where they will be staying at their afternoon day group meetings.</p>
<p>All Residential Rules apply to students who are staying late or overnight. Students who abuse this system may lose the opportunity to stay over for a period of time or completely.</p>
<h2 class="<%= xc 'h3' %>" id="what-should-my-day-student-bring-for-an-overnight">What should my day student bring for an overnight?</h2>
<p>Day students should bring a sleeping bag or bedroll, pillow, pajamas, toiletries, change of clothes, etc. We encourage students NOT to bring valuables. Students will be directed to drop their things in the day student storage rooms.</p>
<h2 class="<%= xc 'h3' %>" id="my-student-is-homesick-what-can-i-do-to-help">My student is homesick, what can I do to help?</h2>
<p>Homesickness is natural for students. Pre-departure preparation is the best way to avoid homesickness altogether. Homesickness usually sets in when students arrive at the program having either too high or too low expectations for the summer. Before your child leaves, help set realistic expectations about what your child should expect at the Explo at Wellesley.</p>
<p>Once the student is at the program, limit phone calls home (students are allowed to call home beginning Friday afternoon of the first week). We have found that this forces a child to develop a support network for himself or herself at the program. When your child does call, keep the conversation upbeat, positive, and focused on the child's activities and opportunities at the program. Ask about what workshops s/he is involved in, what s/he has done in his/her courses, what trips s/he has signed up for, who his/her favorite staff member is, what was the most recent main event... Be firm in your affirmation. Let your child know that you know s/he is going to make it through and is going to have a lot of fun. Avoid phrases such as &quot;We miss you&quot; or extended conversations about home which may invoke a feeling of guilt in your student for not being there.</p>
<p>Don't make &quot;deals.&quot; Some parents, when faced with a child's trepidation about leaving home, make a deal with the child. Before the child arrives at the program, the parent may say, &quot;Try it for a couple of days and if you don't like it you can leave on Tuesday.&quot; Unfortunately, this kind of agreement can be the undoing of a successful sleep-away experience. Instead of working through the first few days of homesickness — by making friends and taking advantage of activities, workshops, etc. — the child can only focus on the parent's promise that he or she can leave within 48 hours.</p>
<p>Our Residential Advisors, Residence Directors, and the Dean and Assistant Deans of Students are here to help ease students' transition to the program. We look to get homesick students as actively involved in the program as possible. If you have advice (or need advice) on how to best deal with your child's homesickness, please contact our Dean's Office staff at 781.283.3781. Once our Dean's Office staff has sensed that a child is homesick, we do our best to get him/her involved in groups with other students and engaged in activities that match his/her interests.</p>
<p>Feel free to send your child emails, letters, and care packages from home, but don't barrage your child with messages from home. When you do write, be thoughtful and always keep up a positive, upbeat, supportive tone. See Contacting Students for more information on getting in touch.</p>
<h2 class="<%= xc 'h3' %>" id="how-does-my-student-do-hisher-laundry">How does my student do his/her laundry?</h2>
<p>Each of the residence halls has coin-operated washer and dryer facilities available for students to do their laundry. The charge for each complete cycle is $1.25 by quarters or debit cards. We recommend you send your child to the program with a roll of quarters, but students may also request quarters from their Miscellaneous Account from the Main Office. Students may use the machines during their free times: during meal times and in the late afternoon. The laundry rooms are staffed during these free times in order to help students who need assistance (or a laundry lesson!).</p>
<p>For many students, this is the first time that they have had to do their own laundry. Our Residential Advisors are aware of this, and are available to assist students with the washing machines as necessary. While our Residential Advisors will not be conducting Living Group &quot;Laundry Checks&quot; to ensure that students are doing their laundry, our RAs have their eyes, ears, and noses open and will be available for help as necessary.</p>
<h2 class="<%= xc 'h3' %>" id="how-do-i-know-that-my-student-is-eating-well">How do I know that my student is eating well?</h2>
<p>Our dining halls are open three times a day, serving breakfast, lunch, and dinner. During each meal, there are a variety of different healthy (and tasty) food options. There are always two entrees, a vegetarian option, a full salad bar, and plenty of fruits and vegetables. Meals are all you can eat, and students come and go during meal time as they please. While we do not take roll call at meals, our Residential and Day Advisors do check in with students and are on the lookout to make sure that students are eating consistently and generally eating well. Our dining hall is designated nut- and peanut-free. If you have any specific concerns about your son or daughter's eating habits, don't hesitate to call our Dean's Office at 781.283.3781.</p>
<h2 class="<%= xc 'h3' %>" id="are-students-allowed-to-have-food-in-their-rooms">Are students allowed to have food in their rooms?</h2>
<p>Yes, students are allowed to keep food in their rooms. For sanitary reasons, all food in rooms must be kept in containers. Students will have access to refrigerators and microwaves on their floors, but students are not allowed to have these appliances in their rooms.</p>
<h2 class="<%= xc 'h3' %>" id="im-worried-that-my-students-room-will-turn-into-a-mess-after-we-drop-himher-off-at-the-program.-is-there-any-way-to-ensure-that-my-student-will-keep-hisher-room-clean">I'm worried that my student's room will turn into a mess after we drop him/her off at the program. Is there any way to ensure that my student will keep his/her room clean?</h2>
<p>Aside from general, day-to-day monitoring of students by Residential Advisors, the Dean's Office sponsors weekly &quot;Room Inspections&quot; for our Residential Students to ensure that students keep their rooms neat and tidy. Students often make quite a show out of &quot;Inspection&quot; nights. Some play classical music as &quot;Inspectors&quot; view their rooms, while others have recited original poetry about the virtues of clean sheets. At the end of all the fun, though, we are sure that our students' rooms are mostly clean!</p>
<h2 class="<%= xc 'h3' %>" id="are-there-medical-facilities-on-campus">Are there medical facilities on campus?</h2>
<p>Experienced nurses are available on-campus 24-hours-a-day. Our Health Office is centrally located in Tower Court next to our residential quad and has regular hours to treat ill students and to aid in the administration of student medications. We are able to regularly schedule appointments with medical doctors and nurse practitioners at local medical practices. Newton-Wellesley Hospital is nearby for emergencies, appointments, and consulting physicians as well.</p>
<h2 class="<%= xc 'h3' %>" id="what-are-your-policies-regarding-roommate-conflicts">What are your policies regarding roommate conflicts?</h2>
<p>We attempt to room students based on the information you have provided us on our Housing Questionnaire, but there are no guarantees that two roommates will be perfect for one another. Exploration does not change roommates during the session. Our Dean's Office and Residence Staff are well trained to help all students adjust to living with a roommate and to being part of a new community, including creating roommate contracts together to help set reasonable expectations of one another.</p>
<h2 class="<%= xc 'h3' %>" id="where-can-my-student-go-swimming">Where can my student go swimming?</h2>
<p>There are several opportunities for students to go swimming. Students may swim in the Wellesley College Indoor Pool during most activity periods. The pool is supervised by Wellesley College lifeguards, and is also available for students on selected evenings. In addition, we regularly offer water-based activities and workshops that allow students to get water instruction (sailing, canoeing, and kayaking) during the day.</p>
<h2 class="<%= xc 'h3' %>" id="i-understand-that-students-are-allowed-to-go-into-the-town-of-wellesley.-how-are-they-supervised">I understand that students are allowed to go into the town of Wellesley. How are they supervised?</h2>
<p>They are supervised very well. Students are allowed to walk into the town of Wellesley from 4:30 - 6:15 p.m. approximately twice a week. The boundaries of the &quot;Vil&quot; are very clearly designated at the beginning of the program, and we have a large number of staff stationed throughout the &quot;Vil&quot; and on the pathway there and back to ensure student safety.</p>
<h2 class="<%= xc 'h3' %>" id="what-are-the-details-of-departure-day">What are the details of departure day?</h2>
<p>All Students must be signed out, with their keys returned by noon on departure day. For students departing by car: All students and student belongings will be outside of the building by 8:30 a.m. on departure day. After 8:30 a.m., no students will be permitted to return inside the building. A week prior to departure, we will send out an email with information regarding a suggested hour for picking up your child so that we can reduce congestion. While we won't turn anybody away at any time, we would appreciate your support with this if possible. All students must depart by 12:00 p.m. Please arrange a departure time in advance with your child so s/he will be prepared to leave when you arrive.</p>
<p>For students departing by plane: All students departing by plane are required to turn their tickets into the Main Office at the beginning of each session. Our office staff compiles a list of student departure times and schedules students to appropriate buses going to Logan International Airport.</p>
<p>On the morning of departure day, students know when and where they are supposed to meet the airport shuttle. We assign staff to track down students who may be running late in the morning to ensure that no student misses his/her flight. When the shuttle arrives at the appropriate terminal, student tickets are returned to the students. Staff are stationed at the airport and will help assist students in finding their appropriate check-in counter and flight.</p>
<h2 class="<%= xc 'h3' %>" id="what-is-scheduled-for-six-week-students-during-transition-weekend-between-first-and-second-session">What is scheduled for six-week students during &quot;transition weekend&quot; between first and second session?</h2>
<p>On Saturday of transition weekend, six-week students have the option of either getting signed out by parents or relatives or taking a day-long trip. Students who wish to get signed out on Saturday must be picked up by 11:30 a.m. Students who are signed out on Saturday may NOT return to campus until 9:00 p.m. that Saturday night. Students who are signed out on Saturday may also opt to stay signed out overnight and return on Sunday. All other students will attend a day-long trip, culminating with dinner and an early evening movie.</p>

<% end %>
