<% if @enrolled_campuses.include? "Wheaton College" %>

<!-- last modified 2016.06.17 -->
<h1 class="<%= xc 'h2' %>" id="wheaton-2016-summer-faq">Wheaton 2016 Summer FAQ</h1>
<h2 class="<%= xc 'h3' %>" id="i-havent-heard-from-my-child-in-a-while.-how-can-i-find-out-how-heshe-is-doing">I haven't heard from my child in a while. How can I find out how he/she is doing?</h2>
<p>Every residential student at Explo at Wheaton has two Residential Advisors who live on the same hall. In addition to their Residential Advisors, students are also looked after by two Residence Directors. These four people are responsible for making sure that your child is communicating with you on a regular basis, through phone calls and written correspondence. If you feel the need to speak to your child more frequently, we recommend leaving a message with the Explo at Wheaton office or sending your child a gentle reminder via email using our <%= link_to 'Contacting Students', dashboard_summer_contact_index_path, class: xc('link') %> form.</p>
<p>If you would like to speak to someone at the program to discuss how your child is doing, please contact your child's Residence Director at 508.286.5868.</p>
<h2 class="<%= xc 'h3' %>" id="why-cant-i-speak-with-my-child-during-the-first-week">Why can't I speak with my child during the first week?</h2>
<p>Students need time to settle into the program, and to avert as much homesickness as possible, we do not allow Explo at Wheaton students to call home during the first week of each session. Students are encouraged to write home during their first week, however.</p>
<p>Students will start making calls home on Monday of week 2. However, please recognize that there is an overwhelming demand for the use of the telephone after the first week of the session, so it is possible you may not hear from your child until Tuesday. Please note that we will arrange a scheduled time with your family either on Arrival Day or during the first week of the program, so you will know when to expect the first call from your child.</p>
<h2 class="<%= xc 'h3' %>" id="when-does-my-child-have-access-to-on-campus-phones">When does my child have access to on-campus phones?</h2>
<p>Phones are available on each residential hall. After the first week, there will be blocks of time each day for students to call their parents. Staff members are available to assist your child in making these calls. Due to the busy schedule of your child, as well as the limited number of phones, these calls will be limited to five minutes.</p>
<p>The telephones will be available for your child during the following blocks of time:</p>
<ul>
  <li>4 p.m. - 5 p.m.</li>
  <li>8:30 p.m. - 8:55 p.m. (Pioneers)</li>
  <li>8:30 p.m. - 9:25 p.m. (Voyagers)</li>
</ul>
<p>During the day, you are welcome to leave a message for your child by calling the Explo at Wheaton office at 508.286.5868. We will make sure your child receives the message during afternoon student check-in.</p>
<p>Day Students who need to call their parents for an important reason will need to go to the Main Office.</p>
<h2 class="<%= xc 'h3' %>" id="im-worried-about-my-childs-miscellaneous-account.-will-it-be-enough">I'm worried about my child's Miscellaneous Account. Will it be enough?</h2>
<p>Each child at the program is required to have a Miscellaneous Account, which is used to cover the costs of weekend and special evening trips, spending money on these trips, and extra meal charges for day students staying late. Through experience, we have found that the standard Miscellaneous Account is typically more than enough to cover trips and spending money. However, in the event that your child's account is running low, our banker will contact your family to let you know.</p>
<h2 class="<%= xc 'h3' %>" id="can-i-send-my-child-additional-money-throughout-the-summer">Can I send my child additional money throughout the summer?</h2>
<p>The Miscellaneous Account may be supplemented at any time during the summer by sending a check to the program banker. Make checks payable to: Exploration School, Inc. Be sure to write the name of your child and &quot;Explo at Wheaton&quot; on the check. Send checks to:</p>
<p>Attn: Explo Explo at Wheaton 26 East Main Street Norton, MA 02766</p>
<h2 class="<%= xc 'h3' %>" id="what-happens-to-the-money-left-over-in-the-drawing-account">What happens to the money left over in the drawing account?</h2>
<p>A check for any amount left over in the Miscellaneous Account, as well as a statement of charges, will be refunded to the credit card used to pay and/or mailed to the person responsible for billing in late September.</p>
<h2 class="<%= xc 'h3' %>" id="how-do-i-know-that-my-child-is-doing-hisher-laundry">How do I know that my child is doing his/her laundry?</h2>
<p>Personal laundry and linens will be picked up and returned once a week. Please note: the personal laundry service covers only standard washing and drying. Please do not send your child with clothing that requires special care. Your child's Residential Advisors make sure that students are sending in laundry, and will assist your child with the laundry process.</p>
<h2 class="<%= xc 'h3' %>" id="how-do-i-know-that-my-child-is-eating-well">How do I know that my child is eating well?</h2>
<p>Our dining hall serves three meals a day: breakfast, lunch, and dinner. During each meal, there are a variety of different healthy and delicious food options. There are always at least two entrees, a vegetarian option, a deli bar at lunch, a salad bar at lunch and dinner, and there are always plenty of fruits and vegetables. Residential students eat breakfast and dinner with their hall groups, as well as an afternoon snack, and Residential Advisors check for healthy eating patterns.</p>
<h2 class="<%= xc 'h3' %>" id="may-i-send-food-to-a-student-to-keep-in-their-room">May I send food to a student to keep in their room?</h2>
<p>This summer we have a number of students with severe, potentially life-threatening food allergies. In an effort to keep all students safe, we ask that you please refrain from bringing or mailing any food, snacks, or candy of any kind to campus.</p>
<p>For several years, our program has adhered to a strict nut-free policy for the safety of our students with severe allergies. As a result, all food products mailed to our campus had to be thoroughly checked. Though some food-service companies are diligent about reporting when their foods contain nuts or come from nut-processing facilities, many food products are sold without proper allergen labeling, which meant that our Residential Directors often had to call the companies directly to inquire about individual products. Unfortunately after this thorough research, we were forced to remove nearly 2/3 of food products from student care packages last year. Products not in retail packaging and not otherwise labeled as being nut-free (such as with home-baked goods) often had to be confiscated as well. Since the volume of food products that were shipped to students last year dramatically exceeded the amounts sent in past years, this meant that very large amounts of food had to be removed so as not to put our students at risk.</p>
<p>The potential for a severe allergic reaction with our students is simply too high for us take a chance on it; therefore, this year, we ask that you please do not send your child food, snacks, or candy of any kind. Most parents do not send gifts of any kind to their children, but if you want to reach out, you could email funny articles, stories or other encouraging, positive material that will let them know how much you care without putting any of our fellow students at risk.</p>
<p>We appreciate your cooperation and understanding of this matter. If you have questions or concerns, please call our main office at 508.286.5868. Thank you!</p>
<h2 class="<%= xc 'h3' %>" id="my-child-likes-to-walk-around-with-a-layer-of-grime-on-herhis-skin.-how-can-i-be-sure-she-is-practicing-proper-hygiene-while-in-the-program">My child likes to walk around with a layer of grime on her/his skin. How can I be sure s/he is practicing proper hygiene while in the program?</h2>
<p>We understand that for many children, cleanliness is not the top priority. Under the supervision of Residence Directors, your child's Residence Advisors will make sure that your child is showering on a regular basis, brushing her/his teeth, and washing their hands and face before bed. Often, these supervised daily &quot;rituals,&quot; become a regular part of a child's life even after Explo. With luck, you may have a sparkling clean child during the next school year!</p>
<h2 class="<%= xc 'h3' %>" id="im-worried-that-my-child-will-turn-herhis-room-into-a-disaster-area-as-soon-as-i-drop-herhim-off.-how-can-i-be-assured-that-my-child-will-keep-herhis-room-neat">I'm worried that my child will turn her/his room into a disaster area as soon as I drop her/him off. How can I be assured that my child will keep her/his room neat?</h2>
<p>Residential Advisors monitor the cleanliness of student rooms. Residential Directors do a weekly Room Inspection.</p>
<h2 class="<%= xc 'h3' %>" id="what-are-your-policies-regarding-roommate-conflicts">What are your policies regarding roommate conflicts?</h2>
<p>While we attempt to put similar students together based on pre-season Housing Request and Parent Comment forms, there is never a guarantee that roommates will be a perfect match. Our Dean's Office and Residential Staff are trained to work with students to resolve conflicts, and help all students adjust to being part of their new community. In almost every case, our staff has been successful in resolving the conflict.</p>
<p>We will not change a child's room unless there is an exceptional circumstance, and even then, there must be Dean's Office involvement. If you have any questions regarding these Housing policies, please contact your child's Residence Director at 508.286.5868.</p>
<h2 class="<%= xc 'h3' %>" id="my-child-is-homesick-what-can-i-do-to-help">My child is homesick, what can I do to help?</h2>
<p>Homesickness is natural for many children. Pre-departure preparation is the best way to avoid homesickness altogether, or at least lessen its impact. Homesickness may set in if students arrive at the program with either too high or too low expectations for the summer. Before your child leaves, help set realistic expectations about what your child should expect at Explo at Wheaton.</p>
<p>Once the student is at the program, we limit phone calls home and visits. Phone calls and visits are not allowed during the first week of the session. We have found that this forces a child to develop a support network for himself or herself at the program. When your child does call, keep the conversation upbeat, positive, and focused on the child's activities and opportunities at the program. Ask about what activities he/she has been involved in, what he/she has done in his/her courses, what trips he/she has signed up for, who his/her favorite staff member is, what was the most recent Main Event, etc. Be firm in letting your child know that you have great confidence in his or her ability to successfully complete the program... Avoid reminding your child about how much he or she is missed by you, siblings, the family dog, etc... Doing so only serves as a reminder that they are alone in an unfamiliar place.</p>
<p>Don't make &quot;deals.&quot; Some parents, when faced with a child's trepidation about leaving home, make a deal with the child. Before the child arrives at the program, the parent may say, &quot;Try it for a couple of days and if you don't like it you can leave on Tuesday.&quot; Unfortunately, this kind of agreement can be the ABSOLUTE undoing of a successful sleep away experience. Instead of working through the first few days of homesickness — by making friends and taking advantage of activities, courses, etc. — the child can only focus on the parent's promise that he or she can leave within 48 hours.</p>
<p>Our Residential Advisors, Residence Directors, and the Dean of Students are here to help ease students' transition to the program. We look to get homesick children as actively involved in the program as possible. If you have advice, (or need some additional advice) on how to best deal with your child's homesickness, please contact your child's Residence Director at 508.286.5868. Once our Residence Staff has sensed that a child is homesick, we do our best to get him/her involved in groups with other students and engaged in activities that match his/her interests.</p>
<p>Feel free to send your child e-mails (via the Explo at Wheaton Student Email Form), letters, and care packages from home. When you do write, be thoughtful and always keep up a positive, upbeat, supportive tone (remember your child cannot return messages via e-mail).</p>
<h2 class="<%= xc 'h3' %>" id="where-do-i-send-mail-for-my-child">Where do I send mail for my child?</h2>
<p>We strongly encourage writing to your child. Please write to the following address:</p>
<pre><code>NAME OF STUDENT
Living Group (given at registration)
Explo at Wheaton
26 East Main Street
Norton, MA 02766</code></pre>
<p>You may contact your child via email using our <%= link_to 'Contacting Students', dashboard_summer_contact_index_path, class: xc('link') %> form. You can also fax your child letters. Our fax number is 781.996.3139.</p>
<h2 class="<%= xc 'h3' %>" id="i-want-to-visit-my-child-at-the-program.-what-should-i-do">I want to visit my child at the program. What should I do?</h2>
<p>Children cannot receive visitors during the first week of the session, except in the case of emergency. After the first week, visitors are asked to call the Main Office at 508.286.5868 to schedule an appropriate time, which does not conflict with course times. We ask that you schedule your visit at least 24 hours in advance. Friends and relatives of a child may visit and sign the child out of the program from the Main Office as long as they are on the student's Authorized Visitor Form. We encourage visitors to schedule evening sign-outs, rather than overnight. Please bring photo identification to the office when you arrive to visit your child.</p>
<h2 class="<%= xc 'h3' %>" id="how-do-i-get-to-explo-at-wheaton">How do I get to Explo at Wheaton?</h2>
<pre><code>Explo at Wheaton
Wheaton College
26 East Main Street
Norwood, MA 02766</code></pre>
<p>From Boston and Northern New England: Take Interstate 95 south to Exit 6A, Route 495 south. Follow 495 to Exit 11, turn onto 140 south. Follow Route 140 south 2.5 miles. Turn left at the intersection of Routes 140 and 123. Proceed three-tenths of a mile east on Route 123 to the visitors' parking lot, which will be on your left.</p>
<p>From Western Massachusetts: Take the Massachusetts Turnpike (Route 90) to Exit 11A onto Route 495 south. Follow 495 to Exit 11, turn onto 140 south. Follow Route 140 south 2.5 miles. Turn left at the intersection of Routes 140 and 123. Proceed three-tenths of a mile east on Route 123 to the visitors' parking lot, which will be on your left.</p>
<p>From Providence and Southern New England: Take Interstate 95 north. Once in Massachusetts, take Exit 6A. Follow Route 495 south to Exit 11, turn onto 140 south. Follow Route 140 south 2.5 miles. Turn left at the intersection of Routes 140 and 123. Proceed three-tenths of a mile east on Route 123 to the visitors' parking lot, which will be on your left.</p>
<h2 class="<%= xc 'h3' %>" id="where-is-the-explo-at-wheaton-main-office">Where is the Explo at Wheaton Main Office?</h2>
<p>Walk through the front doors of the Balfour-Hood Campus Center. The Main Office is located to your left on the ground floor. Don't worry... it's clearly labeled, and our staff won't bite!</p>
<h2 class="<%= xc 'h3' %>" id="how-does-my-day-student-sign-up-to-stay-overnight">How does my day student sign up to stay overnight?</h2>
<p>Day students are permitted to stay over for any two non-consecutive nights per week. A permission form signed by a parent or guardian must be brought to the child's Day Advisor no later than the Thursday preceding their desired sleepover date. Since sleepovers are slumber-party style, children should bring their own sleeping bags and pillows, as well as toiletries. There is an extra charge taken from the Miscellaneous Account to cover the additional meals.</p>
<p>Students can be picked up the following morning, or they are welcome to participate in the weekend trips.</p>
<h2 class="<%= xc 'h3' %>" id="when-should-i-pick-up-my-child-from-the-program">When should I pick-up my child from the program?</h2>
<p>The departure date for residential students after the first session is Saturday, July 16, 2016. The departure date for the residential students after the second session is Saturday, August 6, 2016. All children MUST leave the program by NOON. Staff members will remain with children until they are picked-up by their parents or guardians. Our buses will take students to the airport from approximately 6:00 a.m. until noon and we will have staff at the airport until 2:00 p.m., if necessary. Our staff will stay with children until they board their planes or until children have formally been placed in custody of airline staff members.</p>

<% end %>
