<% if @enrolled_campuses.include? "Yale University" %>

<!-- last modified 2016.06.17 -->
<h1 class="<%= xc 'h2' %>" id="yale-2016-summer-faq">Yale 2016 Summer FAQ</h1>
<h2 class="<%= xc 'h3' %>" id="how-can-i-check-on-my-child">How can I check on my child?</h2>
<p>We recommend leaving a message for your child to give you a call. Sometimes our students get so wrapped up in their Explo lives that they forget to call home. A gentle reminder via our email form or a phone message can spur your child to action; see <%= link_to 'Contacting Students', dashboard_summer_contact_index_path, class: xc('link') %> for more information on getting in touch.</p>
<p>If you would like to speak to someone at the program about how your child is doing, feel free to contact our Dean's Office at 203.432.1777. A member of the Dean's Office Staff will be able to fill you in on how your child is doing.</p>
<h2 class="<%= xc 'h3' %>" id="when-does-my-child-have-access-to-on-campus-phones">When does my child have access to on-campus phones?</h2>
<p>There is shared phone service, with voicemail, in each student suite for those students who have requested phone service prior to the program. The students within that suite must provide a phone. Students are free to use these phones whenever they are not involved in a required activity such as a course or check-in.</p>
<p>Students will need a calling card number to dial long-distance from the phone in their suite. Good times for students to make calls include breakfast, lunch, and dinner, studio hour, the late afternoon activity periods, and in the early evening.</p>
<h2 class="<%= xc 'h3' %>" id="can-i-send-care-packages">Can I send care packages?</h2>
<p>Yes. Feel free to send toiletries, books, magazines, or other items. Be creative. We have found that students enjoy receiving personalized care packages. Some ideas include newspaper articles featuring local news, clippings of favorite comic strips, stories about favorite sports teams, and special local food treats. Packages should be shipped to our mailing address found under <%= link_to 'Contacting Students', dashboard_summer_contact_index_path, class: xc('link') %>.</p>
<p>I'm worried about the amount of money in my child's Miscellaneous Account. Each student is required to have a Miscellaneous Account at the program which is used to cover the costs of field trips, incidental expenses like lost keys and cards, and meal charges for day students staying late or overnight.</p>
<p>Drawing accounts are not used as personal bank accounts from which students can withdraw money. Personal banking takes place at local banks and/or bank machines. There is an ATM on the Old Campus and there are several other ATM locations within the Program boundaries. Any money that is left over in a student's Drawing Account will be returned to the person responsible for billing in late September.</p>
<h2 class="<%= xc 'h3' %>" id="what-is-the-procedure-when-a-student-is-ill">What is the procedure when a student is ill?</h2>
<p>Explo at Yale maintains a Health Office with nurses on duty 24 hours a day 7 days a week. The office is open all week from 7 a.m. until 11 p.m., and nurses are in the office overnight to care for sick students or for emergencies. Explo's Health Office is the first place for an ill or injured student to go, and the nursing staff dispenses prescription medications. If a student needs to be seen by a physician, Explo staff will take the student to be seen by a local pediatrician. Students who need X-rays or laboratory tests performed are sent to Yale-New Haven Hospital, which is down the street from the Old Campus. Students are always accompanied by a staff member to medical appointments or to Yale-New Haven Hospital, in the event of an emergency or otherwise.</p>
<h2 class="<%= xc 'h3' %>" id="can-i-come-visit-my-child-at-the-program">Can I come visit my child at the program?</h2>
<p>If you'd like to visit your child, you should schedule an appropriate time to come and visit with the student you wish to see. The best times to schedule a visit are either in the late afternoon or early evening (approximately 3:45 - 10:00 p.m.). The student should meet you in the Main Office in Lawrance Hall on the Old Campus. All guests must register in the Main Office to receive a visitor ID, which must be worn at all times.</p>
<p>Students may only have visitors who are over the age of 21 and are specifically named on the Authorized Visitor List by parents or guardians, whether on or off campus. Other than arrival and departure day, parents and family members are not permitted in the residence halls. All visitors will be required to show photo ID. We ask for parents' understanding in these matters. If somebody is not on the Authorized Visitors List, please contact us. You can add a person to the Authorized Visitor list only in writing or by filling out another Authorized Visitor form with your signature.</p>
<h2 class="<%= xc 'h3' %>" id="may-i-or-a-friend-or-relative-of-mine-sign-my-child-out-to-take-them-off-campus">May I or a friend or relative of mine sign my child out to take them off campus?</h2>
<p>A student may sign out for an evening or weekend visit with anyone on his/her Authorized Visitors List by going through our sign-out procedure.</p>
<ol style="list-style-type: decimal">
  <li>Students may not sign out during academic course periods, living group time, or dorm activities.</li>
  <li>Students not staying out overnight must be signed back in by 10:15 p.m.</li>
  <li>Only guests age 21 or over will be permitted to sign a student out.</li>
  <li>Students who are signing out must leave complete information about intended destination, a telephone number where the student can be reached, temporary guardian, and time of return.</li>
  <li>Visitors must be present at the sign out and have a valid photo ID.</li>
</ol>
<p>You should schedule a pick-up time with your child and should meet your child at this time at the Main Office in Lawrance Hall to complete the sign-out process.</p>
<h2 class="<%= xc 'h3' %>" id="where-is-the-main-office">Where is the Main Office?</h2>
<p>Explo at Yale is located in a quadrangle of residence halls called the Old Campus. The Main Office is located on the ground floor of Lawrance Hall at Entrance C. If you are standing at the Phelps Gate facing the quad, Lawrance Hall is the first building on your right.</p>
<h2 class="<%= xc 'h3' %>" id="where-should-i-pick-up-my-day-student">Where should I pick up my day student?</h2>
<p>You should schedule a pick-up time with your day student and have him/her waiting for you when you arrive. Day students should be picked up between the hours of 5:30 p.m. and 10:15 p.m. from Phelps Gate on College Street, about 1/2 of the way between Chapel and Elm Streets. Day students leaving after 5:00pm must first sign out in the Main Office.</p>
<h2 class="<%= xc 'h3' %>" id="how-does-my-day-student-sign-up-to-stay-overnight">How does my day student sign up to stay overnight?</h2>
<p>Students are permitted to stay over up to three nights per week on a space-available basis provided they have registered in advance in the Main Office. (A week runs from Sunday to Saturday.) Students staying overnight will be charged an additional fee from their Miscellaneous Account per overnight to cover meals and custodial services. Students should bring their own linens, personal items, and a towel. Students must sign up with their RAs at the 1:45 p.m. check-in on the day they wish to stay over, in order to be allowed to stay the night. Students wishing to stay over during the weekend must sign up at the 1:45 p.m. check-in on Friday.</p>
<p>Day students may stay with their Living Groups either with friends or in rooms set aside for their use, which are either part of a Living Group or off of a Living Group lounge. For the evenings in which they stay over, day students participate in all check-ins. All residential rules apply to students who are staying late or overnight. Students who abuse this system may lose the opportunity to stay over for a period of time or completely.</p>
<h2 class="<%= xc 'h3' %>" id="my-child-is-homesick-what-can-i-do-to-help">My child is homesick — what can I do to help?</h2>
<p>Our Residential Advisors, Residence Directors, the Assistant Deans, and the Dean of Students are here to help ease students' transition to the Program. We look to get homesick students as actively involved in the Program as possible. If you have advice (or need some additional advice) on how to best deal with your child's homesickness, please contact our Dean's Office at 203.432.1777. One of the Residence Directors, the Assistant Deans, or the Dean of Students would be happy to talk with you. Once our residence staff has identified a homesick student, we do everything we can to get her/him involved in groups with other students and engaged in activities that match his or her interests.</p>
<h2 class="<%= xc 'h3' %>" id="how-do-i-know-that-my-child-is-doing-hisher-laundry">How do I know that my child is doing his/her laundry?</h2>
<p>The residence halls have coin and credit/debit card operated washer and dryer facilities available for students to do their laundry. Students are free to use the laundry facilities at any time the laundry room is staffed and that students are not involved in a required activity, though all washes must be finished by 10:15 p.m. Students may purchase rolls of quarters at the Main Office.</p>
<p>For many students, this is the first time that they have had to do their own laundry. Our Residential Advisors are aware of this, and are available to assist students with the washing machines as necessary. While our Residential Advisors will not be conducting Living Group &quot;Laundry Checks&quot; to ensure that students are doing their laundry, our RAs have their eyes, ears, and noses open and will be available for help as necessary.</p>
<h2 class="<%= xc 'h3' %>" id="how-do-i-know-that-my-child-is-eating-well">How do I know that my child is eating well?</h2>
<p>Our dining hall is open three times a day, serving breakfast (M-F 7:30 - 8:30 a.m.; Weekends 8:00 - 10:00 a.m.), lunch (12:30 - 1:30 p.m.), and dinner (M-F 6:00 - 7:30 p.m.; Weekends 6:00 - 8:00 p.m.). During each meal, there are a variety of different healthy (and tasty) food options. There are always hot entrees, vegetarian options, a full-service salad bar, and plenty of fruits and vegetables. Bread, cereal, and ice cream are always available. Meals are all-you-can-eat, and students come and go during meals as they please. While we do not take roll call at meals, our Residential and Day Advisors do check in with students and are on the lookout to make sure that students are eating consistently and generally eating well.</p>
<p>If you have any specific concerns about your son or daughter's eating habits, don't hesitate to call the Dean's Office at 203.432.1777.</p>
<h2 class="<%= xc 'h3' %>" id="are-students-allowed-to-have-food-in-their-rooms">Are students allowed to have food in their rooms?</h2>
<p>Students should keep only minimal food in their rooms — including only non-perishable snack items (pretzels, candy, etc.). Refrigerators are available in each Living Group lounge, where students can label and store other items. (Refrigerators are not allowed in student rooms.)</p>
<h2 class="<%= xc 'h3' %>" id="what-are-your-policies-regarding-roommate-conflicts">What are your policies regarding roommate conflicts?</h2>
<p>We attempt to room students based on the information you have provided us on our Housing Questionnaire to help guide this process, but there are no guarantees that two roommates will be perfect for one another. Our Dean's Office and residence staff are well-trained to help all students adjust to living with a roommate and to being part of a new community.</p>
<p>We attempt to work through all roommate conflicts. We do not allow room or suite changes except under exceptional circumstances, and then only by permission of the Dean of Students. If you have any questions on these policies, feel free to contact our Dean's Office at 203.432.1777.</p>
<h2 class="<%= xc 'h3' %>" id="when-can-my-child-go-swimming">When can my child go swimming?</h2>
<p>Students may swim in the pool at the Payne Whitney Gym. Specifics about swimming hours, requirements, etc. will be given to students at the program. Several trips have swimming/water sports options (Six Flags New England, Lake Compounce, white water rafting,, beach trip, etc.).</p>
<h2 class="<%= xc 'h3' %>" id="i-understand-that-students-are-allowed-to-go-into-new-haven.-i-am-concerned-about-their-supervision-while-they-are-in-town.-how-well-are-they-supervised">I understand that students are allowed to go into New Haven. I am concerned about their supervision while they are in town. How well are they supervised?</h2>
<p>In the late afternoon, students may enjoy planned activities led by our staff, or they may spend time with friends within the Program-established boundaries of the central campus area (about six square blocks). This area includes the main undergraduate library, two art museums, and two shopping areas: Chapel Street and York Square. Students may visit the shopping areas from 3:45 - 7:30 p.m. during the week and until 8:30 p.m. on Saturdays and Sundays. Students are encouraged to walk with a companion or in a group. The town boundaries are very clearly designated at the beginning of the program, and staff is stationed in town wearing orange staff shirts to ensure student safety.</p>
<h2 class="<%= xc 'h3' %>" id="when-should-i-pick-up-my-child">When should I pick up my child?</h2>
<p>All students must be signed out, with their keys returned no later than 12:00 NOON on departure day. Students Departing by Car: All students and student belongings will be outside of the residential buildings by 9:00 a.m. on departure day. We urge parents to pick up students earlier rather than later. Students may be picked up by their parents as early as 5:00 a.m. Please arrange a departure time in advance with your child so he/she will be prepared to leave when you arrive.</p>
<p>Students Departing by Train or Plane: All students departing by train or plane are encouraged to turn in their passports, tickets, and other travel documents to the Dean's Office at the beginning of each session. Our office staff compiles a list of student departure times and schedules students to appropriate buses going to both JFK International Airport and Union Train Station in New Haven. These lists are posted during the last week of the program.</p>
<p>Staff are stationed at the airport and will help assist students in finding their appropriate check-in counter and flight.</p>

<% end %>
