<% unless flash.empty? %>
  <div class="mv4">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <%= content_tag :div, raw(msg), :class => xc("flash-#{name}") %>
      <% end %>
    <% end %>
  </div>
<% end %>
