<footer class="w-100 mw8-l center pv3 pl4 pr2 x-coolgray x-bg-palebrown cf">
  <div class="di-ns">
    <a href="http://www.explo.org" class="<%= xc 'link' %>" target="blank">Explo</a>
  </div>
  <div class="di-l ml4-l">932 Washington Street • Norwood, MA 02062 • USA </div>
  <div class="di-l ml3-l">Phone: 781.762.7400 </div>
  <div class="di-l ml3-l">Fax: 781.762.7425 </div>
</footer>
