<header class="w-100 cf x-bg-palebrown">
  <div class="fl w-100 w-20-l pa2 x-bg-orange">
    <%= image_tag "explo_logo_white.png", alt: "Logo", class: "mt1 ml3 ml1-l", style: "height: 50px;" %>
  </div>
  <div class="fl w-100 w-80-l pa2 f6 f5-l">
    <div class="dt pt0">
      <span class="pl3 dtc pt2-l f4 f3-l x-museo fw7">Student Portal</span>
      <% unless @current_user.nil? %>
        <span class="pl3 pl4-ns dtc"><%= link_to 'Dashboard', dashboard_index_url, class: xc('link', add: [(current_page?(dashboard_index_url) || current_page?(root_url) ? 'underline' : '')]) %></span>
        <span class="pl3 pl4-ns pr1 dtc"><%= link_to 'Summer Forms', forms_home_url, class: xc('link', add: [(current_page?(forms_home_url) ? 'underline' : '')]) %></span>
      <% end %>
      <% unless @days_left.nil? %>
        <span class="tr pl4 dtc x-coolgray i fw3"><%= h @days_left %> Days until Explo!</span>
      <% end %>
    </div>
  </div>
</header>
