<!DOCTYPE html>
<html lang="en" class="w-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="author" content="Explo">
    <meta name="description" content="Portal">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>
    <script src='//use.typekit.com/bqx5yny.js'></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <title>Explo → Portal</title>
  </head>
