<% @email_link = "http://summer-email.explo.org/message?sender-name=#{u @current_profile.full_name}&sender-email=#{u @current_profile.email}&student-name=#{u(@current_user.get_key('first_name') + " " + @current_user.get_key('last_name'))}" %>

<% if @enrolled_campuses.include? "Yale University" %>
  <h1 class="<%= xc 'h2' %>">Contacting Explo at Yale Students</h1>
  <h2 class="<%= xc 'h3' %>">Via Snail Mail</h2>
  <p>Mail is distributed to residential students during 7:00 p.m. living group meetings. Due to Explo at Yale&#39;s urban summer location, we have two mailing addresses; each for a different kind of mail. Please send mail for students to the appropriate address as listed below:<br>
    <br>
    <span class="b">For letters and US postal packages:</span class="b"><br>
    NAME OF STUDENT<br>
    Living Group Number (given at registration)<br>
    Explo at Yale<br>
    PO Box 205187<br>
    New Haven, CT 06520-5187<br>
    <br>
    <span class="b">For FedEx, UPS, and all other carrier packages<br>
    (including deliveries of flowers, cakes, etc.):</span><br>
    NAME OF STUDENT<br>
    Explo at Yale<br>
    Lawrance Hall C11<br>
    358 College Street<br>
    New Haven, CT 06511
  </p>

  <h2 class="<%= xc 'h3' %>">Via Email</h2>
  <p>
    If students have personal email accounts which may be accessed via the internet, they can check their email during open hours in Explo computer labs. Alternatively, by using our <%= link_to 'student email form', @email_link, target: 'email', class: xc('link') %>, you may send a residential student an email message directly from our website. Your message will be printed and delivered in living group meetings. Because of timeliness issues and the fact that we do not offer a mail call for our day program, email service is not available for day students.<br>
    <br>
    Email messages submitted via the student email form will be printed and delivered as quickly as possible, but may arrive in students' hands as late as 36 hours after we have received the email. Therefore, please do not send important, dated messages via this email process. Urgent and important messages should be left by contacting the Explo at Yale Main Office by phone or fax (see below).
  </p>

  <h2 class="<%= xc 'h3' %>">Via Phone</h2>
  <p>
    Phone messages can be left with the Explo at Yale Main Office at 203.432.1777. Phone messages for day students will be posted on the telephone message board. Phone messages for residential students will be delivered during 7:15 PM living group meetings. Only messages will be taken; students will not be called to the phone. Please make arrangements with students to call you from an on-campus phone.
  </p>
  <h2 class="<%= xc 'h3' %>">Via Fax</h2>
  <p>
    Fax messages can be left with the Explo at Yale Main Office at 781.996.3143. Fax messages for day students will be posted on the telephone message board. Fax messages for residential students will be delivered during 7:15 p.m. living group meetings.
  </p>
<% end %>



<% if @enrolled_campuses.include? "Wellesley College" %>
  <h1 class="<%= xc 'h2' %>">Contacting Explo at Wellesley Students</h1>

  <h2 class="<%= xc 'h3' %>">Via Snail Mail</h2>
  <p>
    Mail is distributed to residential students during 6:30 PM living group meetings. Please address your letters and packages as follows:<br>
    <br>
    NAME OF STUDENT<br>
    Living Group Number (given at registration)<br>
    Explo at Wellesley<br>
    Wellesley College<br>
    Tower Court<br>
    106 Central Street<br>
    Wellesley, MA 02481<br>
  </p>
  <p>
    <span class="i">If sending packages, please remember our program is nut-free. Please check to ensure any food products were not manufactured with nut products before sending.</span>

  <h2 class="<%= xc 'h3' %>">Via Email</h2>
  <p>
    If students have personal email accounts which may be accessed via the internet, they can check their email during open hours in Exploration computer labs. Please note: Computer labs for personal email accounts cannot be used until the first Friday of the each session.<br>
    <br>
    Alternatively, by using our <%= link_to 'student email form', @email_link, target: 'email', class: xc('link') %>, you may send a residential student an email message directly from our website which will be printed and delivered in living group meetings. Because of timeliness issues and the fact that we do not offer a mail call for our day program, email service is not available for day students.<br>
    <br>
    Email messages submitted via the student email form will be printed and delivered as quickly as possible, but may arrive in students hands as late as 36 hours after we have received the e-mail. Therefore, please do not send important, dated messages via this email process. Urgent and important messages should be left by contacting the Explo at Wellesley Main Office by phone or fax (see below).
  </p>

  <h2 class="<%= xc 'h3' %>">Via Phone</h2>
  <p>
    Phone messages can be left with our main office at 781.283.3781. Phone messages for day students will be delivered at the late afternoon check-in. Phone messages for residential students will be delivered during 6:30 PM living group meetings. Only messages will be taken; students will not be called to the phone. Please make arrangements with students to call you from an on-campus phone.
  </p>

  <h2 class="<%= xc 'h3' %>">Via Fax</h2>
  <p>
    Fax messages can be left with our main office at 781.810.8149. Fax messages for day students will be posted on the telephone message board. Fax messages for residential students will be delivered during late afternoon living group meetings.
  </p>
<% end %>



<% if @enrolled_campuses.include? "Wheaton College" %>
  <h1 class="<%= xc 'h2' %>">Contacting Explo at Wheaton Students</h1>

  <h2 class="<%= xc 'h3' %>">Via Snail Mail</h2>
  <p>
    Mail is distributed to residential students during living group meetings. Please address your letters and packages as follows:<br>
  <br>
  NAME OF STUDENT<br>
  Living Group (given at registration)<br>
  Explo at Wheaton<br>
  c/o Wheaton College<br>
  26 East Main Street<br>
  Norton, MA 02766<br>
  </p>
  <p>
    <span class="i">If sending packages, please remember our program is nut-free. Please check to ensure any food products were not manufactured with nut products before sending.</span>
  </p>
  <h2 class="<%= xc 'h3' %>">Via Email</h2>
  <p>
    While Explo at Wheaton students do not have access to internet email accounts, you can use our student email form to <%= link_to 'send a residential student an email message directly from our website', @email_link, target: 'email', class: xc('link') %>. Your message will be printed and delivered during living group meetings. Although Explo at Wheaton students will not be able to respond to your emails electronically, they love getting extra mail during their living group meetings. Because of timeliness constraints, this email service is not available for day students.<br>
  <br>
  Email messages submitted via the student email form will be printed and delivered as quickly as possible, but may arrive in students' hands as late as the next day after we have received the email. Therefore, please do not send important, dated messages via this email process. Urgent and important messages should be left by contacting the Explo at Wheaton Main Office by phone or fax (see below).<br>
  </p>

  <h2 class="<%= xc 'h3' %>">Via Phone</h2>
  <p>
    Phone messages can be left with the Explo at Wheaton Main Office at 508.286.5868 and will be delivered to students during day and living group meetings. Only messages will be taken; students will not be called to the phone. Please make arrangements with students to call you from an on-campus phone at the designated calling times.<br>
  <br>
  <span class="b i">Please Note: Explo at Wheaton students are not allowed to make calls during the first week of each session. This is to allow students to settle into the program and to avert as much homesickness as possible.</span><br>
  </p>
  <h2 class="<%= xc 'h3' %>">Via Fax</h2>
  <p>
    Fax messages can be left with our Main Office at 781.996.3139. Fax messages will be delivered during day and living group meetings. Please note that students will not be able to send return faxes.
  </p>
<% end %>
