<% open_tag = "<li>" unless open_tag %>
<% close_tag = "</li>" unless open_tag %>

<% if user_match 's2_program_name', 'Explo at Yale' %>
<%= raw open_tag %><%= link_to 'Click here', 'http://www.explo.org/360/yale/arrival_departure', :target=>'arrival_departure_info', class: xc('link') %><%= raw close_tag %>
<% elsif user_match 's2_program_name', 'Explo at Wellesley' %>
<%= raw open_tag %><%= link_to 'Click here', 'http://www.explo.org/360/wellesley/arrival_departure', :target=>'arrival_departure_info', class: xc('link') %><%= raw close_tag %>
<% elsif user_match 's2_program_name', 'Explo at Wheaton' %>
<%= raw open_tag %><%= link_to 'Click here', 'http://www.explo.org/360/wheaton/arrival_departure', :target=>'arrival_departure_info', class: xc('link') %><%= raw close_tag %>
<% elsif user_match 's2_program_name', 'Explo Foreign Affairs' %>
<%= raw open_tag %><%= link_to 'Click here', 'http://www.explo.org/focus/foreignaffairs/arrival_departure', :target=>'arrival_departure_info', class: xc('link') %><%= raw close_tag %>
<% elsif user_match 's2_program_name', 'Explo Marketing' %>
<%= raw open_tag %><%= link_to 'Click here', 'http://www.explo.org/focus/marketing/arrival_departure', :target=>'arrival_departure_info', class: xc('link') %><%= raw close_tag %>
<% elsif user_match 's2_program_name', 'Explo Chef' %>
<%= raw open_tag %><%= link_to 'Click here', 'http://www.explo.org/focus/chef/arrival_departure', :target=>'arrival_departure_info', class: xc('link') %><%= raw close_tag %>
<% elsif user_match 's2_program_name', 'Explo Ortho' %>
<%= raw open_tag %><%= link_to 'Click here', 'http://www.explo.org/focus/ortho/arrival_departure', :target=>'arrival_departure_info', class: xc('link') %><%= raw close_tag %>
<% elsif user_match 's2_program_name', 'Explo Startup' %>
<%= raw open_tag %><%= link_to 'Click here', 'http://www.explo.org/focus/startup/arrival_departure', :target=>'arrival_departure_info', class: xc('link') %><%= raw close_tag %>
<% elsif user_match 's2_program_name', 'Explo ER' %>
<%= raw open_tag %><%= link_to 'Click here', 'http://www.explo.org/focus/er/arrival_departure', :target=>'arrival_departure_info', class: xc('link') %><%= raw close_tag %>
<% elsif user_match 's2_program_name', 'Explo Vet' %>
<%= raw open_tag %><%= link_to 'Click here', 'http://www.explo.org/focus/vet/arrival_departure', :target=>'arrival_departure_info', class: xc('link') %><%= raw close_tag %>
<% elsif user_match 's2_program_name', 'Explo Maker' %>
<%= raw open_tag %><%= link_to 'Click here', 'http://www.explo.org/focus/maker/arrival_departure', :target=>'arrival_departure_info', class: xc('link') %><%= raw close_tag %>
<% elsif user_match 's2_program_name', 'Explo English' %>
<%= raw open_tag %><%= link_to 'Click here', 'http://www.explo.org/english/wheaton/arrival_departure', :target=>'arrival_departure_info', class: xc('link') %><%= raw close_tag %>
<% end %>
