<% if object && object.errors.any? %>
  <div class="mv4 pa3 br1 x-bg-palered x-red">
    <div class="b"><%= pluralize(object.errors.count, "error") %> prohibited this form from being saved:</div>
    <ul class="list pl0">
    <% object.errors.each do |attr, msg| %>
      <li><%= h msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
