<% if @disabled %>
  <%= button_to(" Return to Dashboard", root_url, class: xc('btn', add: ["mt3"])) %>
<% else %>
  <p class="mt4">
    When you have completed this form, please click the "send form" button below.
  </p>
  <%= f.submit "Send Form", :confirm => "Are you sure? You will not be able to edit the content of this form after it has been submitted.", :disabled => @disabled, class: xc('btn-l', add: ["mt3"]) %>
<% end %>
