<% if @current_user.get_key 'enrollment_date' %>
  <% if DateTime.strptime(@current_user.get_key('enrollment_date'), '%Y-%m-%d') < DateTime.strptime("#{@current_year}-03-15", '%Y-%m-%d') %>
    <% extra_text ||= nil %>
    <% if Time.now < DateTime.strptime("#{@current_year}-03-15", '%Y-%m-%d') %>
      <%= extra_text.nil? ? "Due" : "#{extra_text} due" %> on or before April 1, <%= @current_year %>
    <% end %>
  <% else %>
    <%= extra_text.nil? ? "Due" : "#{extra_text} due" %> 2 Weeks After Confirmation
  <% end %>
<% end %>
