<div class="pb2 pl2 pl0-l">
  <div class="f3 x-museo fw7"><%= "#{h(user_info('first_name'))} #{h(user_info('last_name'))}" %></div>

  <% if is_admin %>
    <div class="f6">
      <%= link_to "User Search", admin_user_search_index_path, class: xc('link', add: ["x-aquablue"]) %>
    </div>
  <% end %>

  <div class="mt1 f6">
    <% if @current_profile.users.count > 1 %>
      <%= link_to "Switch Students", '/select_user', class: xc('link') %> •
    <% end %>
    <%= link_to "Change Password", :reset_password, class: xc('link') %>
    • <%= link_to "Add Email", new_users_profile_association_path, class: xc('link') %>
    • <%= link_to "Log Out", :logout, class: xc('link') %>
  </div>
</div>
