<div id='form'>
  <%= form_for @requirement_def, html: { multipart: true } do |f| %>
    <%= render partial: 'common/form_errors', locals: { object: @requirement_def } %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_area :name %>
    </div>
    <div class="field">
      <%= f.label :requirement_type %><br />
      <%= f.text_field :requirement_type %>
    </div>
    <div class="field">
      <%= f.label :category %><br />
      <%= f.text_field :category %>
    </div>
    <div class="field">
      <%= f.label :short_code %><br />
      <%= f.text_field :short_code %>
    </div>
    <div class="field">
      <%= f.label :sort_order %><br />
      <%= f.text_field :sort_order %>
    </div>
    <div class="field">
      <%= f.label :action %><br />
      <%= f.text_field :action %>
    </div>
    <div class="field">
      <label>
        DocuSign Template ID<br />
        <%= f.text_field :docusign_template_id %>
      </label>
    </div>
    <div class="field">
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
    <div>
    <p class="actions">
      <%= f.submit %>
    </p>
  <% end %>
</div>
