<h1>Listing requirement_defs</h1>

<table style='min-width: 1200px'>
  <tr>
    <th>Name</th>
    <th>Requirement type</th>
    <th>Category</th>
    <th>Short Code</th>
    <th>Sort Order</th>
    <th>Action</th>
    <th>DocuSign ID</th>
    <th></th>
  </tr>

<% @requirement_defs.each do |requirement_def| %>
  <tr>
    <td><%= raw requirement_def.name %></td>
    <td><%= requirement_def.requirement_type %></td>
    <td><%= requirement_def.category %></td>
    <td><%= requirement_def.short_code %></td>
    <td><%= requirement_def.sort_order %></td>
    <td><%= requirement_def.action %></td>
    <td><%= requirement_def.docusign_template_id %></td>
    <td>
      <%= link_to 'Edit', edit_requirement_def_path(requirement_def) %>
      <%= link_to 'Destroy', requirement_def_path(requirement_def), confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Requirement def', new_requirement_def_path %>
