<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @requirement_def.name %>
</p>

<p>
  <b>Requirement type:</b>
  <%= @requirement_def.requirement_type %>
</p>

<p>
  <b>Action:</b>
  <%= @requirement_def.action %>
</p>

<p>
  <b>Category:</b>
  <%= @requirement_def.category %>
</p>

<p>
  <b>Attachment:</b>
  <%= link_to(image_tag(@requirement_def.attachment.url(:preview)), @requirement_def.attachment.url, :target => 'blank') %>
</p>

<%= link_to 'Edit', edit_requirement_def_path(@requirement_def) %> |
<%= link_to 'Back', requirement_defs_path %>
