<%= render 'common/html/top' %>
<body class="w-100 avenir f5 fw5 x-gray lh-copy">
  <div class="w-100 mw8-l center cf">
    <%= render 'common/html/header' %>
    <%= render 'common/html/flash' %>
    <div class="ph3">
      <%= yield %>
    </div>
  </div>
</body>
<%= render 'common/html/bottom' %>
