<%= render 'common/html/top' %>
<body class="w-100 avenir f5 fw5 x-gray lh-copy">
  <div class="w-100 mw8-l center cf">
    <%= render 'common/html/header' %>
    <div class="dn-l pt1 ph3 x-bg-palebrown">
      <%= render 'common/user_info' %>
    </div>

    <div class="flex-l">
      <!-- main -->
      <div class="fl w-100 w-70-l mw7-m ph4 pb4">
        <%= yield %>
      </div>
      <!-- sidebar -->
      <div class="fl w-100 w-30-l mt4 mt0-ns pa4 x-bg-palebrown self-stretch">
        <%= render 'dashboard/sidebar' %>
      </div>
    </div>
  </div>
  <%= render 'common/html/footer' %>
</body>
<%= render 'common/html/bottom' %>
