<%= render 'common/html/top' %>
<body class="w-100 avenir f5 fw5 x-gray lh-copy">
  <div class="w-100 mw8-l center cf">

    <%= render 'common/html/header' %>
    <div class="dn-l pt1 ph3 x-bg-palebrown">
      <%= render 'common/user_info' %>
    </div>

    <div class="flex-l">
      <!-- main -->
      <div class="fl w-100 w-70-l mw7-m ph4 pb4">
        <%= yield %>
      </div><!-- main -->

      <!-- sidebar -->
      <div class="fl w-100 w-30-l mt4 mt0-ns pa4 x-bg-palebrown self-stretch">
        <div class="dn db-l">
          <%= render 'common/user_info' %>
        </div>

        <% if @required_forms %>
          <div class="w-75-m mt4 pt1 pb3 ph3 ba br2 x-b--lightorange bg-white">
            <h1 class="<%=xc('h3')%>">
              <%= link_to 'Required Forms', forms_home_path, class: xc('link') %>
            </h1>
            <div class='f6 x-coolgray mb2'> <%= render 'common/forms_due_date' %></div>
            <%= render :partial => 'requirements/requirement', :collection => @required_forms %>
          </div>
        <% end %>
        <div class="w-75-m mt4 pt1 pb3 ph3 ba br2 x-b--lightorange bg-white">
          <h1 class="<%=xc('h3')%>">
            <%= link_to 'Optional Forms', forms_home_path, class: xc('link') %>
          </h1>
          <%= render :partial => 'requirements/requirement', :collection => @optional_forms %>
        </div>
        <% unless @trip_waivers.empty? %>
          <div class="w-75-m mt4 pt1 pb3 ph3 ba br2 x-b--lightorange bg-white">
            <h1 class="<%=xc('h3')%>">
              <%= link_to 'Trip Waivers', forms_home_path, class: xc('link') %>
            </h1>
            <%= render :partial => 'requirements/requirement', :collection => @trip_waivers %>
          </div>
        <% end %>
      </div><!-- sidebar -->
    </div>

  </div>
  <%= render 'common/html/footer' %>
</body>
<%= render 'common/html/bottom' %>
