<h1 class="<%= xc('h2') %>">Student Technology Form</h1>

<%= render :partial => 'common/form_errors', :locals => { :object => @student_tech_form } %>

<%= form_for @student_tech_form, html: {class: xc('form-wide', add: ["mt4"])} do |f| %>
  <% if (user_match('s1_campus','Yale University') || user_match('s2_campus','Yale University')) %>
    <%= f.hidden_field :is_yale, :value => true %>
    <h2 class="<%= xc('h3') %>">Google Drive Account</h2>
    <p>
      During the summer at Explo, students have access to campus computer labs during scheduled down time and in select courses and workshops. Because these machines are reset every evening, student work cannot be saved directly on the computers. As a solution, we require all Explo students to have registered a Google Drive account, where they may store their work from the summer.  Additionally, Google Drive is the mechanism through which digital student projects from courses (such as videos, photography, writing, etc.) will be transferred to students for access after the summer.  
    </p>
    <p>
      Google Drive (with 15 GB of storage) is available free of charge with the registration of a @gmail.com email address. If your child already has an @gmail.com account, please enter the email address below. Click here if you need to <%= link_to 'activate a new account', 'https://accounts.google.com/signup', target: 'google_signup', class: xc('link') %>.
    </p>
    <p>
      If you have any questions about the use of Google Drive during the summer, please contact our Admission Office at 781.762.7400 or <%= mail_to 'summer@explo.org', 'summer@explo.org', class: xc('link') %>.
    </p>

    <div class="mt3">
      <label class="<%= xc('label') %>">What is your @gmail.com email address?
        <%= f.text_field :google_email_address, :disabled => @disabled, class: xc('input-text-narrow') %>
      </label>
    </div>
  <% end %>

  <h2 class="<%= xc('h3') %>">Student Cell Phone Information</h2>

  <% if (user_match('s1_campus','Yale University') || user_match('s2_campus','Yale University')) %>
    <p>
      Students are allowed to carry cell phones at Explo at Yale, though they may not be used during class periods, living group time, check-ins, and other formal meeting periods. While cell phones are allowed, they are not required, and we encourage students who have phones to pocket them as much as possible, so they can better engage with the Explo community around them during the summer.
    </p>
    <p>
      Explo collects student cell phone information during the summer so that — in the event of an emergency or changes to the schedule due to inclement weather — we can contact students directly on their phone via text message.
    </p>
    <p>
      If you have any questions about our cell phone policy, please contact our Admission Office at 781.762.7400 or <%= mail_to 'yale@explo.org', 'yale@explo.org', class: xc('link') %>.
    </p>
  <% elsif (user_match('s1_campus','Wellesley College') || user_match('s2_campus','Wellesley College')) %>
    <p>
      To help students best integrate with the Explo community, students are not allowed to have cell phones for the vast majority of their time at Explo at Wellesley. In the past, we have discovered that cell phone/smart phone usage has a tendency to isolate students from the community at large. When we remove technology from students, they are more active and engaged with their peers and the activities and options available to them.
    </p>
    <p>
      Residential students who do bring cell phones to campus will have them collected at registration. Cell phones will be stored in a safe place until just before the evening cruise on the third week of the session, when they will be returned to students for use in collecting friends’ contact information.
    </p>
    <p>
      Day students who need to access a personal cell phone when commuting to Explo should power them off before arriving on-campus, then store them unseen in a backpack. Cell phones that are visible or used on-campus before the final Wednesday evening of the program will be confiscated by our staff and returned directly to a students’ parents or guardians.
    </p>
    <p>
      If you have any questions about our cell phone policy, please contact our Admission Office at 781.762.7400 or <%= mail_to 'wellesley@explo.org', 'wellesley@explo.org', class: xc('link') %>.
    </p>
  <% end %>

  <div class="mt3 mb2 b">
    Will your child be bringing a cell phone to campus?
  </div>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :bringing_cell_phone, :true, :disabled => @disabled %>
    <span class="pl1">Yes</span>
  </label>
  <label class="<%= xc('label') %>">
    <%= f.radio_button :bringing_cell_phone, :false, :disabled => @disabled %>
    <span class="pl1">No</span>
  </label>

  <% if (user_match('s1_campus','Yale University') || user_match('s2_campus','Yale University')) %>
    <div id="cell-phone-no" class="dn">
      <div class="mt3 mb2 b">
        Would you like to participate in our device rental program?
      </div>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :will_rent_device, :true, :disabled => @disabled %>
        <span class="pl1">Yes</span>
      </label>
      <label class="<%= xc('label') %>">
        <%= f.radio_button :will_rent_device, :false, :disabled => @disabled %>
        <span class="pl1">No</span>
      </label>
    </div><!-- cell-phone-no -->
  <% end %>

  <div id="cell-phone-yes" class="dn">
    <div class="<%= xc('label') %>">
      What is your child's cell phone number?
    </div>
    <%= f.text_field :mobile_phone_number, :disabled => @disabled, class: xc('input-text-narrow') %>
    <div class="mt3 mb2 b">
      Can this phone send and receive text messages?
    </div>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :mobile_phone_can_sms, :true, :disabled => @disabled %>
      <span class="pl1">Yes</span>
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :mobile_phone_can_sms, :false, :disabled => @disabled %>
      <span class="pl1">No</span>
    </label>
    <div class="mt3 mb2 b">
      Does this phone have a data plan for internet access?
    </div>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :mobile_phone_has_data, :true, :disabled => @disabled %>
      <span class="pl1">Yes</span>
    </label>
    <label class="<%= xc('label') %>">
      <%= f.radio_button :mobile_phone_has_data, :false, :disabled => @disabled %>
      <span class="pl1">No</span>
    </label>
  </div><!-- cell-phone-yes -->

  <%= render :partial => 'common/form_submit', :locals => { :f => f, :disabled => @disabled } %>
<% end %>
